<%= form_for :geo_entity, :url => collection_url, :remote => true do |f| %>

  <%= error_messages_for(@geo_entity) %>

  <label>Iso code 2</label><%= f.text_field :iso_code2 %><br />
  <p>Name</p>
  <label>EN</label> <%= f.text_field :name_en %><br />
  <label>ES</label> <%= f.text_field :name_es %><br />
  <label>FR</label> <%= f.text_field :name_fr %><br />
<% end %>