<%= form_for :geo_entity, :url => collection_url, :remote => true do |f| %>

  <%= error_messages_for(@geo_entity) %>

  <label>Geo entity type</label>
  <%= f.select :geo_entity_type_id,
    options_from_collection_for_select(@geo_entity_types, :id, :name, @geo_entity && @geo_entity.geo_entity_type_id)
  %><br />
  <label>Iso code 2</label><%= f.text_field :iso_code2 %><br />
  <label>Iso code 3</label><%= f.text_field :iso_code3 %><br />
  <p>Name</p>
  <label>EN</label> <%= f.text_field :name_en %><br />
  <label>ES</label> <%= f.text_field :name_es %><br />
  <label>FR</label> <%= f.text_field :name_fr %><br />
  <label>Is current?
    <%= f.check_box :is_current %>
  </label>
<% end %>