<thead>
  <th width="10%">Iso code 2</th>
  <th width="10%">Iso code 3</th>
  <th>Name</th>
  <th width="20%">Actions</th>
</thead>
<tbody>
  <% collection.each do |geo_entity| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="geo_entity" data-name="iso_code2"
          data-placeholder="Required" data-original-title="Enter the geo_entity iso_code2"
          data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
          <%= geo_entity.iso_code2 %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="geo_entity" data-name="iso_code3"
          data-placeholder="Required" data-original-title="Enter the geo_entity iso_code3"
          data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
          <%= geo_entity.iso_code3 %>
        </a>
      </td>
      <td>
        <dl>
          <dt>EN</dt>
          <dd>
          <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="geo_entity" data-name="name_en"
            data-original-title="Enter the name in English"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_en %>
          </a>
          </dd>
          <dt>ES</dt>
          <dd>
          <a href="#" class="editable editable-click" data-type="text" data-resource="geo_entity" data-name="name_es"
            data-original-title="Enter the name in Spanish"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_es %>
          </a>
          </dd>
          <dt>FR</dt>
          <dd>
          <a href="#" class="editable" data-type="text" data-resource="geo_entity" data-name="name_fr"
            data-original-title="Enter the name in French"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_fr %>
          </a>
          </dd>
        </dl>
      </td>
      <td>
        <%= link_to 'Delete', resource_url(geo_entity), :confirm => "Are you sure?", :method => :delete %>
        <%= link_to 'Edit relationships', edit_relationships_admin_country_url(geo_entity) %>
      </td>
    </tr>
  <% end -%>
</tbody>