<thead>
  <th width="10%">Iso code 2</th>
  <th width="10%">Iso code 3</th>
  <th width="10%">Type</th>
  <th>Name</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |geo_entity| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="geo_entity" data-name="iso_code2"
          data-placeholder="Required" data-original-title="Enter the geo_entity iso_code2"
          data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
          <%= geo_entity.iso_code2 %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="geo_entity" data-name="iso_code3"
          data-placeholder="Required"
          data-original-title="Enter the geo_entity iso_code3"
          data-url="<%= resource_url(geo_entity) %>"
          data-pk="<%= geo_entity.id %>">
          <%= geo_entity.iso_code3 %>
        </a>
      </td>
      <td>
        <a href="#" id="geo-entity-type-<%= geo_entity.id %>"
          class="editable editable-click editable-required editable-geo-entity-type" data-type="select"
          data-resource="geo_entity" data-name="geo_entity_type_id"
          data-placeholder="Required"
          data-original-title="Enter the geo_entity type"
          data-url="<%= resource_url(geo_entity) %>"
          data-pk="<%= geo_entity.id %>">
          <%= geo_entity.geo_entity_type.name %>
        </a>
      </td>
      <td>
        <dl>
          <dt>EN</dt>
          <dd>
          <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="geo_entity" data-name="name_en"
            data-original-title="Enter the name in English"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_en %>
          </a>
          </dd>
          <dt>ES</dt>
          <dd>
          <a href="#" class="editable editable-click" data-type="text" data-resource="geo_entity" data-name="name_es"
            data-original-title="Enter the name in Spanish"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_es %>
          </a>
          </dd>
          <dt>FR</dt>
          <dd>
          <a href="#" class="editable" data-type="text" data-resource="geo_entity" data-name="name_fr"
            data-original-title="Enter the name in French"
            data-url="<%= resource_url(geo_entity) %>" data-pk="<%= geo_entity.id %>">
            <%= geo_entity.name_fr %>
          </a>
          </dd>
        </dl>
      </td>
      <td>
        <%= link_to 'Delete', resource_url(geo_entity), :confirm => "Are you sure?", :method => :delete %>
        <%= link_to 'Edit relationships', admin_geo_entity_geo_relationships_url(geo_entity) %>
      </td>
    </tr>
  <% end -%>
</tbody>