<%= taxon_concept_internal_note_tab_display(@taxon_concept.nomenclature_comment) %>
<div class="row-fluid">
  <div class="span4">
    <h3>Synonyms</h3>
    <%= admin_add_new_synonym_button %>
    <%= admin_new_synonym_modal(nested: true) %>
    <hr>
    <div id="synonyms-list">
      <% if @taxon_concept.has_synonyms? %>
        <%= render 'admin/synonym_relationships/list' %>
      <% else %>
        No synonyms defined.
        <ul></ul>
      <% end %>
    </div>

    <h3>Trade names</h3>
    <%= admin_add_new_trade_name_button %>
    <%= admin_new_trade_name_modal(nested: true) %>
    <hr>
    <div id="trade_names-list">
      <% if @taxon_concept.has_trade_names? %>
        <%= render 'admin/trade_name_relationships/list' %>
      <% else %>
        No trade names defined.
        <ul></ul>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <h3>Common name</h3>
    <%= admin_add_new_common_name_button %>
    <%= admin_new_common_name_modal %>

    <hr>

    <div id="taxon-commons-list">
      <%= render "admin/taxon_commons/list" %>
    </div>
  </div>

  <div class="span4">
    <h3>Hybrids</h3>
    <%= admin_add_new_hybrid_button %>
    <%= admin_new_hybrid_modal(nested: true) %>
    <hr>
    <div id="hybrids-list">
      <% if @taxon_concept.has_hybrids? %>
        <%= render 'admin/hybrid_relationships/list' %>
      <% else %>
        No hybrids defined.
      <% end %>
    </div>
  </div>
</div>
