<tr class="group">
  <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
  <td>{{event}}</td>
  <td>DocumentType</td>
  <td>{{documents.length}}</td>
</tr>
{{#if documents.length}}
  <tr class="table-row">
    <td colspan="4">
      <div class="inner-table-container">
        <div class="header-container">
          <table class="table-header">
            <thead>
              <tr>
                {{sortable-column column_name="EVENT" class="event-col"}}
                {{sortable-column column_name="EVENT DATE" class="event-date-col"}}</th>
                {{sortable-column column_name="TITLE" class="title-col"}}
                <th class="language-col">LANGUAGE</th>
                <th class="countries-col">No. of COUNTRIES</th>
                <th class="taxon-col">TAXON NAME</th>
                <th class="download-col">
                  <a href='#'>
                    {{batch-download}}
                  </a>
                  {{download-checkbox}}
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="body-container">
          <table class="table-body">
            <thead>
              <tr>
                <th class="event-col"></th>
                <th class="event-date-col"></th>
                <th class="title-col"></th>
                <th class="language-col"></th>
                <th class="countries-col"></th>
                <th class="taxon-col"></th>
                <th class="download-col"></th>
              </tr>
            </thead>
            <tbody>
              {{#each doc in documents}}
                <tr data-document-id="{{unbound doc.id}}">
                  <td class="event-col">{{unbound doc.event_name}}</td>
                  <td class='event-date-col'>{{unbound doc.date}}</td>
                  <td class='title-col'>
                    <a class="legal-links" href="/api/v1/documents/{{unbound doc.id}}">{{unbound doc.title}}</a>
                    <i class="fa fa-file-pdf-o"></i>
                  </td>
                  <td class='language-col'>{{unbound doc.language}}</td>
                  <td class='countries-col has-tooltip'>{{documents-tooltip data=doc.geo_entity_names type='countries'}}</td>
                  <td class='taxon-col has-tooltip'>{{documents-tooltip data=doc.taxon_names type='taxa'}}</td>
                  <td class='download-col'>
                    <input type="checkbox">
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </td>
  </tr>
{{/if}}
