<td colspan="3">
  <div {{bind-attr class=":inner-table-container block:block loadMore:show_more"}}>

    <table class="table-header">
      <thead>
        <tr>
          <th class="event-col">MEETING</th>
          <th class="event-date-col">DATE</th>
          <th class="title-col">TITLE</th>
          <th class="language-col">LANG</th>
          <th class="countries-col">COUNTRIES</th>
          <th class="taxon-col">TAXA</th>
          {{#if proposalOutcome}}
            <th class="outcome-col">OUTCOME</th>
          {{/if}}
          <th class="download-col">
            {{batch-download
              eventType=eventType
              searchContextInfo=searchContextInfo
              signedInInfo=signedInInfo
            }}
            {{download-checkbox}}
          </th>
        </tr>
      </thead>
    </table>

    <table class="table-body">
      <thead>
        <tr>
          <th class="event-col"></th>
          <th class="event-date-col"></th>
          <th class="title-col"></th>
          <th class="language-col"></th>
          <th class="countries-col"></th>
          <th class="taxon-col"></th>
          {{#if proposalOutcome}}
            <th></th>
          {{/if}}
          <th class="download-col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each doc in documents}}
          {{document-result
            doc=doc
            proposalOutcome=proposalOutcome
            searchContextInfo=searchContextInfo
            signedInInfo=signedInInfo
          }}
        {{/each}}
      </tbody>
    </table>
    {{#if loadMore}}
      <div class="btn-hloder">
        <a class="link" {{action "loadMoreDocuments" eventType target=dataController}}>SHOW MORE</a>
      </div>
    {{/if}}
  </div>
</td>
