<tr class="group">
  <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
  <td>{{event}}</td>
  <td>DocumentType</td>
  <td>{{documents.length}}</td>
</tr>
{{#if documents.length}}
  <tr class="table-row">
    <td colspan="4">
      <div class="inner-table-container">
        <div class="header-container">
          <table class="table-header">
            <thead>
              <tr>
                <th class="event-col">EVENT</th>
                <th class="event-date-col">EVENT DATE</th>
                <th class="title-col">TITLE</th>
                <th class="language-col">LANGUAGE</th>
                <th class="countries-col">No. of COUNTRIES</th>
                <th class="taxon-col">TAXON NAME</th>
                <th class="download-col">
                  <i class="fa fa-download"></i>
                  <input type="checkbox">
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="body-container">
          <table class="table-body">
            <thead>
              <tr>
                <th class="event-col"></th>
                <th class="event-date-col"></th>
                <th class="title-col"></th>
                <th class="language-col"></th>
                <th class="countries-col"></th>
                <th class="taxon-col"></th>
                <th class="download-col"></th>
              </tr>
            </thead>
            <tbody>
              {{#each doc in documents}}
                <tr>
                  <td>{{doc.event_name}}</td>
                  <td>{{doc.event_date}}</td>
                  <td>{{doc.title}}</td>
                  <td>{{doc.language}}</td>
                  <td>{{doc.geo_entity_names}}</td>
                  <td>{{doc.taxon_names}}</td>
                  <td><input type="checkbox"></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </td>
  </tr>
{{/if}}
