<td class="event-col">{{unbound doc.event_name}}</td>
<td class='event-date-col'>{{unbound doc.date}}</td>
<td class='title-col'>
  <a class="legal-links" {{bind-attr href=view.documentUrl}}>{{title}}</a>
  [{{unbound doc.extension}}]
</td>
<td class='language-col'>
  {{#if moreThanOneLanguage}}
    {{view Ember.Select content=languages selection=language}}
  {{else}}
    {{language}}
  {{/if}}
</td>
<td class='countries-col has-tooltip'>{{documents-tooltip data=doc.geo_entity_names type='countries'}}</td>
<td class='taxon-col has-tooltip'>{{documents-tooltip data=doc.taxon_names type='taxa'}}</td>
<td class='download-col'>
  <input type="checkbox">
</td>
