{{#if multipleValues}}
  <div class='multiple-data-container'>
    <div class='document-data'>
      {{data.length}}&nbsp{{type}}
      <span class='tooltip' {{bind-attr data-descr=formattedData}}>
        <i class='fa fa-info-circle'></i>
      </span>
    </div>
  </div>
{{else}}
  {{data}}
{{/if}}
