<tr class="group">
  <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
  <td class="meeting-type">{{meeting_type}}</td>
  <td>
    <span class="no-of-documents">
    {{#if documents.meta.total}}
      {{documents.docs.length}} / {{documents.meta.total}}
    {{else}}
      No results
    {{/if}}
    </span>
  </td>
</tr>
{{documents-results
  eventType=eventType
  documents=documents.docs
  dataController=dataController
  proposalOutcome=proposalOutcome
  loadMore=loadMore
  block=true
  }}
