<%= admin_new_modal({:title => "Current CITES Quotas"}) { render "current_quotas_form" } %>

<%= nested_form_for [:admin, @taxon_concept, @quota] do |f| %>
  <%= error_messages_for(@quota) %>

  <table class="quota">
    <thead>
      <tr>
        <th><%= f.label :species_listing_id %></th>
        <th><%= f.label :change_type_id %></th>
        <th><%= f.label :effective_at %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.select :species_listing_id,
            options_from_collection_for_select(@species_listings, :id, :name),
            { :include_blank => true }
          %>
        </td>
        <td>
          <%= f.select :change_type_id,
            options_from_collection_for_select(@change_types, :id, :print_name)
          %>
        </td>
        <td>
          <%= f.text_field :effective_at, :class => "datepicker", :value => @quota.effective_at_formatted %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="quota">
    <thead>
      <tr>
        <th><label>Party</label></th>
        <th><%= f.label :geo_entity_ids, "Countries" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= f.fields_for :party_listing_distribution do |b| %>
          <td>
            <%= b.select :geo_entity_id,
              options_from_collection_for_select(
                @geo_entities,
                :id,
                :name_en,
                @quota.party_listing_distribution && @quota.party_listing_distribution.geo_entity_id
              ),
              { :include_blank => true },
              {:class => 'distribution', :style => 'width: 220px' }
            %>
          </td>
        <% end %>

        <td>
          <%= f.select :geo_entity_ids,
            options_from_collection_for_select(
              @geo_entities,
              :id,
              :name_en,
              @quota.geo_entities.map(&:id)
            ), { },
            { :multiple => true, :class => 'distribution', :style => 'width: 220px' }
          %>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <%= f.label :is_current, "Is current?", :class => 'inline'%> <%= f.check_box :is_current %><br>
    <%= link_to("View Current Quotas", "#new-quota",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <p class="pull-right">
    <%= f.submit %>
  </p>


<% end %>
