<thead>
  <th>Resolution</th>
  <th>Country or Territory</th>
  <th>Type</th>
  <th>Start date</th>
  <th>Status</th>
  <th>Notes</th>
  <th>Actions</th>
  <th>Info</th>
</thead>
<tbody>
  <% collection.each do |opinion| -%>
    <tr class="<%= if opinion.is_current? then "current_listing" end %>">
      <td><%= opinion.resolution %></td>
      <td><%= opinion.geo_entity && opinion.geo_entity.name_en %></td>
      <td><%= opinion.start_event.try(:name) %></td>

      <td><%= opinion.start_date_formatted %></td>
      <td><%= opinion.status %></td>
      <td><%= opinion.notes %></td>      
      <td>
        <%= link_to edit_icon,
          edit_admin_taxon_concept_cites_captivity_process_path(@taxon_concept, opinion)
        %>
        <%= link_to delete_icon,
          admin_taxon_concept_cites_captivity_processes_path(@taxon_concept, opinion),
          data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete
        %>
      </td>
      <td>
        <%= tracking_info(opinion) %>        
      </td>
    </tr>
  <% end -%>
</tbody>
