<div class="user-edit-box">

  <div class="edit-container round-text-inputs">

    <h2>Change your password.</h2>
    <%= error_message_header %>
    <p> Please enter a new password for your account </p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div>
        <%= f.label :current_password %> <br />
        <%= error_message_for :current_password %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="new-password">
        <div>
          <%= f.label :new_password %> <br />
          <%= error_message_for :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div>
          <%= f.label :new_password_confirmation %><br />
          <%= error_message_for :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="submit-box">
        <div><%= f.submit "Submit", class: "round-button" %></div>
      </div>
    <% end %>

  </div>

</div>
