<div
  id="net-trade-warning"
  class="results-warning"
  style="display:none"
>
  <div class="results-warning__body">
    <h4 class="results-warning__heading">
      <%= t('warnings.net_trade_1') %>
    </h4>
    <p class="results-warning__text">
      <%= t('warnings.net_trade_2') %>
    </p>
  </div>
  <div class="results-warning__footer">
    <a
      href="/<%= I18n.locale %>/cites_trade/"
      class="results-warning__button--reselect"
    >
      <%= t('reselect') %>
    </a>
    <button
      id="ignore_warning_button_report"
      value="New Search"
      name="ngTrade"
      type="submit"
      class="results-warning__button--continue"
    >
      <%= t('continue') %>
    </button>
  </div>
</div>
