<section class="section">
  <div class="section__inner">
    <div class="section__header">
      <%= render :partial => 'net_trade_warning' %>
      <div
        id="web-limit-exceeded-error-message"
        class="error-message error-message--centered"
      >
        <div class="error-message__content">
          <div class="error-message__icon">
            <%= raw File.read(Rails.root.join("app/assets/images/cites_trade/icon-info.svg")) %>
          </div>
          <p class="error-message__text">
            <%= t('errors.web_limit_exceeded_1') %>.<br> <%= t('errors.web_limit_exceeded_2') %>.
          </p>
        </div>
      </div>
    </div>

    <div class="section__body">
      <div id="download-options" class="reports">
        <div class="reports__header">
          <h3 class="reports__heading">
            <%= t('search_results') %>
          </h3>
        </div>
        <div class="reports__body">
          <form
            id="reports__form"
            class="reports__form"
            onsubmit="return false"
          >
            <h4 class="reports__subheading">
              <%= t('select_output') %>
            </h4>
            <fieldset class="reports__fieldset">
              <div
                id="web-option"
                class="reports__input-group"
              >
                <input
                  id="web"
                  type="radio"
                  name="outputType"
                  value="web"
                  class="reports__input"
                  checked
                />
                <label
                  for="web"
                  class="reports__label"
                >
                  Web
                </label>
              </div>
              <div class="reports__input-group">
                <input
                  id="csv"
                  type="radio"
                  name="outputType"
                  value="csv"
                  class="reports__input"
                />
                <label
                  for="csv"
                  class="reports__label"
                >
                  CSV
                  <div class="reports__label-content">
                    <span class="reports__message">
                      <%= t('select_csv_separator') %>
                    </span>
                    <select
                      name="csvSeparator"
                      id="csv_separator"
                      class="reports__select"
                    >
                      <option value="comma">
                        <%= t('comma_separated') %>
                      </option>
                      <option value="semicolon">
                        <%= t('semicolon_separated') %>
                      </option>
                    </select>
                  </div>
                </label>
              </div>
            </fieldset>
            <h4 class="reports__subheading">
              <%= t('select_report') %>
            </h4>
            <fieldset
              id="net_gross_options"
              class="reports__fieldset"
            >
              <div class="reports__input-group">
                <input
                  id="report_comparative"
                  name="report"
                  type="radio"
                  value="comparative"
                  checked="checked"
                  class="reports__input"
                />
                <label
                  for="report_comparative"
                  class="reports__label"
                >
                  <%= t('comparative_tabulations') %>
                </label>
              </div>
              <div class="reports__input-group" id="gross_net_section">
                <input
                  id="report_gross_net"
                  name="report"
                  type="radio"
                  value="gross_net"
                  class="reports__input"
                />
                <label
                  for="report_gross_net"
                  class="reports__label"
                >
                  <%= t('trade_tabulations') %>
                  <div class="reports__label-content">
                    <select
                      name="reportType"
                      id="report_type"
                      class="reports__select"
                    >
                      <option value="gross_exports">
                        <%= t('gross_exports') %>
                      </option>
                      <option value="gross_imports">
                        <%= t('gross_imports') %>
                      </option>
                      <option value="net_exports">
                        <%= t('net_exports') %>
                      </option>
                      <option value="net_imports">
                        <%= t('net_imports') %>
                      </option>
                    </select>
                  </div>
                </label>
              </div>
            </fieldset>
            <div class="reports__form-actions">
              <a
                id="new_search"
                href="/<%= I18n.locale %>/cites_trade/"
                class="reports__button--new-search"
              >
                <%= t('new_search') %>
              </a>
              <button
                id='button_report'
                type="submit"
                class="reports__button--submit"
              >
                <%= t('get_report') %>
              </button>
              <a id='view_genie' href="" style="display:none"></a>
              <a id='download_genie' href="#" style="display:none"></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
