<%= admin_new_modal({:title => "Current EU Opinions"}) { render "current_opinions_form" } %>

<%= form_for [:admin, @taxon_concept, @eu_opinion], :html => {:class => 'form-horizontal'} do |f| %>

  <p>
    <%= link_to("View Current EU Opinions", "#new-eu_opinion",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <%= error_messages_for(@eu_opinion) %>

  <div class="control-group">
    <%= f.label :start_event_id, "Regulation", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :start_event_id,
        options_from_collection_for_select(@ec_srgs, :id, :name, @eu_opinion.start_event_id),
        { :include_blank => true }, :class => "select2"
      %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :document_id, "Intersessional decision", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :document_id,
        options_from_collection_for_select(@documents, :id, :title, @eu_opinion.document_id),
        { :include_blank => true }, { :class => "select2", :style => 'width: 440px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :geo_entity_id, "Country or Territory", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :geo_entity_id,
        options_from_collection_for_select(
          @geo_entities,
          :id,
          :name_en,
          @eu_opinion.geo_entity_id
      ),
        { },
        {:class => 'eu_opinion select2', :style => 'width: 220px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Validity</label>
    <div class="controls">
      <%= f.text_field :start_date, :class => "eu_opinion datepicker", :value =>  @eu_opinion.start_date && @eu_opinion.start_date.strftime('%d/%m/%Y'), :placeholder => 'Start Date' %>
      <%= f.text_field :end_date, :class => "eu_opinion datepicker", :value => @eu_opinion.end_date && @eu_opinion.end_date.strftime('%d/%m/%Y'), :placeholder => 'End Date' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :eu_decision_type_id, "Opinion", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :eu_decision_type_id,
        options_from_collection_for_select(@eu_decision_types,
          :id, :name, @eu_opinion.eu_decision_type_id),
        { :include_blank => true },
        {:class => 'eu_opinion select2', :style => 'width: 220px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :srg_history_id, "SRG History", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :srg_history_id,
        options_from_collection_for_select(@srg_histories,
          :id, :name, @eu_opinion.srg_history_id),
        { :include_blank => true },
        {:class => 'eu_opinion select2', :style => 'width: 220px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Notes</label>
    <div class="controls">
      <%= f.text_area :notes, :class => 'eu_opinion', :value => @eu_opinion.notes %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Internal notes</label>
    <div class="controls">
      <%= f.text_area :internal_notes, :class => 'eu_opinion', :value => @eu_opinion.internal_notes %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :term_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :term_id,
        options_from_collection_for_select(@terms, :id, :code, @eu_opinion.term_id),
        { :include_blank => true },
        {:class => 'eu_opinion select2', :style => 'width: 220px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :source_id, :class => 'control-label'  %>
    <div class="controls">
      <%= f.select :source_id,
        options_from_collection_for_select(@sources, :id, :code, @eu_opinion.source_id),
        { :include_blank => true },
        {:class => 'eu_opinion select2', :style => 'width: 220px' }
      %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :is_current, "Is current?", :class => 'control-label'%>
    <div class="controls">
      <%= f.check_box :is_current %>
    </div>
  </div>

  <%= render :partial => 'admin/shared/nomenclature_notes_form',
    locals: {
      f: f,
      locale_columns: EuOpinion.locale_columns(:nomenclature_note)
    }
  %>

  <p class="pull-right">
    <%= link_to 'Cancel', admin_taxon_concept_eu_opinions_path(@taxon_concept),
      :class => "btn" %>
    <%= f.submit "Save", :class => "btn btn-primary save-button" %>
  </p>

<% end %>
