<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        Name Appendix and Year
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="left">
          <p>Species names</p>
          <div class="popup-area">
            {{view Trade.TaxonConceptsSearchButton
              selectedValuesBinding="controller.selectedTaxonConcepts"
              selectedValuesCollectionName="taxa"
              selectedValueDisplayProperty="fullName"
            }}
            {{view Trade.TaxonConceptSearchDropdown
              queryBinding="controller.taxonConceptQuery"
              allValuesBinding="controller.autoCompleteTaxonConcepts"
              selectedValuesBinding="controller.selectedTaxonConcepts"
            }}
          </div>
        </div>
        <div class="left">
          <p>Appendix</p>
          {{  view Ember.Select 
                viewName="appendices"
                contentBinding="controller.allAppendixValues"
                selectionBinding="controller.selectedAppendixValues"
                prompt="Pick an appendix:"
                multiple="true"
          }}
        </div>
        <div class="left">
          <p>Time range</p>
          {{  view Ember.Select 
                viewName="from"
                contentBinding="dates"
                selectionBinding="controller.selectedTimeStart"
                prompt="From:"
          }}
            
          {{  view Ember.Select 
                viewName="to"
                contentBinding="dates"
                selectionBinding="controller.selectedTimeEnd"
                prompt="To:"
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
        Trade Codes
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="left">
          <p>Terms</p>
          {{view Ember.Select
            prompt="All terms"
            contentBinding="controllers.terms"
            selectionBinding="controller.selectedTermCodeValues"
            optionValuePath="content.id"
            optionLabelPath="content.code"
            multiple="true"
          }}
        </div>
        <div class="left">
          <p>Units</p>
          {{view Ember.Select
            prompt="All units"
            contentBinding="controllers.units"
            selectionBinding="controller.selectedUnitsCodeValues"
            optionValuePath="content.id"
            optionLabelPath="content.code"
            multiple="true"
          }}
        </div>
        <div class="left">
          <p>Purpouses</p>
          {{view Ember.Select
            prompt="All purposes"
            contentBinding="controllers.purposes"
            selectionBinding="controller.selectedPurposesCodeValues"
            optionValuePath="content.id"
            optionLabelPath="content.code"
            multiple="true"
          }}
        </div>
        <div class="left">
        <p>Sources</p>
          {{view Ember.Select
            prompt="All sources"
            contentBinding="controllers.sources"
            selectionBinding="controller.selectedSourcesCodeValues"
            optionValuePath="content.id"
            optionLabelPath="content.code"
            multiple="true"
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
        Trading Partners
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="left">
          <p>Importer</p>
          {{view Ember.Select
            prompt="All countries"
            contentBinding="controllers.geoEntities"
            selectionBinding="controller.selectedImporterValues"
            optionValuePath="content.id"
            optionLabelPath="content.name"
          }}
        </div>
        <div class="left">
          <p>Exporter</p>
          {{view Ember.Select
            prompt="All countries"
            contentBinding="controllers.geoEntities"
            selectionBinding="controller.selectedExporterValues"
            optionValuePath="content.id"
            optionLabelPath="content.name"
          }}
        </div>
        <div class="left">
          <p>Country of origin</p>
          {{view Ember.Select
            prompt="All countries"
            contentBinding="controllers.geoEntities"
            selectionBinding="controller.selectedCountryOfOriginValues"
            optionValuePath="content.id"
            optionLabelPath="content.name"
          }}
        </div>
        <div class="left">
          <p>Reporter type</p>
          {{view Ember.Select
            prompt="All types"
            contentBinding="controller.allReporterTypeValues"
            selectionBinding="controller.selectedReporterTypeValues"
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
        Trading Partners
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>Permits</p>
          {{ view Trade.PermitSearchTextField
            valueBinding = "controller.permitQuery"
            id="permit_name"
            title="search"
            placeholder="Permit name..."
            autocomplete="off"
          }}
          {{ view Trade.PermitSelectedList }}
          {{ view Trade.PermitSearchDropdown
           valueBinding="controller.autoCompletePermits"
          }}
      </div>
    </div>
  </div>

</div>

<button {{ action 'testQueryParams' }}>GO</button>
