<div>
  <p>Species names</p>
  <fieldset>
    {{ view Trade.TaxonConceptSearchTextField
      valueBinding="controller.taxonConceptQuery"
      id="scientific_name"
      title="search"
      placeholder="Species, higher taxon or synonym..."
      autocomplete="off"
    }}
    {{!-- view Species.TaxonConceptSearchDropdown
     valueBinding="controller.autoCompleteTaxonConcepts"
     isVisibleBinding="controller.taxonConceptsDropdownVisible"
    --}}
  </fieldset>

  <p>Appendix</p>
  {{  view Ember.Select 
        viewName="appendices"
        contentBinding="controller.allAppendixValues"
        selectionBinding="controller.selectedAppendixValues"
        prompt="Pick an appendix:"
        multiple="true"
  }}

  <p>Time range</p>
  {{  view Ember.Select 
        viewName="from"
        content=dates
        prompt="From:"
  }}

  {{  view Ember.Select 
        viewName="to"
        content=dates
        prompt="To:"
  }}
</div>

<div>
  <p>Terms</p>
  {{view Ember.Select
    prompt="All terms"
    contentBinding="controllers.terms"
    selectionBinding="controller.selectedTermCodeValues"
    optionValuePath="content.id"
    optionLabelPath="content.code"
    multiple="true"
  }}

  <p>Units</p>
  {{view Ember.Select
    prompt="All units"
    contentBinding="controllers.units"
    selectionBinding="controller.selectedUnitsCodeValues"
    optionValuePath="content.id"
    optionLabelPath="content.code"
    multiple="true"
  }}

  <p>Purpouses</p>
  {{view Ember.Select
    prompt="All purposes"
    contentBinding="controllers.purposes"
    selectionBinding="controller.selectedPurposesCodeValues"
    optionValuePath="content.id"
    optionLabelPath="content.code"
    multiple="true"
  }}
   
  <p>Sources</p>
  {{view Ember.Select
    prompt="All sources"
    contentBinding="controllers.sources"
    selectionBinding="controller.selectedSourcesCodeValues"
    optionValuePath="content.id"
    optionLabelPath="content.code"
    multiple="true"
  }}

</div>

<div>
  
  <p>Importer</p>
  {{view Ember.Select
    prompt="All countries"
    contentBinding="controllers.geoEntities"
    selectionBinding="controller.selectedImporterValues"
    optionValuePath="content.id"
    optionLabelPath="content.name"
  }}

  <p>Exporter</p>
  {{view Ember.Select
    prompt="All countries"
    contentBinding="controllers.geoEntities"
    selectionBinding="controller.selectedExporterValues"
    optionValuePath="content.id"
    optionLabelPath="content.name"
  }}

  <p>Country of origin</p>
  {{view Ember.Select
    prompt="All countries"
    contentBinding="controllers.geoEntities"
    selectionBinding="controller.selectedCountryOfOriginValues"
    optionValuePath="content.id"
    optionLabelPath="content.name"
  }}

  <p>Reporter type</p>
  {{view Ember.Select
    prompt="All types"
    contentBinding="controller.allReporterTypeValues"
    selectionBinding="controller.selectedReporterTypeValues"
  }}

  <button {{ action 'testQueryParams' }}>GO</button>

</div>