<div class="filters clearfix">
  <div class="heading">
    <a data-toggle="collapse" href="#collapseOne">

      Name Appendix and Year
    </a>
  </div>
  <div id="collapseOne" class="body collapse in">
    <div class="inner one">
      <div class="left filter-group">
        <p>Taxa</p>
        {{view Trade.MultiSelect
          queryBinding="controller.taxonConceptQuery"
          allValuesGroupedBinding="controller.autoCompleteTaxonConceptsByRank"
          selectedValuesBinding="controller.selectedTaxonConcepts"
          selectedValuesCollectionName="taxa"
          selectedValueDisplayProperty="fullName"
          placeholder="Species, higher taxon or synonym..."
        }}
      </div>
      <div class="left filter-group one">
        <p>Appendices</p>
        {{view Trade.MultiSelect
          allValuesBinding="controller.allAppendices"
          selectedValuesBinding="controller.selectedAppendices"
          selectedValuesCollectionName="appendices"
          selectedValueDisplayProperty="name"
          selectedValueShortDisplayProperty="id"
        }}
      </div>
      <div class="left filter-group one time">
        <p>Time range</p>
        {{  view Ember.Select
              viewName="from"
              contentBinding="years"
              selectionBinding="controller.selectedTimeStart"
              prompt="From:"
        }}
        {{  view Ember.Select
              viewName="to"
              contentBinding="years"
              selectionBinding="controller.selectedTimeEnd"
              prompt="To:"
        }}
      </div>
    </div>
  </div>


  <div class="heading">
    <a data-toggle="collapse" href="#collapseTwo">
      Trade Codes
    </a>
  </div>
  <div id="collapseTwo" class="body collapse in">
    <div class="inner two">
      <div class="left filter-group">
        <p>Terms</p>
        {{view Trade.MultiSelect
          queryBinding="controller.termQuery"
          allValuesBinding="controller.autoCompleteTerms"
          selectedValuesBinding="controller.selectedTerms"
          selectedValuesCollectionName="terms"
          selectedValueDisplayProperty="fullName"
          selectedValueShortDisplayProperty="code"
        }}
      </div>
      <div class="left filter-group">
        <p>Units</p>
        {{view Trade.MultiSelect
          blankValueBinding = "controller.unitBlank"
          queryBinding="controller.unitQuery"
          allValuesBinding="controller.autoCompleteUnits"
          selectedValuesBinding="controller.selectedUnits"
          selectedValuesCollectionName="units"
          selectedValueDisplayProperty="fullName"
          selectedValueShortDisplayProperty="code"
        }}
      </div>
      <div class="left filter-group">
        <p>Purposes</p>
        {{view Trade.MultiSelect
          allValuesBinding="controllers.purposes"
          blankValueBinding = "controller.purposeBlank"
          selectedValuesBinding="controller.selectedPurposes"
          selectedValuesCollectionName="purposes"
          selectedValueDisplayProperty="fullName"
          selectedValueShortDisplayProperty="code"
        }}
      </div>
      <div class="left filter-group">
      <p>Sources</p>
        {{view Trade.MultiSelect
          allValuesBinding="controllers.sources"
          blankValueBinding = "controller.sourceBlank"
          selectedValuesBinding="controller.selectedSources"
          selectedValuesCollectionName="sources"
          selectedValueDisplayProperty="fullName"
          selectedValueShortDisplayProperty="code"
        }}
      </div>
    </div>
  </div>

  <div class="heading">
    <a data-toggle="collapse" href="#collapseThree">
      Trading Partners
    </a>
  </div>
  <div id="collapseThree" class="body collapse in">
    <div class="inner three">
      <div class="left filter-group">
        <p>Importer</p>
        {{view Trade.MultiSelect
          queryBinding="controller.importerQuery"
          allValuesBinding="controller.autoCompleteImporters"
          selectedValuesBinding="controller.selectedImporters"
          selectedValuesCollectionName="importers"
          selectedValueDisplayProperty="name"
          placeholder="Country name"
        }}
      </div>
      <div class="left filter-group">
        <p>Exporter</p>
        {{view Trade.MultiSelect
          queryBinding="controller.exporterQuery"
          allValuesBinding="controller.autoCompleteExporters"
          selectedValuesBinding="controller.selectedExporters"
          selectedValuesCollectionName="exporters"
          selectedValueDisplayProperty="name"
          placeholder="Country name"
        }}
      </div>
      <div class="left filter-group">
        <p>Country of origin</p>
        {{view Trade.MultiSelect
          blankValueBinding = "controller.countryOfOriginBlank"
          queryBinding="controller.countryOfOriginQuery"
          allValuesBinding="controller.autoCompleteCountriesOfOrigin"
          selectedValuesBinding="controller.selectedCountriesOfOrigin"
          selectedValuesCollectionName="countries of origin"
          selectedValueDisplayProperty="name"
          placeholder="Country name"
        }}
      </div>
    </div>
  </div>


  <div class="heading">
    <a class="toggle" data-toggle="collapse" href="#collapseFour">
      Permits & Quantity
    </a>
  </div>
  <div id="collapseFour" class="body collapse">
    <div class="inner four">
      <div class="left filter-group">
        <p>Reporter type</p>
        {{view Ember.Select
          prompt="All types"
          contentBinding="controller.allReporterTypeValues"
          selectionBinding="controller.selectedReporterTypeValues"
        }}
      </div>
      <div class="left filter-group">
        <p>Permits</p>
        {{view Trade.MultiSelect
          queryBinding="controller.permitQuery"
          allValuesBinding="controller.autoCompletePermits"
          selectedValuesBinding="controller.selectedPermits"
          selectedValuesCollectionName="permits"
          selectedValueDisplayProperty="displayNumber"
          placeholder="Permit number"
        }}
      </div>
      <div class="left">
        <p>Quantity</p>
        {{view Ember.TextField
          valueBinding="controller.selectedQuantity"
          placeholder="Enter a quantity"
        }}
      </div>

    </div>
  </div>
</div>

<div class="shipments-header clearfix">
  <a href="#downloads-modal" role="button" class="btn btn-primary pull-right" data-toggle="modal">
    <i class="icon-download-alt"></i>Download results
  </a>
  <button class="btn btn-primary pull-right" {{ action 'search' }}>
    <i class="icon-edit"></i>Display and edit results
  </button>

  <button class="btn pull-right" {{ action 'resetFilters' }}>
    <i class="icon-remove"></i> Reset all filters
  </button>
</div>

<div id="downloads-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Search results download</h3>
  </div>
  <div class="modal-body">
    <p>
    Choose the format you wish to download
    </p>

    <a {{bind-attr href="rawDownloadUrl"}} class="btn btn-primary">Raw</a>
    <a {{bind-attr href="comptabDownloadUrl"}} class="btn btn-primary">CompTab</a>

    <a {{bind-attr href="grossExportsDownloadUrl"}} class="btn btn-mini btn-primary">Gross Exp</a>
    <a {{bind-attr href="grossImportsDownloadUrl"}} class="btn btn-mini btn-primary">Gross Imp</a>
    <a {{bind-attr href="netExportsDownloadUrl"}} class="btn btn-mini btn-primary">Net Exp</a>
    <a {{bind-attr href="netImportsDownloadUrl"}} class="btn btn-mini btn-primary">Net Imp</a>

  </div>
</div>