<thead>
  <th>Title</th>
  <th>Author</th>
  <th>Year</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |reference| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="reference" data-name="title"
          data-placeholder="Required" data-original-title="Enter the reference's title"
          data-url="<%= resource_url(reference) %>" data-pk="<%= reference.id %>">
          <%= reference.title %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="reference" data-name="author"
          data-placeholder="Required" data-original-title="Enter the reference's author"
          data-url="<%= resource_url(reference) %>" data-pk="<%= reference.id %>">
          <%= reference.author %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="reference" data-name="year"
          data-placeholder="Required" data-original-title="Enter the reference's year"
          data-url="<%= resource_url(reference) %>" data-pk="<%= reference.id %>">
          <%= reference.year %>
        </a>
      </td>
      <td>
        <%= link_to 'Delete', resource_url(reference), :confirm => "Warning: you are about to delete data. Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>
