<%= form_for :species_listing, :url => collection_url, :remote => true do |f| %>
  <%= error_messages_for(@species_listing) %>
  <label>Designation</label>
  <%= f.select :designation_id,
    options_from_collection_for_select(@designations, :id, :name, @species_listing && @species_listing.designation_id)
  %><br />
  <label>Name</label><%= f.text_field :name %><br />
  <label>Abbreviation</label> <%= f.text_field :abbreviation %><br />
<% end %>