<h1>Species Listings <a href="#new-species_listing" role="button" class="btn new-button">Add new species_listing</a></h1>

<div id="new-species_listing" class="admin-in-place-editor-new modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-species_listing-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="new-species_listing-laber">Add new species_listing</h3>
  </div>
  <div class="modal-body">

    <table class="table table-bordered table-striped">
      <tbody> 
        <tr>
          <td width="30%">Designation</td>
          <td><a data-original-title="Designation" data-name="designation_id" data-type="text" class="editable editable-click editable-empty" href="#">Empty</a></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><a data-original-title="Enter name" data-name="name" data-type="text" id="newname" class="editable editable-click editable-empty" href="#">Empty</a></td>
        </tr>
        <tr>
          <td>Abbreviation</td>
          <td><a data-original-title="Enter abbreviation" data-name="abbreviation" data-type="text" id="newabbreviation" class="editable editable-click editable-empty" href="#">Empty</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save-button">Save changes</button>
  </div>
</div>

<table id="species_listings" class="table table-bordered table-striped admin-in-place-editor" style="clear: both">
  <thead>
    <th width="20%">Designation</th>
    <th width="10%">Name</th>
    <th width="20%">Abbreviation</th>
  </thead>
  <tbody>

    <% @species_listings.each do |species_listing| -%>
      <tr>
        <td>
            <a href="#" class="editable-required" data-type="text" data-resource="species_listing" data-name="designation_id"
              data-placeholder="Required" data-original-title="Enter the species_listing's designation"
              data-url="/api/species_listings/<%= species_listing.id %>" data-pk="<%= species_listing.id %>">
              <%= species_listing.designation.name %>
            </a>
        </td>
        <td>
          <a href="#" class="editable-required" data-type="text" data-resource="species_listing" data-name="name"
            data-placeholder="Required" data-original-title="Enter the species_listing's name"
            data-url="/api/species_listings/<%= species_listing.id %>" data-pk="<%= species_listing.id %>">
            <%= species_listing.name %>
          </a>
        </td>
        <td>
          <a href="#" class="editable-required" data-type="text" data-resource="species_listing" data-name="abbreviation"
            data-placeholder="Required" data-original-title="Enter the species_listing's abbreviation"
            data-url="/api/species_listings/<%= species_listing.id %>" data-pk="<%= species_listing.id %>">
            <%= species_listing.abbreviation %>
          </a>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

