<h2>New lump: handle children</h2>
<%= lump_blurb %>
<%= nomenclature_change_form do |f| %>
  <%= f.fields_for :inputs do |ff| %>

    <%= ff.fields_for :parent_reassignments do |fff| %>
      <div class="control-group">
        <label class="control-label">
          <%= fff.object.reassignable.full_name %>
        </label>
        <div class="controls">
          <%= fff.fields_for :reassignment_target do |ffff| %>
            <%= ffff.select :nomenclature_change_output_id,
              options_for_select(
                [[@nomenclature_change.output.display_full_name,
                  @nomenclature_change.output.id]]
              )
            %>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>
