<thead>
  <th width="7%">Code</th>
  <th width="15%">Taxon Concept Full Name</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |term_pair| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required term" data-type="select2" data-resource="<%= controller_name.singularize %>" data-name="term_id"
          data-placeholder="Required" data-original-title="Enter the code"
          data-url="<%= resource_url(term_pair) %>" data-pk="<%= term_pair.id %>">
          <%= term_pair.term.code %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required taxon_concept" data-type="select2" data-resource="<%= controller_name.singularize %>" data-name="taxon_concept_id"
          data-placeholder="Required" data-original-title="Enter the code"
          data-url="<%= resource_url(term_pair) %>" data-pk="<%= term_pair.id %>">
          <%= term_pair.taxon_concept.full_name %>
        </a>
      </td>
      <td>
        <%= link_to delete_icon, resource_url(term_pair), data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>

<script>
  window.editorClass = 'term_pairings_select2';
  window.editorTermCodes = <%= raw @term_codes_obj %>;
</script>
