<% if @taxon_concept.taxon_concept_references || @taxon_concept.inherited_standard_references %>
  <table class="table table-striped table-hover">
    <thead>
      <th>
        Standard References
      </th>
      <th>
        Inherited?
      </th>
    </thead>
    <tbody>
      <% @taxon_concept.standard_references.each do |ref| %>
        <tr>
          <td>
            <p class="reference-citation"><%= ref.citation %></p>
          </td>
          <td>
            <% not_inherited = @taxon_concept.
              taxon_concept_references.find_by_reference_id(ref.id).try(:is_standard) %>
            <%= true_false_icon(!not_inherited) %>
          </td>
        </tr>
        <br>
      <% end %>
    </tbody>
  </thead>
  <table class="table table-striped table-hover">
    <thead>
      <th>
        Reference
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <% @taxon_concept.taxon_concept_references.
        joins(:reference).
        order('"references".citation ASC').each do |tc_ref| %>
        <% ref = tc_ref.reference %>
        <tr>
          <td>
            <p class="reference-citation"><%= ref.citation %></p>
          </td>
          <td>
            <%= link_to edit_icon,
              edit_admin_taxon_concept_taxon_concept_reference_url(@taxon_concept, tc_ref),
              :remote => true %>
            <%= link_to delete_icon,
              admin_taxon_concept_taxon_concept_reference_url(@taxon_concept, tc_ref),
              :confirm => "Warning: you are about to delete data. are you sure?", :method => :delete
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No references defined.
<% end %>
