<h2>New status swap: nomenclature change notes</h2>
<%= status_change_blurb %>
<%= nomenclature_change_form do |f| %>
<h3>New accepted name</h3>
  <p>
    <i class="icon-info-sign"></i>
    Accepted taxon resulting from the swap
  </p>
  <% if f.object.new_accepted_name.is_primary_output %>
    <%= f.fields_for :primary_output do |ff| %>
      <%= render partial: 'notes', locals: {ff: ff} %>
    <% end %>
  <% else %>
    <%= f.fields_for :secondary_output do |ff| %>
      <%= render partial: 'notes', locals: {ff: ff} %>
    <% end %>
  <% end %>
<% end %>
