<h2>New status swap</h2>
<%= nomenclature_change_form do |f| %>
  <%= render 'admin/nomenclature_changes/build/event_selector', :f => f %>
    <%= f.fields_for :primary_output do |ff| %>
    <div class="control-group">
      <label class="control-label">Taxon concept to change:</label>
      <div class="controls">
        <%= ff.text_field :taxon_concept_id, {
          :class => 'taxon-concept status-change',
          :'data-name' => ff.object.taxon_concept.try(:full_name),
          :'data-name-status' => ff.object.taxon_concept.try(:name_status),
          :'data-name-status-filter' => ['A', 'S'].to_json,
          :'data-taxonomy-id' => @taxonomy.id
        } %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">New name status:</label>
      <div class="controls">
        <%= ff.select :new_name_status, options_for_select(['A', 'S'],
          ff.object.new_name_status) %>
      </div>
    </div>
    <%= render 'admin/nomenclature_changes/build/new_parent', :ff => ff %>
    <% end %>

<% end %>