<%= admin_new_modal({:title => "Current CITES Quotas"}) { 
  render :partial => "admin/quotas/current_quotas_form",
    :locals => {:current_quotas => @taxon_concept.current_quotas}
} %>

<%= nested_form_for [:admin, @taxon_concept, @quota], :html => {:class => 'form-horizontal'} do |f| %>

  <p>
    <%= link_to("View Current Quotas", "#new-quota",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <%= error_messages_for(@quota) %>

  <%= render :partial => 'admin/quotas/form_shared', :locals => {:f => f} %>

<% end %>
