<div class="page">
  <ol class='breadcrumb'>
    <li>
      <a href='<%= @doc[:doc_url] %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= @resource[:version] %></a>
    </li>
    <li>
      <a href='<%= @resource[:doc_url] %><%= @doc[:link_extension] %>'>
        <%= @resource[:name] %>
        <% if @resource[:version] %><% end %>
      </a>
    </li>
    <li class='active'><%= @method[:name] %></li>
    <%= render(:partial => "languages", :locals => {:doc_url => @method[:doc_url]}) %>

  </ol>

  <% @method[:apis].each do |api| %>
    <div class='well'>
      <h1><strong>[<%= api[:http_method] %>]</strong> <%= api[:api_url] %>
        <% if api[:deprecated] %>
          <code>DEPRECATED</code>
        <% end %>
      </h1>
    </div>

    <h4>Description</h4>
    <p><%= raw api[:short_description] %></p>
  <% end %>

  <div>
    <% unless @method[:see].empty? %>
      Also see <%= @method[:see].map { |s| link_to(s[:description], "#{s[:link]}#{@doc[:link_extension]}") }.to_sentence.html_safe %>.
    <% end %>

    <%= render(:partial => "method_detail", :locals => {:method => @method, :h_level => 4}) %>
  </div>

  <% unless content_for(:apipie_footer) == @doc[:copyright] %>
    <%= content_for :apipie_footer, raw(@doc[:copyright]) %>
  <% end %>
</div>
