<thead>
  <th>Name</th>
  <th>Effective from</th>
  <th>Current</th>
  <th>URL</th>
  <th>No of listing changes</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |eu_regulation| -%>
    <tr class="<%= if eu_regulation.is_current? then "current_listing" end %>">
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="eu_regulation" data-name="name"
          data-placeholder="Required" data-original-title="Enter the EU Regulation's name"
          data-url="<%= resource_url(eu_regulation) %>" data-pk="<%= eu_regulation.id %>">
          <%= eu_regulation.name %>
        </a>
      </td>
      <td><%= eu_regulation.effective_at_formatted %></td>
      <td><%= true_false_icon(eu_regulation.is_current) %></td>
      <td>
        <%= link_to_unless(
          eu_regulation.url.blank?,
          '<i class="icon-share" title="Go to URL"></i>'.html_safe,
          eu_regulation.url
        ) { '' } %>
      </td>
      <td>
        <%= link_to eu_regulation.listing_changes.count, admin_listing_changes_url(:event_id => eu_regulation.id) %>
      </td>
      <td>
        <%= link_to edit_icon, edit_resource_url(eu_regulation), :remote => true %>
        <%= link_to delete_icon, resource_url(eu_regulation),
          :confirm => "Warning: you are about to delete data. Are you sure?", :method => :delete
        %>
        <%= link_to_if(
          eu_regulation.can_be_activated?,
          '<i class="icon-cog" title="Activate"></i>'.html_safe,
          activate_admin_eu_regulation_url(eu_regulation),
          :confirm => 'Warning: you are about to modify a batch of data. Are you sure?', :method => :post, :remote => true
        ) { '' }
        %>
      </td>
    </tr>
  <% end -%>
</tbody>
