<h2>Data exports</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>CITES/EU</th>
      <th>CMS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan=3>Names</th>
    </tr>
    <tr>
      <td>Species Names</td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "Names",
          :filters => {:taxonomy => 'CITES_EU'}) %>
      </td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "Names",
          :filters => {:taxonomy => 'CMS'}) %>
      </td>
    </tr>
    <tr>
      <td>Synonyms & Trade Names</td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "SynonymsAndTradeNames",
          :filters => {:taxonomy => 'CITES_EU'})
        %>
      </td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "SynonymsAndTradeNames",
          :filters => {:taxonomy => 'CMS'})
        %>
      </td>
    </tr>
    <tr>
      <td>Common Names</td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "CommonNames",
          :filters => {:taxonomy => 'CITES_EU'})
        %>
      </td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "CommonNames",
          :filters => {:taxonomy => 'CMS'})
        %>
      </td>
    </tr>
    <tr>
      <td>Orphans</td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "OrphanedTaxonConcepts",
          :filters => {:taxonomy => 'CITES_EU'})
        %>
      </td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "OrphanedTaxonConcepts",
          :filters => {:taxonomy => 'CMS'})
        %>
      </td>
    </tr>
    <tr>
      <th colspan=3>References</th>
    </tr>
    <tr>
      <td>Species References</td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "SpeciesReferenceOutput",
                                      :filters => {:taxonomy => 'CITES_EU'})
        %>
      </td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "SpeciesReferenceOutput",
                                      :filters => {:taxonomy => 'CMS'})
        %>
      </td>
    </tr>
    <tr>
      <td>Standard References</td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "StandardReferenceOutput",
                                      :filters => {:taxonomy => 'CITES_EU'})
        %>
      </td>
      <td>
        <%= link_to 'Download',
          admin_exports_download_path(:data_type => "StandardReferenceOutput",
                                      :filters => {:taxonomy => 'CMS'})
        %>
      </td>
    </tr>
    <tr>
      <th colspan=3>Distributions</th>
    </tr>
    <tr>
      <td>Distributions</td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "Distributions",
                                                    :filters => {:taxonomy => 'CITES_EU'}) %>
      </td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "Distributions",
                                                          :filters => {:taxonomy => 'CMS'}) %>
      </td>
    </tr>
    <tr>
      <th colspan=3>Documents</th>
    </tr>
    <tr>
      <td>Documents</td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "Documents",
                                                    :filters => {}) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>ID Materials</td>
      <td>
        <%= link_to 'Download', admin_exports_download_path(:data_type => "IdMaterials",
                                                    :filters => {}) %>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<p></p>
