<h2>Taxon Concepts</h2>
<p><%= link_to 'CITES/EU Species Names', admin_exports_download_path(:data_type => "Names",
                                                                     :filters => {:taxonomy => 'CITES_EU'}) %></p>
<p><%= link_to 'CMS Species Names', admin_exports_download_path(:data_type => "Names",
                                                               :filters => {:taxonomy => 'CMS'}) %></p>

<hr>

<p>
  <%= link_to 'CITES/EU Synonyms & Trade Names',
    admin_exports_download_path(:data_type => "SynonymsAndTradeNames",
    :filters => {:taxonomy => 'CITES_EU'})
  %>
</p>
<p>
  <%= link_to 'CMS Synonyms & Trade Names',
    admin_exports_download_path(:data_type => "SynonymsAndTradeNames",
    :filters => {:taxonomy => 'CMS'})
  %>
</p>

<hr>

<p>
  <%= link_to 'CITES/EU Common Names',
    admin_exports_download_path(:data_type => "CommonNames",
    :filters => {:taxonomy => 'CITES_EU'})
  %>
</p>
<p>
  <%= link_to 'CMS Common Names',
    admin_exports_download_path(:data_type => "CommonNames",
    :filters => {:taxonomy => 'CMS'})
  %>
</p>

<hr>

<p>
  <%= link_to 'Species Reference Output',
    admin_exports_download_path(:data_type => "SpeciesReferenceOutput")
  %>
</p>

<p>
  <%= link_to 'Standard Reference Output',
    admin_exports_download_path(:data_type => "StandardReferenceOutput")
  %>
</p>

<hr>

<h2>Distribution</h2>
<p><%= link_to 'CITES/EU Species Distribution', admin_exports_download_path(:data_type => "Distributions",
                                                                            :filters => {:taxonomy => 'CITES_EU'}) %></p>
<p><%= link_to 'CMS Species Distribution', admin_exports_download_path(:data_type => "Distributions",
                                                                            :filters => {:taxonomy => 'CMS'}) %></p>
