<ul class="nav nav-list">
  <li class="nav-header">Basic types</li>
  <li><%= link_to 'Taxonomies', admin_taxonomies_path %></li>
  <li><%= link_to 'Designations', admin_designations_path %></li>
  <li><%= link_to 'Species listings', admin_species_listings_path %></li>
  <li><%= link_to 'Ranks', admin_ranks_path %></li>
  <li><%= link_to 'Change types', admin_change_types_path %></li>
  <li><%= link_to 'Languages', admin_languages_path %></li>
  <li><%= link_to 'Geo entities', admin_geo_entities_path %></li>
  <li><%= link_to 'Tags', admin_tags_path %></li>
  <li class="nav-header">Trade codes</li>
  <li><%= link_to 'Purposes', admin_purposes_path %></li>
  <li><%= link_to 'Sources', admin_sources_path %></li>
  <li><%= link_to 'Terms', admin_terms_path %></li>
  <li><%= link_to 'Units', admin_units_path %></li>
  <li class="nav-header">Users & Roles</li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li class="nav-header">Taxon concepts</li>
  <li><%= link_to 'Taxon concepts', admin_taxon_concepts_path %></li>
</ul>

