<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Batch Edit</h3>
</div>

<div class="modal-body filters">
  {{content.meta.total}} shipments with <b>{{controllers.search.selectionSummary}}</b>
  <form action="#">
    <fieldset>
      <div class="heading">
        Name, Appendix and Year
      </div>
      <div class="inner">

        {{#view Trade.TaxonConceptTextFieldsView controllerBinding="controller" currentShipmentBinding="currentShipment"}}
          <div class="attribute-area left taxon-name">
            <p>
              Taxon name
              <a
                {{bind-attr data-original-title="view.acceptedTaxonInfo"}}
                href="#" rel="tooltip" data-placement="right" data-toggle="tooltip" class="has-tooltip"
              >
                <i class="icon-info-sign"></i>
              </a>
            </p>
            {{view view.AcceptedSelect2 valueBinding="currentShipment.taxonConceptId"}}
          </div>
          <div class="attribute-area left taxon-name">
            <p>
              Reported taxon name
              <a
                {{bind-attr data-original-title="view.reportedTaxonInfo"}}
                href="#" rel="tooltip" data-placement="right" data-toggle="tooltip" class="has-tooltip"
              >
                <i class="icon-info-sign"></i>
              </a>
            </p>
            {{view view.ReportedSelect2 valueBinding="currentShipment.reportedTaxonConceptId"}}
          </div>
        {{/view}}

        <div class="attribute-area left">
          <p>Appendix</p>
            {{view Ember.Select
              prompt="Please select appendix value"
              valueBinding="currentShipment.appendix"
              contentBinding='controllers.search.allAppendices'
              optionValuePath="content.id"
              optionLabelPath="content.name"
            }}
        </div>
        <div class="attribute-area left year">
          <p>Year</p>
            {{view Ember.TextField
              prompt="Please type year value"
              valueBinding="currentShipment.year"
            }}
        </div>
      </div>

      <div class="heading">
        Trade Codes
      </div>
      <div class="inner">
        <div class="attribute-area left autocomplete">
          <p>Term Code</p>
          {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.terms"
              optionValuePath="content.id"
              optionLabelPath="content.code"
              selectionBinding="currentShipment.term"
            }}
        </div>
        <div class="attribute-area left autocomplete">
          <p>Unit Code</p>
          {{view Trade.Select2
            prompt="Select"
            contentBinding="controllers.units"
            optionValuePath="content.id"
            optionLabelPath="content.code"
            selectionBinding="currentShipment.unit"
          }}
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.unitBlank"}}
            blank
          </label>
        </div>
        <div class="attribute-area left">
          <p>Purpose Code</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.purposes"
              optionValuePath="content.id"
              optionLabelPath="content.code"
              selectionBinding="currentShipment.purpose"
            }}
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.purposeBlank"}}
            blank
          </label>
        </div>
        <div class="attribute-area left">
          <p>Source Code</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.sources"
              optionValuePath="content.id"
              optionLabelPath="content.code"
              selectionBinding="currentShipment.source"
            }}
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.sourceBlank"}}
            blank
          </label>
        </div>
      </div>

      <div class="heading">
        Trading Partners
      </div>
      <div class="inner">
        <div class="attribute-area left">
          <p>Importer</p>
            {{view Trade.Select2
              prompt="Please select importer"
              contentBinding="controllers.geoEntities"
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selectionBinding="currentShipment.importer"
            }}
        </div>
        <div class="attribute-area left">
          <p>Exporter</p>
            {{view Trade.Select2
              prompt="Please select exporter"
              contentBinding="controllers.geoEntities"
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selectionBinding="currentShipment.exporter"
            }}
        </div>
        <div class="attribute-area left">
          <p>Country of Origin</p>
            {{view Trade.Select2
              prompt="Please select country of origin value"
              contentBinding="controllers.geoEntities"
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selectionBinding="currentShipment.countryOfOrigin"
            }}
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.countryOfOriginBlank"}}
            blank
          </label>
        </div>
        <div class="attribute-area left">
          <p>Reporter type</p>
            {{view Ember.Select
              prompt="Please select reporter type"
              contentBinding="controllers.search.allReporterTypeValues"
              selectionBinding="currentShipment.reporterType"
            }}
        </div>
      </div>

      <div class="heading">
        Permit numbers
      </div>
      <div class="inner">
        <div class="attribute-area left">
          <p>Import Permit</p>
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.importPermitNumberBlank"}}
            blank
          </label>
        </div>
        <div class="attribute-area left">
          <p>Exporter Permit</p>
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.exportPermitNumberBlank"}}
            blank
          </label>
        </div>
        <div class="attribute-area left">
          <p>Origin Permit</p>
          <label class="blank-checkbox">
            {{view Ember.Checkbox checkedBinding="currentShipment.originPermitNumberBlank"}}
            blank
          </label>
        </div>
      </div>


    </fieldset>
  </form>
</div>
<div class="modal-footer">
  {{confirm-button title="Save batch" action="updateBatch"}}
  <button {{action 'cancelBatch'}} class="pull-right btn">
    Cancel
  </button>
</div>
