<%= form_for [:admin, @cites_tc], :remote => true do |f| %>

  <%= error_messages_for(@cites_cop) %>

  <%= f.hidden_field :designation_id %>
  <label>Name</label><%= f.text_field :name %><br />
  <label>Published at</label>
  <%= f.text_field :published_at, :class => "datepicker",
    :value => @cites_tc.published_at_formatted
  %>
  <label>Effective from</label>
  <%= f.text_field :effective_at, :class => "datepicker",
    :value => @cites_tc.effective_at_formatted
  %>
  <label>Is current <%= f.check_box :is_current %></label>
<% end %>
