<%= form_for :listing_change, :url => collection_url, :remote => true do |f| %>

  <%= error_messages_for(@listing_change) %>

  <p>
    <%= f.label :taxon_concept %>
    <%= f.text_field :taxon_concept_id %>
  </p>
  <p>
    <%= f.label :change_type %>
    <%= f.select :change_type, options_from_collection_for_select(@change_types, :id, :name) %>
  </p>
  <p>
    <%= f.label :effective_at %>
    <%= f.text_field :effective_at, :class => "datepicker" %>
  </p>
<% end %>
