<%= form_for [:admin, @taxon_concept, @designation, @listing_change], :remote => true do |f| %>
  <%= error_messages_for(@listing_change) %>
  <p>
    <%= f.label :species_listing_id %>
    <%= f.select :species_listing_id, options_from_collection_for_select(@species_listings, :id, :name) %>
  </p>
  <p>
    <%= f.label :change_type_id %>
    <%= f.select :change_type_id, options_from_collection_for_select(@change_types, :id, :print_name) %>
  </p>
  <p>
    <%= f.label :effective_at %>
    <%= f.text_field :effective_at, :value => @listing_change.effective_at ? @listing_change.effective_at.strftime('%m/%d/%Y') : '', :class => "datepicker" %>
  </p>
  <%= f.fields_for :party_listing_distribution do |b| %>
    <p>
      <%= b.label :geo_entity_id, 'Party' %>
      <%= b.select :geo_entity_id,
        options_from_collection_for_select(
          @geo_entities,
          :id,
          :name_en,
          @listing_change.party_listing_distribution && @listing_change.party_listing_distribution.geo_entity_id
        ),
        { :include_blank => true }, :class => 'distribution'
      %>
    </p>
  <% end %>
  <p>
    <%= f.label :geo_entity_ids, "Countries" %>
    <%= f.select :geo_entity_ids,
      options_from_collection_for_select(
        @geo_entities,
        :id,
        :name_en,
        @listing_change.geo_entities.map(&:id)
      ), { },
      { :multiple => true, :class => 'distribution', :style => 'width: 200px' }
    %>
  </p>
  <p>
    <%= f.label :is_current, "Is current?"%>
    <%= f.check_box :is_current %>
  </p>
  <p>
    <label>Included in</label>
    <%= f.text_field :inclusion_scientific_name, :class => 'typeahead' %>
  </p>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $('.distribution').select2({
placeholder: 'Select countries'
});
      });
    </script>
    <style>
      #listing_change_geo_entity_ids {
        width: 220px;
      }
    </style>
