<%= form_for @listing_change, :url => collection_url(@taxon_concept), :remote => true do |f| %>
  <%= f.hidden_field :taxon_concept_id %>
  <%= error_messages_for(@listing_change) %>
  <p>
    <%= f.label :species_listing_id %>
    <%= f.select :species_listing_id, options_from_collection_for_select(@species_listings, :id, :name) %>
  </p>
  <p>
    <%= f.label :change_type_id %>
    <%= f.select :change_type_id, options_from_collection_for_select(@change_types, :id, :print_name) %>
  </p>
  <p>
    <%= f.label :effective_at %>
    <%= f.text_field :effective_at, :class => "datepicker" %>
  </p>
  <%= f.fields_for :listing_distributions do |b| %>
    <p>
      <%= b.hidden_field :is_party, :value => true %>
      <%= b.label :geo_entity_id, 'Party' %>
      <%= b.select :geo_entity_id, options_from_collection_for_select(@geo_entities, :id, :name_en), { :allow_null => true }, :class => 'distribution'  %>
    </p>
  <% end %>
  <p>
    <%= f.label :geo_entity_ids, "Countries" %>
    <%= f.select :geo_entity_ids, options_from_collection_for_select(@geo_entities, :id, :name_en), { }, { :multiple => true, :class => 'distribution', :style => 'width: 200px' } %>
  </p>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $('.distribution').select2({
placeholder: 'Select countries'
});
      });
    </script>
    <style>
      #listing_change_geo_entity_ids {
        width: 220px;
      }
    </style>
