<%= admin_new_modal({:title => "Current Listing Changes"}) { render "current_listing_changes_form" } %>

<%= nested_form_for [:admin, @taxon_concept, @designation, @listing_change] do |f| %>
  <%= error_messages_for(@listing_change) %>

  <table class="listing-change">
    <thead>
      <tr>
        <th><%= f.label :event_id %></th>
        <th><%= f.label :species_listing_id %></th>
        <th><%= f.label :change_type_id %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.select :event_id,
            options_from_collection_for_select(@events, :id, :name, @listing_change.event_id),
            { :include_blank => true, :selected => @listing_change.event_id },
            { :disabled => true }
          %>
        </td>
        <td>
          <%= f.select :species_listing_id,
            options_from_collection_for_select(@species_listings, :id, :name, @listing_change.species_listing_id),
            { :include_blank => true, :selected => @listing_change.species_listing_id }
          %>
        </td>
        <td>
          <%= f.select :change_type_id,
            options_from_collection_for_select(@change_types, :id, :print_name, @listing_change.change_type_id)
          %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="listing-change">
    <thead>
      <tr>
        <th><%= f.label :effective_at %></th>
        <th><label>Party</label></th>
        <th><%= f.label :geo_entity_ids, "Countries" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.text_field :effective_at, :class => "datepicker", :value => @listing_change.effective_at_formatted %>
        </td>
        <%= f.fields_for :party_listing_distribution do |b| %>
          <td>
            <%= b.select :geo_entity_id,
              options_from_collection_for_select(
                @geo_entities,
                :id,
                :name_en,
                @listing_change.party_listing_distribution && @listing_change.party_listing_distribution.geo_entity_id
              ),
              { :include_blank => true },
              {:class => 'distribution', :style => 'width: 220px' }
            %>
          </td>
        <% end %>

        <td>
          <%= f.select :geo_entity_ids,
            options_from_collection_for_select(
              @geo_entities,
              :id,
              :name_en,
              @listing_change.geo_entities.map(&:id)
            ), { },
            { :multiple => true, :class => 'distribution', :style => 'width: 220px' }
          %>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <%= f.label :is_current, "Is current?", :class => 'inline'%> <%= f.check_box :is_current %><br>
    <%= link_to("View Current Listing Changes", "#new-listing_change",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <h4>Annotations</h4>
  <p>
    <%= f.label :hash_annotation_id %>
    <%= f.select :hash_annotation_id,
      options_from_collection_for_select(
        @hash_annotations, :id, :full_symbol,
        @listing_change && @listing_change.hash_annotation_id
      ),
      { :include_blank => true }
    %>
  </p>

  <%= f.fields_for :annotation do |ff| %>
    <% Annotation.locale_columns(:short_note).each do |column| %>
      <%= ff.label column %>
      <%= ff.text_field column, :class => :annotation %>
    <% end %>
    <% Annotation.locale_columns(:full_note).each do |column| %>
      <%= ff.label column %>
      <%= ff.text_area column, :class => :annotation %>
    <% end %>
    <p>
      <%= ff.label :display_in_index, :value => 'Display in index', :class => 'inline' %>
      <%= ff.check_box :display_in_index %>
      <%= ff.label :display_in_footnote, :value => 'Display in footnote', :class => 'inline' %>
      <%= ff.check_box :display_in_footnote %>
    </p>
  <% end %>

  <h4>Inclusion</h4>
  <p>
    <label>Included in</label>
    <%= f.text_field :inclusion_scientific_name, :class => 'typeahead',
      "data-taxon-concept-scope" => 'ancestors',
      "data-taxon-concept-id" => @taxon_concept.id,
      "data-taxonomy-id" => @taxon_concept.taxonomy_id
    %>
  </p>

  <h4>Exclusions</h4>
  <table class="listing-change">
    <thead>
    <tr>
      <th><label>Taxon concept</label></th>
      <th><label>Countries</label></th>
    </tr>
    </thead>
    <tbody>
    <%= f.fields_for :exclusions do |ff| %>
    <tr>
      <td><%= error_messages_for(ff.object) %></td>
    </tr>
    <tr>
      <td>
        <%= ff.hidden_field :change_type_id %>
        <%= ff.text_field :scientific_name, :class => 'typeahead',
          "data-taxon-concept-scope" => 'descendants',
          "data-taxon-concept-id" => @taxon_concept.id,
          "data-taxonomy-id" => @taxon_concept.taxonomy_id
        %>
      </td>
      <td>
        <%= ff.select :geo_entity_ids,
          options_from_collection_for_select(
            @geo_entities,
            :id,
            :name_en,
            ff.object.geo_entities && ff.object.geo_entities.map(&:id)
          ), { },
          { :multiple => true, :class => 'distribution', :style => 'width: 200px' }
        %>
      </td>
      <td>
        <%= ff.link_to_remove delete_icon %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= f.link_to_add "Add an exclusion", :exclusions %></p>

  <p class="pull-right">
    <%= f.submit %>
  </p>


<% end %>
