<%= nested_form_for [:admin, @taxon_concept, @designation, @listing_change], :remote => true do |f| %>
  <%= error_messages_for(@listing_change) %>
  <p>
    <%= f.label :species_listing_id %>
    <%= f.select :species_listing_id,
      options_from_collection_for_select(@species_listings, :id, :name),
      { :include_blank => true }
    %>
  </p>
  <p>
    <%= f.label :change_type_id %>
    <%= f.select :change_type_id,
      options_from_collection_for_select(@change_types, :id, :print_name)
    %>
  </p>
  <p>
    <%= f.label :effective_at %>
    <%= f.text_field :effective_at, :class => "datepicker", :value => @listing_change.effective_at_formatted %>

  </p>
  <%= f.fields_for :party_listing_distribution do |b| %>
    <p>
      <%= b.label :geo_entity_id, 'Party' %>
      <%= b.select :geo_entity_id,
        options_from_collection_for_select(
          @geo_entities,
          :id,
          :name_en,
          @listing_change.party_listing_distribution && @listing_change.party_listing_distribution.geo_entity_id
        ),
        { :include_blank => true }, :class => 'distribution'
      %>
    </p>
  <% end %>
  <p>
    <%= f.label :geo_entity_ids, "Countries" %>
    <%= f.select :geo_entity_ids,
      options_from_collection_for_select(
        @geo_entities,
        :id,
        :name_en,
        @listing_change.geo_entities.map(&:id)
      ), { },
      { :multiple => true, :class => 'distribution', :style => 'width: 200px' }
    %>
  </p>
  <p>
    <%= f.label :is_current, "Is current?"%>
    <%= f.check_box :is_current %>
  </p>
  <p>
    <label>Included in</label>
    <%= f.text_field :inclusion_scientific_name, :class => 'typeahead',
      "data-taxon-concept-scope" => 'ancestors',
      "data-taxon-concept-id" => @taxon_concept.id,
      "data-taxonomy-id" => @taxon_concept.taxonomy_id
    %>
  </p>
  <label>Exclusions</label>
  <table>
    <thead>
    <tr>
      <th>Taxon concept</th>
      <th>Countries</th>
    </tr>
    </thead>
    <tbody>
    <%= f.fields_for :exclusions do |ff| %>
    <tr>
      <td><%= error_messages_for(ff.object) %></td>
    </tr>
    <tr>
      <td colspan=2>
        <%= ff.hidden_field :change_type_id %>
        <%= ff.text_field :exclusion_scientific_name, :class => 'typeahead',
          "data-taxon-concept-scope" => 'descendants',
          "data-taxon-concept-id" => @taxon_concept.id,
          "data-taxonomy-id" => @taxon_concept.taxonomy_id
        %>
      </td>
      <td>
        <%= ff.select :geo_entity_ids,
          options_from_collection_for_select(
            @geo_entities,
            :id,
            :name_en,
            ff.object.geo_entities && ff.object.geo_entities.map(&:id)
          ), { },
          { :multiple => true, :class => 'distribution', :style => 'width: 200px' }
        %>
      </td>
      <td>
        <%= ff.link_to_remove delete_icon %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= f.link_to_add "Add an exclusion", :exclusions %></p>

<% end %>

<% if @taxon_concept.current_listing_changes.count > 0 %>
  <p>Amend status of current listing changes</p>
  <% @taxon_concept.current_listing_changes.each do |listing_change| %>
    <%= form_for [:admin, @taxon_concept, @designation, listing_change], :remote => true do |f| %>
      <%= f.check_box :is_current %>
      <%= listing_change.change_type.name %>
    <% end %>
  <% end %>
<% end %>

    <style>
      #listing_change_geo_entity_ids {
        width: 220px;
      }
    </style>
