<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Shipment Edit</h3>
</div>

<div class="modal-body filters">

  <form action="#">
    <fieldset>
      <div class="heading">
        Name, Appendix & Year
      </div>
      <div class="inner">
        <div class="attribute-area left taxon-name">
          <p>Taxon name</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.taxonName}}</p>
          {{view Trade.TaxonConceptSelect2
            prompt="Please select taxon names"
            valueBinding="currentShipment.taxonName"
            origin="sandbox"
            includeSynonyms="true"
          }}
        </div>
        <div class="attribute-area left">
          <p>Appendix</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.appendix}}</p>
            {{view Ember.Select
              prompt="Please select appendix value"
              valueBinding="currentShipment.appendix"
              contentBinding='controller.allAppendices'
              optionValuePath="content.name"
              optionLabelPath="content.name"
            }}
        </div>
        <div class="attribute-area left year">
          <p>Year</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.year}}</p>
            {{view Ember.TextField
              prompt="Please type year value"
              valueBinding="currentShipment.year"
            }}
        </div>
      </div>

      <div class="heading">
        Trade Codes & Quantity
      </div>
      <div class="inner">
        <div class="attribute-area left">
          <p>Quantity</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.quantity}}</span></p>
            {{view Ember.TextField
              prompt="Please type quantity value"
              valueBinding="currentShipment.quantity"
            }}
        </div>
        <div class="attribute-area left">
          <p>Term Code</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.termCode}}</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.terms"
              optionValuePath="content.code"
              optionLabelPath="content.code"
              valueBinding="currentShipment.termCode"
            }}
        </div>
        <div class="attribute-area left">
          <p>Unit Code</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.unitCode}}</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.units"
              optionValuePath="content.code"
              optionLabelPath="content.code"
              valueBinding="currentShipment.unitCode"
            }}
        </div>
        <div class="attribute-area left">
          <p>Purpose Code</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.purposeCode}}</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.purposes"
              optionValuePath="content.code"
              optionLabelPath="content.code"
              valueBinding="currentShipment.purposeCode"
            }}
        </div>
        <div class="attribute-area left">
          <p>Source Code</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.sourceCode}}</p>
            {{view Trade.Select2
              prompt="Select"
              contentBinding="controllers.sources"
              optionValuePath="content.code"
              optionLabelPath="content.code"
              valueBinding="currentShipment.sourceCode"
            }}
        </div>
      </div>

      <div class="heading">
        Trading Partners
      </div>
      <div class="inner">
        <div class="attribute-area left">
          <p>TradingPartner</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.tradingPartner}}</p>
            {{view Trade.Select2
              prompt="Please select trading partner"
              contentBinding="controllers.geoEntities"
              optionValuePath="content.isoCode2"
              optionLabelPath="content.isoCode2"
              valueBinding="currentShipment.tradingPartner"
            }}
        </div>
        <div class="attribute-area left">
          <p>Country of Origin</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.countryOfOrigin}}</p>
            {{view Trade.Select2
              prompt="Please select country of origin value"
              contentBinding="controllers.geoEntities"
              optionValuePath="content.isoCode2"
              optionLabelPath="content.isoCode2"
              valueBinding="currentShipment.countryOfOrigin"
            }}
        </div>
      </div>

      <div class="heading">
        Permit
      </div>
      <div class="inner">
        <div class="attribute-area left">
          <p>Import Permit</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.importPermit}}</p>
            {{view Ember.TextField
              prompt="Please type import permit value"
              valueBinding="currentShipment.importPermit"
            }}
        </div>
        <div class="attribute-area left">
          <p>Export Permit</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.exportPermit}}</p>
            {{view Ember.TextField
              prompt="Please type export permit value"
              valueBinding="currentShipment.exportPermit"
            }}
        </div>
        <div class="attribute-area left">
          <p>Origin Permit</p>
          <p class="small">Current value: <span class="blue">{{currentShipment.originPermit}}</p>
            {{view Ember.TextField
              prompt="Please type origin permit value"
              valueBinding="currentShipment.originPermit"
            }}
        </div>
      </div>

    </fieldset>
  </form>
</div>
<div class="modal-footer">
  {{confirm-button title="Update" action="updateShipment" shipmentBinding="currentShipment"
  }}
  <button {{action 'cancelShipmentEdit' currentShipment }} class="pull-right btn">
    Cancel
  </button>
</div>
