<aside>
  <%= image_tag  "rails.png" %>
  <%= t('id_manual_cover.header') %>
</aside>
<div>
  <main>
    <header>
      <h1><%= t('id_manual_cover.title') %></h1>

      <div class="id-manual-cover__metadata">
        <div class="id-manual-cover__metadata-row">
          <span><%= t('id_manual_cover.taxon_label') %>:</span>
          <em class="bold italic"><%= @taxon_name %></em>
        </div>

        <div class="id-manual-cover__metadata-row">
          <span><%= t('id_manual_cover.date_label') %>:</span>
          <em class="bold"><%= Time.now.strftime('%d/%m/%Y') %></em>
        </div>

        <div class="id-manual-cover__metadata-row">
          <span><%= t('id_manual_cover.website_label') %>:</span>
          <em class="bold"><%= t('id_manual_cover.checklist_url') %></em>
        </div>
      </div>
    </header>

    <div class="id-manual-cover__disclaimer">
      <%= t('id_manual_cover.disclaimer') %>

      <label class="id-manual-cover__disclaimer-label"><%= t('id_manual_cover.citation_label') %></label>
      <div><%= t('id_manual_cover.citation_text') %></div>

      <label class="id-manual-cover__disclaimer-label"><%= t('id_manual_cover.copyright_label') %></label>
      <div><%= t('id_manual_cover.copyright_text') %></div>
    </div>
  </main>
  <footer>
    <%= link_to  "" do %>
      <%= image_tag  "rails.png" %>
    <% end %>

    <%= link_to  "" do %>
      <%= image_tag  "rails.png" %>
    <% end %>

    <%= link_to  "" do %>
      <%= image_tag  "rails.png" %>
    <% end %>
  </footer>
</div>