<thead>
  <th width="10%">Designation</th>
  <th width="20%">Code</th>
  <th width="20%">Name (EN)</th>
  <th width="20%">Name (ES)</th>
  <th width="20%">Name (FR)</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |change_type| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="select"
          data-resource="change_type" data-name="designation_id"
          data-placeholder="Required" data-original-title="Enter the change type's designation"
          data-source="/admin/designations/"
          data-url="<%= resource_url(change_type) %>" data-pk="<%= change_type.id %>"
          data-value="<%= change_type.designation.id %>">
          <%= change_type.designation.name %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text"
          data-resource="change_type" data-name="name"
          data-placeholder="Required" data-original-title="Enter the change type's code"
          data-url="<%= resource_url(change_type) %>" data-pk="<%= change_type.id %>">
          <%= change_type.name %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text"
          data-resource="change_type" data-name="display_name_en"
          data-placeholder="Required" data-original-title="Enter the name in English"
          data-url="<%= resource_url(change_type) %>" data-pk="<%= change_type.id %>">
          <%= change_type.display_name_en %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text"
          data-resource="change_type" data-name="display_name_es"
          data-placeholder="Required" data-original-title="Enter the name in Spanish"
          data-url="<%= resource_url(change_type) %>" data-pk="<%= change_type.id %>">
          <%= change_type.display_name_es %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text"
          data-resource="change_type" data-name="display_name_fr"
          data-placeholder="Required" data-original-title="Enter the name in French"
          data-url="<%= resource_url(change_type) %>" data-pk="<%= change_type.id %>">
          <%= change_type.display_name_fr %>
        </a>
      </td>
      <td>
        <%= link_to delete_icon, resource_url(change_type), data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>
