<div class="admin-header">
  <h3>Intertaxonomic</h3>
  <div class="action-buttons">
    <%= admin_add_new_button %>
  </div>
</div>

<div style="clear:both"></div>

<ul class="nav nav-pills">
  <% @taxon_relationship_types.map(&:name).each do |taxon_relationship_type| %>
    <li class="<%= (@taxon_relationship_type.name == taxon_relationship_type ? 'active' : '') %>">
      <%= link_to taxon_relationship_type.titleize, collection_url(:type => taxon_relationship_type) %>
    </li>
  <% end %>
</ul>
<%= admin_new_modal %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">
    <%= "#{@taxon_concept.full_name} #{@taxon_relationship_type.name} ..." %>
  </a></li>
  <% unless @taxon_relationship_type.is_bidirectional? %>
    <li ><a data-toggle="tab" href="#inverse">
      <%= "... #{@taxon_relationship_type.name} #{@taxon_concept.full_name}" %>
    </a></li>
  <% end %>
</ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade active in">
    <%= admin_table %>

    <%= paginate collection %>
  </div>
  <% unless @taxon_relationship_type.is_bidirectional? %>
    <div id="inverse" class="tab-pane fade">
      <%= admin_table do %>
        <%= render :partial => 'list', :locals => {:collection => @inverse_taxon_relationships} %>
      <% end %>

      <%= paginate @inverse_taxon_relationships%>
    </div>
  <% end %>
</div>
