<p>Number of rows: {{numberOfRows}}</p>
<p>
  {{#if isExporter}}
    Exporter:
  {{else}}
    Importer:
  {{/if}}
  {{tradingCountry.name}}
</p>
<p>Uploaded at: {{createdAt}}</p>
<p>Uploaded by: TODO</p>
<button {{action submitShipments}}>Submit shipments</button>
<hr>

<table>
  <thead>
    <th>Error message</th>
    <th>Error count</th>
  </thead>
  {{collection Trade.ValidationErrorsView contentBinding='validationErrors'}}
</table>

<hr>
<button {{action 'saveChanges'}}>Save changes</button>

<div class='presentation-container'>
  {{view Trade.SandboxShipmentsTable.TablesContainer
    controllerBinding="tableController"
    selectionBinding="tableController.selection"
  }}
</div>
