<p>Number of rows: {{numberOfRows}}</p>
<p>Uploaded at: {{createdAt}}</p>
<p>Uploaded by: TODO</p>
<button {{action submitShipments}}>Submit shipments</button>
<hr>

<table>
  <thead>
    <th>Error message</th>
    <th>Error count</th>
  </thead>
  {{collection Trade.ValidationErrorsView contentBinding='validationErrors'}}
</table>
<hr>

<table>
  <thead>
    <th>Appendix</th>
    <th>Species Name</th>
    <th>Term Code</th>
    <th>Quantity</th>
    <th>Unit Code</th>
    <th>Trading Partner</th>
    <th>Country of Origin</th>
    <th>Import Permit</th>
    <th>Export Permit</th>
    <th>Origin Permit</th>
    <th>Purpose Code</th>
    <th>Source Code</th>
    <th>Year</th>
  </thead>
  {{collection Trade.SandboxShipmentsView contentBinding='controllers.visibleSandboxShipments'}}
</table>
