<div class="page-header">
  <h1>Annual report upload <small>SANDBOX</small></h1>
  {{summary}}
</div>

{{ partial 'trade/flash' }}

<div class="sandbox-header well well-small">
  <div class="row-fluid">
    <div class="span6">
      <h3>Validation errors</h3>
      <p>{{errorHeader}}</p>
    </div>
    <div class="sandbox-header-buttons span4">
      {{#view tagName='span' class='pull-right' isVisibleBinding='sandboxShipmentsSubmitting'}}
        <img src="/assets/loading.gif"> Submitting...
      {{/view}}
      <button {{action submitShipments}}
        {{bind-attr class="hasPrimaryErrors:disabled :pull-right :btn :btn-danger"}}
        {{bind-attr disabled="hasPrimaryErrors"}}>
        Submit shipments
      </button>
      <button type="button" id="toggle-errors" {{bind-attr class=":btn :btn-info hasNoErrors:hide"}} data-toggle="collapse" data-target=".collapse">
      </button>
    </div>
  </div>
</div>

{{collection Trade.ValidationErrorsView contentBinding='validationErrors' controller=this}}

{{ outlet }}

