<h2>Annual report upload summary</h2>
<p>{{summary}}</p>

<h2>Validation errors</h2>

<table>
  <thead>
    <th>Error message</th>
    <th>Error count</th>
  </thead>
  {{collection Trade.ValidationErrorsView contentBinding='validationErrors'}}
</table>

<button {{action submitShipments}}>Submit shipments</button>

<h2>Shipments</h2>

TODO filters here

<button {{action 'resetFilters'}}>Reset filters</button>

<div class='presentation-container'>
  {{view Trade.SandboxShipmentsTable.TablesContainer
    controllerBinding="tableController"
    selectionBinding="tableController.selection"
  }}
</div>

{{#if unsavedChanges}}There are unsaved changes.{{/if}}

<button {{action 'saveChanges'}}>Save changes</button>
<button {{action 'cancelChanges'}}>Cancel changes</button>