<p>Number of rows: {{numberOfRows}}</p>
<p>Uploaded at: {{createdAt}}</p>
<p>Uploaded by: TODO</p>
<button {{action submitShipments}}>Submit shipments</button>
<hr>

<table>
  <thead>
    <th>Appendix</th>
    <th>Species Name</th>
    <th>Term Code</th>
    <th>Quantity</th>
    <th>Unit Code</th>
    <th>Trading Partner</th>
    <th>Country of Origin</th>
    <th>Import Permit</th>
    <th>Export Permit</th>
    <th>Origin Permit</th>
    <th>Purpose Code</th>
    <th>Source Code</th>
    <th>Year</th>
  </thead>
  <tbody>
    {{#each sandboxShipments}}
    <tr>
      <td>{{appendix}}</td>
      <td>{{species_name}}</td>
      <td>{{term_code}}</td>
      <td>{{quantity}}</td>
      <td>{{unit_code}}</td>
      <td>{{trading_partner}}</td>
      <td>{{country_of_origin}}</td>
      <td>{{import_permit}}</td>
      <td>{{export_permit}}</td>
      <td>{{origin_permit}}</td>
      <td>{{purpose_code}}</td>
      <td>{{source_code}}</td>
      <td>{{year}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
