<div class="page-header">
  <h1>Annual report upload <small>SANDBOX</small></h1>
  {{summary}}
</div>

<div class="sandbox-header well well-small">
  <div class="row-fluid">
    <div class="span6">
      <h3>Validation errors</h3>
    </div>
    <div class="sandbox-header-buttons span6">
      {{#view tagName='span' class='pull-right' isVisibleBinding='controller.sandboxShipmentsSubmitting'}}
        <img src="/assets/loading.gif"> Submitting...
      {{/view}}
      <button {{action submitShipments}}
        {{bind-attr class="hasPrimaryErrors:disabled :pull-right :btn :btn-danger"}}
        {{bind-attr disabled="hasPrimaryErrors"}}>
        Submit shipments
      </button>
    </div>
  </div>
</div>

{{collection Trade.ValidationErrorsView contentBinding='validationErrors'}}

<div class="clearfix">
  <button type="button" class="btn btn-link pull-right" data-toggle="collapse" data-target="#sandbox-form-area">
  Show filters & batch updates >>
  </button>
</div>
<div id="sandbox-form-area" class="collapse">
  {{#view controllerBinding='controller' isVisibleBinding='controller.filtersVisible'}}
    <div class="sandbox-header well well-small">
      <h3>Filter records for batch editing</h3>
    </div>

    <div class="sandbox-form row-fluid">
      {{ partial 'trade/annual_report_upload/filters' }}
      <div class="row-fluid">
        <div class="span6 offset6">
          <button {{action selectForUpdate}} class="pull-right btn btn-primary">Select for update</button>
        </div>
      </div>
    </div>
  {{/view}}
  {{#view controllerBinding='controller' isVisibleBinding='controller.updatesVisible'}}
    <div class="sandbox-header well well-small">
      <h3>Batch edit selected records</h3>
    </div>

    <div class="sandbox-form row-fluid">
      {{ partial 'trade/annual_report_upload/batch_operations' }}
      <div class="row-fluid">
        <div class="span6 offset6">
          <button {{action cancelSelectForUpdate}} class="pull-right btn">Cancel</button>
          <button {{action updateSelection}} class="pull-right btn btn-primary">Update Selection</button>
          <button {{action deleteSelection}} class="pull-right btn btn-primary">Delete Selection</button>
        </div>
      </div>
    </div>
  {{/view}}
</div>
<div class="sandbox-header well well-small">
  <div class="row-fluid">
    <div class="span5">
      <h3>Sandbox</h3>
    </div>
    <div class="sandbox-header-buttons span7">
      {{#view tagName='span' class='pull-right' isVisibleBinding='controller.sandboxShipmentsSaving'}}
        <img src="/assets/loading.gif"> Saving...
      {{/view}}
      <button {{action 'saveChanges'}}
        {{bind-attr class="unsavedChanges::disabled :pull-right :btn :btn-primary"}}>
        Save changes
      </button>
      <button {{action 'cancelChanges'}} class="pull-right btn clearfix">
        Cancel changes
      </button>
      {{#if unsavedChanges}}
        <span class="pull-right label label-important">There are {{changedRowsCount}} unsaved changes.</span>
      {{/if}}
    </div>
  </div>
</div>
<div>
  {{#if filtersSelected}}
    {{visibleShipmentsCount}} rows selected
    <button {{action 'resetFilters'}} class="pull-right btn">Reset selection</button>
  {{/if}}
</div>

<div class='presentation-container'>
  {{view Trade.SandboxShipmentsTable.TablesContainer
    controllerBinding="tableController"
    selectionBinding="tableController.selection"
  }}
</div>
