<div class="page-header">
  <h1>Annual report upload <small>SANDBOX</small></h1>
  {{summary}}
</div>

<div class="sandbox-header well well-small">
  <div class="row-fluid">
    <div class="span6">
      <h3>Validation errors</h3>
    </div>
    <div class="sandbox-header-buttons span6">
      {{#view tagName='span' class='pull-right' isVisibleBinding='controllers.sandboxShipments.sandboxShipmentsSubmitting'}}
        <img src="/assets/loading.gif"> Submitting...
      {{/view}}
      <button {{action controllers.sandboxShipments.submitShipments}}
        {{bind-attr class="hasPrimaryErrors:disabled :pull-right :btn :btn-danger"}}
        {{bind-attr disabled="hasPrimaryErrors"}}>
        Submit shipments
      </button>
    </div>
  </div>
</div>

{{collection Trade.ValidationErrorsView contentBinding='validationErrors'}}



{{ outlet }}

