<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Trade DB Management Tool</a>
    <ul class="nav">
      <li>{{#linkTo "shipments" queryParams=false}}Home{{/linkTo}}</li>
	    <li>{{#linkTo "annual_report_uploads"}}Annual Report Uploads{{/linkTo}}</li>
      <li>{{#linkTo "validation_rules"}}Validation rules{{/linkTo}}</li>
      <li><a href="/trade/stats">Stats</a></li>
    </ul>
  </div>
</div>

<div class="container">
  {{#if notification}}
    <div {{bindAttr class=":alert :fade :in notification.type"}} id="notification">
      <a class="close" data-dismiss="alert" {{action "closeNotification"}}>&times;</a>
      {{#if notification.title}}
        <h3>{{notification.title}}</h3>
      {{/if}}
      {{notification.message}}
    </div>
  {{/if}}

  {{outlet}}
  <hr>
  <footer>
    <p>&copy; UNEP-WCMC {{view.currentYear}}</p>
  </footer>
</div><!--/.fluid-container-->
