<div class="paging">
  <ul class="pager">
    {{# if controller.showPrevPage }}
      <li><a href="#" {{action "prevPage" target="view" on="click"}}>&#9664;</a></li>
    {{/if}}

    <li>Page {{controller.page}} of {{controller.pages}}</li>

    {{# if controller.showNextPage }}
      <li><a href="#" {{action "nextPage" target="view" on="click"}}>&#9654;</a></li>
    {{/if}}
  </ul>
</div>
<div class='presentation-container'>
  {{view Trade.ShipmentsTable.TablesContainer
    controllerBinding="tableController"
    selectionBinding="tableController.selection"
  }}
</div>
<div class="paging">
  <ul class="pager">
    {{# if controller.showPrevPage }}
      <li><a href="#" {{action "prevPage" target="view" on="click"}}>&#9664;</a></li>
    {{/if}}

    <li>Page {{controller.page}} of {{controller.pages}}</li>

    {{# if controller.showNextPage }}
      <li><a href="#" {{action "nextPage" target="view" on="click"}}>&#9654;</a></li>
    {{/if}}
  </ul>
</div>
