<table>
<thead>
  <th>Type</th>
  <th>Column names</th>
  <th>Valid values view</th>
  <th>Format RE</th>
  <th>Run order</th>
</thead>
<tbody>

  {{#each controller}}
  <tr>
    <td>{{type}}</td>
    <td>
      <ul>
      {{#each columnName in columnNames}}
        <li>{{columnName}}</li>
      {{/each}}
      </ul>
    </td>
    <td>{{validValuesView}}</td>
    <td>{{formatRe}}</td>
    <td>{{runOrder}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
