<thead>
  <th>Id</th>
  <th>Class</th>
  <th>Taxon Concept</th>
  <th>Author year</th>
  <th>IUCN Name</th>
  <th>IUCN ID</th>
  <th>IUCN Author</th>
  <th>IUCN Category</th>
  <th>Details</th>
  <th>No matches</th>
</thead>
<tbody>
  <% collection.each do |map| -%>
    <tr class="<%= map.details["match"].try(:downcase) %>">
      <td><%= map.taxon_concept_id %></td>
      <td><%= map.taxon_concept.data["class_name"] %></td>
      <td><%= link_to map.taxon_concept.full_name,
        admin_taxon_concept_names_path(map.taxon_concept) %></td>
      <td><%= map.taxon_concept.author_year %></td>
      <td><%= map.iucn_taxon_name %></td>
      <td><%= map.iucn_taxon_id %></td>
      <td><%= map.iucn_author %></td>
      <td><%= map.iucn_category %></td>
      <td>
        <%= map.details["match"] %>
        <% if (synonym = map.synonym ) %>
          (<%= link_to synonym.full_name,
            admin_taxon_concept_names_path(synonym) %>)
        <% end %>
      </td>
      <td><%= map.details["no_matches"] %></td>
    </tr>
  <% end -%>
</tbody>
