<div class="admin-header">
  <h1>IUCN Mappings</h1>
</div>

<p style="clear:both;">
  <strong>All:</strong> <%= @totals[:all] %>
  <% if !params[:show] || params[:show] != "ALL" %>
    <%= link_to 'View', admin_iucn_mappings_path(:show => "ALL") %>
  <% end %>
  <br />
  <strong>Matching species:</strong> <%= @totals[:with_match] %>
  <% if !params[:show] || params[:show] != "MATCHING" %>
    <%= link_to 'View', admin_iucn_mappings_path(:show => "MATCHING") %>
  <% end %>
  <br />
  <strong>Non matching species:</strong> <%= @totals[:without_match] %>
  <% if !params[:show] || params[:show] != "NON_MATCHING" %>
    <%= link_to 'View', admin_iucn_mappings_path(:show => "NON_MATCHING") %>
  <% end %>
</p>
<%= admin_table %>

<%= paginate collection %>

