<thead>
  <th>Name</th>
  <th>Effective from</th>
  <th>Current</th>
  <th>Documents</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |cites_ac| -%>
    <tr class="<%= if cites_ac.is_current? then "current_listing" end %>">
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="cites_ac" data-name="name"
          data-placeholder="Required" data-original-title="Enter the CITES Ac's name"
          data-url="<%= resource_url(cites_ac) %>" data-pk="<%= cites_ac.id %>">
          <%= cites_ac.name %>
        </a>
      </td>
      <td><%= cites_ac.effective_at_formatted %></td>
      <td><%= true_false_icon(cites_ac.is_current) %></td>
      <td>
        <%= link_to cites_ac.documents.count, admin_event_documents_path(cites_ac) %>
      </td>
      <td>
        <%= link_to edit_icon, edit_resource_url(cites_ac), :remote => true %>
        <%= link_to delete_icon, resource_url(cites_ac),
          data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete
        %>
      </td>
    </tr>
  <% end -%>
</tbody>
