<thead>
  <th>Year</th>
  <th>Published at</th>
  <th>Current</th>
  <th>Party</th>
  <th>Purpose</th>
  <th>Term</th>
  <th>Source</th>
  <th>Basis</th>
  <th>Notes</th>
  <th>Actions</th>
</thead>
<tbody>
  <% collection.each do |tcs| %>
    <% suspension = tcs.suspension %>
    <tr class="<%= if suspension.is_current? then "current_listing" end %>">
      <td><%= suspension.year %></td>
      <td><%= suspension.publication_date_formatted %></td>
      <td><%= true_false_icon(suspension.is_current) %></td>
      <td><%= suspension.geo_entity && suspension.geo_entity.iso_code2 %></td>
      <td><%= suspension.purpose && suspension.purpose.code %></td>
      <td><%= suspension.term && suspension.term.code %></td>
      <td><%= suspension.source && suspension.source.code %></td>
      <td><%= suspension.suspension_basis %></td>
      <td><%= suspension.notes %></td>
      <td>
        <%= link_to edit_icon,
          edit_admin_taxon_concept_taxon_concept_suspension_path(@taxon_concept, tcs)
        %>
        <%= link_to delete_icon,
          admin_taxon_concept_taxon_concept_suspension_path(@taxon_concept, tcs),
          :confirm => "Are you sure?", :method => :delete
        %>
      </td>
    </tr>
  <% end -%>
</tbody>

