<thead>
  <th>Parent symbol</th>
  <th>Symbol</th>
  <th>Note</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |annotation| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="annotation" data-name="parent_symbol"
          data-placeholder="CoP15" data-original-title="Enter the parent symbol"
          data-url="<%= resource_url(annotation) %>" data-pk="<%= annotation.id %>">
          <%= annotation.parent_symbol %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="annotation" data-name="symbol"
          data-placeholder="#1" data-original-title="Enter the symbol"
          data-url="<%= resource_url(annotation) %>" data-pk="<%= annotation.id %>">
          <%= annotation.symbol %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="annotation" data-name="full_note_en"
          data-placeholder="Required" data-original-title="Enter the note"
          data-url="<%= resource_url(annotation) %>" data-pk="<%= annotation.id %>">
          <%= annotation.full_note_en %>
        </a>
      </td>
      <td>
        <%= link_to 'Delete', resource_url(annotation), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>
