<ul id="trade-stats-tabs" class="nav nav-tabs">
  <li class="<%= if action_name == "index" then 'active' end %>">
    <%= link_to "General Statistics", 'stats' %>
  </li>
  <li class="<%= if action_name == "summary_creation" then 'active' end %>">
    <%= link_to "Annual Report Uploaded", 'summary_creation' %>
  </li>
  <li class="<%= if action_name == "summary_year" then 'active' end %>">
    <%= link_to "Annual Reports Submitted", 'summary_year' %>
  </li>
  <li class="<%= if action_name == "trade_transactions" then 'active' end %>">
    <%= link_to "Summary Trade Transactions", 'trade_transactions' %>
  </li>
</ul>
