<h1>Trade Statistics</h1>

<%= render 'menu' %>

<h3>General Statistics</h3>

<table class="table table-bordered table-striped ">
  <tr>
    <th>Total shipments</th>
    <td><%= @total_shipments %></td>
  </tr>
  <tr>
    <th>Last updated</th>
    <td><%= @last_updated %></td>
  </tr>
  <tr>
    <th>No of taxon concepts in trade</th>
    <td><%= @taxon_concepts_in_trade %></td>
  </tr>
</table>

<%= render 'general_statistics_per_range' %>


<h3>Summary of trade transactions</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Reported by Exporters</th>
      <th>Reported by Importers</th>
      <th>Total transactions</th>
    </tr>
  </thead>
  <tbody>

    <%  @transactions.keys.reject{|a| a == :total}.sort.each do |year| %>
    <tr>
      <td><%= year %></td>
      <td><%= @transactions[year][:reported_by_exporter] %></td>
      <td><%= @transactions[year][:reported_by_importer] %></td>
      <td><%= @transactions[year][:total] %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <th><%= @transactions[:total][:by_exporter] %></th>
    <th><%= @transactions[:total][:by_importer] %></th>
    <th><%= @transactions[:total][:all] %></th>
  </tr>
  </tbody>
</table>



