<%= nested_form_for [:admin, @taxon_concept, @distribution],  :remote => true do |f| %>
  <%= error_messages_for(@distribution) %>

  <div class="control-group">
    <label>Country</label>
    <%= f.select :geo_entity_id,
      options_from_collection_for_select(
        @geo_entities,
        :id,
        :name_en,
        @distribution.geo_entity_id
      ), { },
      { :class => 'distribution', :style => "width: 220px"}
    %>
  </div>

  <div class="control-group">
    <label>Tags</label>
    <%= f.select :tag_list,
      options_from_collection_for_select(
        @tags,
        :name,
        :name,
        @distribution.tag_list
      ), {},
      { :multiple => true, :class => 'distribution', :style => "width: 220px"}
    %>
  </div>

  <h4>References</h4>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#search">Search for a reference</a></li>
    <li><a href="#new">Create new references</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="search">
      <label>Search by title, author or year:</label>
      <%= text_field_tag 'reference_search', nil, :class => 'typeahead' %>
      <%= text_field_tag 'reference[id]', nil, :class => 'hidden' %>
    </div>

    <div class="tab-pane fade" id="new">
      <%= f.link_to_add "Add a reference", :references %>

      <%= f.fields_for :references do |ff| %>
        <label>Title</label>
        <%= ff.text_field :title %>

        <label>Author</label>
        <%= ff.text_field :author %>

        <label>Year</label>
        <%= ff.text_field :year %>

        <p>
          <%= ff.link_to_remove "Remove reference" %>
        </p>

        <hr>
      <% end %>
    </div>
  </div>
<% end %>
