<table class="table table-striped table-hover">
  <thead>
    <th>
      Geo entity
    </th>
    <th>
      Tags
    </th>
    <th>
      References
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
  <% @distributions.each do |d| %>
    <tr>
      <td>
        <%= d.geo_entity.name %>
      </td>
      <td>
        <%= tag_list(d.tag_list) %>
      </td>
      <td>
        <ul class="unstyled">
          <% d.references.each do |r| %>
            <li class="reference-citation"><%= r.citation %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to edit_icon, edit_admin_taxon_concept_distribution_url(@taxon_concept, d), :remote => true %>
        <%= link_to delete_icon, admin_taxon_concept_distribution_url(@taxon_concept, d), :confirm => "Warning: you are about to delete data. Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
