<%= form_for [:admin, @ec_srg], :remote => true do |f| %>

  <%= error_messages_for(@ec_srg) %>

  <%= f.hidden_field :designation_id %>
  <label>Name</label><%= f.text_field :name %><br />
  <label>Effective from</label>
  <%= f.text_field :effective_at, :class => "datepicker",
    :value => @ec_srg.effective_at_formatted
  %>
  <label>Published at</label>
  <%= f.text_field :published_at, :class => "datepicker",
    :value => @ec_srg.published_at_formatted
  %>
  <label>URL</label><%= f.text_field :url %><br />
  <label>Private URL</label><%= f.text_field :private_url %><br />
<% end %>
