<div class="row-fluid header">
  <h1 title="<%= @taxon_concept.rank.name %>">
    <%= @taxon_concept.full_name %>
    <span>
      <% if @taxon_concept.rank.name == Rank::SPECIES %>
        <a href="/species#/taxon_concepts/<%= @taxon_concept.id %>/legal"
          title="View this taxon concept in Species+" alt="link to this taxon concept in Species+">
      <% else %>
        <a href="/species#/taxon_concepts?taxonomy=<%= @taxon_concept.taxonomy.name.downcase %>&taxon_concept_query=<%= @taxon_concept.full_name %>"
          title="View this taxon concept in Species+" alt="link to this taxon concept in Species+">
      <% end %>
          in Species+
        </a>
    </span>
  </h1>
  <%= link_to edit_icon, edit_admin_taxon_concept_url(@taxon_concept), :remote => true %>
  <%= link_to delete_icon, admin_taxon_concept_url(@taxon_concept), 
    :confirm => "Warning: you are about to delete data. Are you sure?", :method => :delete %>
  <%= @taxon_concept.author_year %>
  <% if @taxon_concept.tag_list %>
    <%= tag_list(@taxon_concept.tag_list) %><br />
  <% end %>
  <% if @taxon_concept.is_synonym? %>
    <div>
      <span>SYNONYM OF:</span>
      <ul>
        <% @taxon_concept.accepted_names.each do |tc| %>
          <li><%= link_to tc.full_name, params.merge(:taxon_concept_id => tc.id) %></li>
        <% end %>
      </ul>
    </div>
  <% elsif @taxon_concept.is_hybrid? %>
    <div>
      <span>HYBRID OF:</span>
      <ul>
        <% @taxon_concept.hybrid_parents.each do |tc| %>
          <li><%= link_to tc.full_name, params.merge(:taxon_concept_id => tc.id) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= ancestors_path(@taxon_concept) %>
</div>

<%= admin_new_taxon_concept_modal(:title => 'Edit Taxon Concept') %>

<ul id="taxon-concept-tabs" class="nav nav-tabs">

  <% @taxon_concept.designations.each do |d| %>
    <% if d.is_cites? %>
      <li class="dropdown <%= if @designation && @designation.is_cites? ||
        %w(quotas taxon_concept_cites_suspensions).include?(controller_name) then 'active' end %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CITES legislation<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="<%= if controller_name == "listing_changes" && @designation.is_cites? then "active" end%>">
            <%= link_to "CITES listings", admin_taxon_concept_designation_listing_changes_path(@taxon_concept, d) %>
          </li>
          <li class="<%= if controller_name == 'quotas' then 'active' end%>">
            <%= link_to "CITES Quotas", admin_taxon_concept_quotas_path(@taxon_concept) %>
          </li>
          <li class="<%= if controller_name == 'taxon_concept_cites_suspensions' then 'active' end%>">
            <%= link_to "CITES Suspensions", admin_taxon_concept_cites_suspensions_path(@taxon_concept) %>
          </li>
        </ul>
      </li>
    <% elsif d.is_eu? %>
      <li class="dropdown <%= if @designation &&@designation.is_eu? ||
        %w(eu_opinions eu_suspensions).include?(controller_name) then 'active' end %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">EU legislation <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="<%= if controller_name == "listing_changes" && @designation.is_eu? then "active" end%>">
            <%= link_to "EU listings", admin_taxon_concept_designation_listing_changes_path(@taxon_concept, d) %>
          </li>
          <li class="<%= if controller_name == 'eu_opinions' then 'active' end%>">
            <%= link_to "EU Opinions", admin_taxon_concept_eu_opinions_path(@taxon_concept) %>
          </li>
          <li class="<%= if controller_name == 'eu_suspensions' then 'active' end%>">
            <%= link_to "EU Suspensions", admin_taxon_concept_eu_suspensions_path(@taxon_concept) %>
          </li>
        </ul>
      </li>
    <% elsif d.is_cms? %>
      <li class="<%= if @designation && @designation.is_cms? then 'active' end %>">
        <%= link_to "CMS listings", admin_taxon_concept_designation_listing_changes_path(@taxon_concept, d) %>
      </li>
      <li class="<%= if @taxon_instruments then 'active' end %>">
        <%= link_to "Instruments", admin_taxon_concept_taxon_instruments_path(@taxon_concept) %>
      </li>
    <% end %>
  <% end %>
  <li class="<%= if controller_name == 'names' then 'active' end %>">
    <%= link_to "Names", admin_taxon_concept_names_path(@taxon_concept) %>
  </li>
  <li class="<%= if controller_name == 'distributions' then 'active' end %>">
    <%= link_to "Distribution", admin_taxon_concept_distributions_path(@taxon_concept) %>
  </li>
  <li class="<%= if controller_name == 'taxon_concept_references' then 'active' end %>">
    <%= link_to "References", admin_taxon_concept_taxon_concept_references_path(@taxon_concept) %>
  </li>

  <li class="<%= if controller_name == "taxon_relationships" then "active" end%>">
    <%= link_to "Taxon Relationships", admin_taxon_concept_taxon_relationships_path(@taxon_concept) %>
  </li>

  <li class="<%= if controller_name == "children" then "active" end%>">
    <%= link_to "Children", admin_taxon_concept_children_path(@taxon_concept) %>
  </li>
</ul>
