<div class="row-fluid header">
  <span></span><%= @taxon_concept.designation.name %></span>
  <%= ancestors_path(@taxon_concept) %>
  <%= content_tag(:h1, @taxon_concept.full_name, :title => @taxon_concept.rank.name) %>
  <%= link_to edit_icon, edit_admin_taxon_concept_url(@taxon_concept), :remote => true %>
  <%= link_to delete_icon, admin_taxon_concept_url(@taxon_concept), :confirm => "Are you sure?", :method => :delete %>
  <%= @taxon_concept.author_year %>
</div>

<%= admin_new_taxon_concept_modal %>

<ul id="taxon-concept-tabs" class="nav nav-tabs">
  <li class="<%= if controller_name == "taxon_concepts" then "active" end%>"><%= link_to "Details", edit_admin_taxon_concept_path(@taxon_concept) %></li>
  <li class="<%= if controller_name == "listing_changes" then "active" end%>"><%= link_to "Legislation", admin_taxon_concept_listing_changes_path(@taxon_concept) %></li>
  <li class="<%= if controller_name == "taxon_relationships" then "active" end%>"><%= link_to "Taxon Relationships", admin_taxon_concept_taxon_relationships_path(@taxon_concept) %></li>
</ul>
