      <%= nested_form_for @taxon_concept, :url => admin_taxon_concept_url(@taxon_concept) do |f| %>
        <%= error_messages_for(@taxon_concept) %>
        <%= f.link_to_add "Add a common name", :common_names, :class => '.pull-right' %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Language</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :common_names, :wrapper => false do |ff| %>
              <tr class="fields">
                <td><%= ff.text_field :name %></td>
                <td><%= ff.select :language_id, options_from_collection_for_select(@languages, :id, :name_en) %></td>
                <td>
                  <%= ff.select :language_id,
                    options_from_collection_for_select(@languages, :id, :name_en, ff.object.language_id )
                  %>
                </td>
                <td><%= ff.link_to_remove "Remove" %></td>
              </tr>
            <% end%>
          </tbody>
        </table>
        <%= f.submit %>
      <% end %>