<h1><%= @taxon_concept.full_name %></h1>
<%= @taxon_concept.author_year %><br>

Designation: <%= @taxon_concept.designation.name %><br>
Rank: <%= @taxon_concept.rank.name %><br>
Parent: <%= @taxon_concept.parent.full_name %><br>