<script type="text/javascript">
  $(document).ready(function() {
    window.geoEntitiesList = new SAPIAdmin.EditableList({
      list: <%= @taxon_concept.geo_entities.to_json.html_safe %>,
      el: '<ul class="unstyled">',
    })

    $('.geo-entities-list').html(window.geoEntitiesList.render());

    window.commonNamesList = new SAPIAdmin.EditableList({
      list: <%= @taxon_concept.common_names.to_json.html_safe %>,
      el: '<ul class="unstyled">',
      showEditLink: true,
      onEdit: function(e) {
        name = $(e.target).parents('li').attr('data-id')
        console.log(name);
      }
    })

    $('.common-names-list').html(window.commonNamesList.render());
  });
</script>

<div class="row-fluid header">
  <h1><%= @taxon_concept.full_name || @taxon_concept.full_name %></h1>
  <%= @taxon_concept.author_year %>
</div>

<ul id="taxon-concept-tabs" class="nav nav-tabs">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#taxon-relationships" data-toggle="tab">Taxon Relationships</a></li>
  <li><a href="#legislation" data-toggle="tab">Legislation</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade active in" id="details">
    <%= form_for :taxon_concept, :url => admin_taxon_concepts_url, :remote => true do |f| %>
      <div class="row-fluid">

        <div class="span3">
          <h3>Details</h3>
          <%= render "form" %>
        </div>

        <div class="span3">
          <h3>Synonyms</h3>
          <%= admin_add_new_synonym_button %>
          <%= admin_new_synonym_modal(true) %>


          <hr>

          <div class="synonyms-list">
            <%= render 'admin/synonyms/list' %>
          </div>
        </div>

        <div class="span3">
          <h3>Distribution</h3>

          <div class="geo-entities-list">
          </div>
        </div>

        <div class="span3">
          <h3>Common name</h3>
          <%= admin_add_new_common_name_button %>
          <%= admin_new_common_name_modal %>

          <hr>

          <div id="taxon-commons-list">
            <%= render "admin/taxon_commons/list" %>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <div class="row-fluid tab-pane fade" id="taxon-relationships">
    <div class="span12">
    </div>
  </div>

  <div class="row-fluid tab-pane" id="legislation">
    <div class="span12">
    </div>
  </div>
</div>
