<%= form_for :taxon_concept, :url => admin_taxon_concepts_url, :remote => true do |f| %>
  <div class="row-fluid">

    <div class="span4">
      <h3>Synonyms</h3>
      <%= admin_add_new_synonym_button(true) %>
      <%= admin_new_synonym_modal(true) %>

      <hr>

      <div id="synonyms-list">
        <%= render 'admin/synonym_relationships/list' %>
      </div>
    </div>

    <div class="span4">
      <h3>Distribution</h3>

      <div class="geo-entities-list">
      </div>
    </div>

    <div class="span4">
      <h3>Common name</h3>
      <%= admin_add_new_common_name_button %>
      <%= admin_new_common_name_modal %>

      <hr>

      <div id="taxon-commons-list">
        <%= render "admin/taxon_commons/list" %>
      </div>
    </div>

  </div>
<% end %>
