<h1><%= @taxon_concept.full_name %></h1>

<%= link_to "Taxon Relationships", admin_taxon_concept_taxon_relationships_path(@taxon_concept) %><br>

<%= @taxon_concept.author_year %><br>

Designation: <%= @taxon_concept.designation.name %><br>
Rank: <%= @taxon_concept.rank.name %><br>
Parent: <%= @taxon_concept.parent.try(:full_name) %><br>
