<%= form_for :taxon_concept, :url => admin_taxon_concepts_url, :remote => true do |f| %>
  <div class="row-fluid">

    <div class="span4">
      <h3>Synonyms</h3>
      <%= admin_add_new_synonym_button(true) %>
      <%= admin_new_synonym_modal(true) %>
      <hr>
      <div id="synonyms-list">
        <% if @taxon_concept.has_synonyms? %>
          <%= render 'admin/synonym_relationships/list' %>
        <% else %>
          No synonyms defined.
        <% end %>
      </div>

      <h3>Hybrids</h3>
      <%= admin_add_new_hybrid_button(true) %>
      <%= admin_new_hybrid_modal(true) %>
      <hr>
      <div id="hybrids-list">
        <% if @taxon_concept.has_hybrids? %>
          <%= render 'admin/hybrid_relationships/list' %>
        <% else %>
          No hybrids defined.
        <% end %>
      </div>
    </div>

    <div class="span4">
      <h3>Distribution</h3>
      <%= admin_add_new_distribution_button(true) %>
      <%= admin_new_distribution_modal(true) %>

      <hr />
      <div class="distributions-list">
        <% if @taxon_concept.has_distribution? %>
          <%= render 'admin/distributions/list' %>
        <% else %>
          No distribution information added.
        <% end %>
      </div>
    </div>

    <div class="span4">
      <h3>Common name</h3>
      <%= admin_add_new_common_name_button %>
      <%= admin_new_common_name_modal %>

      <hr>

      <div id="taxon-commons-list">
        <%= render "admin/taxon_commons/list" %>
      </div>
    </div>

  </div>
<% end %>
