<thead>
  <th>Name</th>
  <th>Tooltip</th>
  <th>Type</th>
  <th width="10%">Actions</th>
</thead>
<tbody>

  <% collection.each do |eu_decision_type| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="eu_decision_type" data-name="name"
          data-placeholder="Required" data-original-title="Enter the decision type name"
          data-url="<%= resource_url(eu_decision_type) %>" data-pk="<%= eu_decision_type.id %>">
          <%= eu_decision_type.name %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="eu_decision_type" data-name="tooltip"
          data-placeholder="Required" data-original-title="Enter the decision type tooltip"
          data-url="<%= resource_url(eu_decision_type) %>" data-pk="<%= eu_decision_type.id %>">
          <%= eu_decision_type.tooltip %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="select" data-resource="eu_decision_type" data-name="decision_type"
          data-placeholder="Required" data-original-title="Enter the decision type", data-source="/admin/eu_decision_types/"
          data-url="<%= resource_url(eu_decision_type) %>" data-pk="<%= eu_decision_type.id %>">
          <%= eu_decision_type.decision_type %>
        </a>
      </td>
      <td>
        <%= link_to delete_icon, resource_url(eu_decision_type), data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete %>
      </td>
    </tr>
  <% end -%>

</tbody>
