<ul>
  <li><%= link_to 'Manage terms', admin_terms_path %></li>
  <li><%= link_to 'Manage sources', admin_sources_path %></li>
  <li><%= link_to 'Manage purposes', admin_purposes_path %></li>
  <li><%= link_to 'Manage units', admin_units_path %></li>
  <li><%= link_to 'Manage designations', admin_designations_path %></li>
  <li><%= link_to 'Manage languages', admin_languages_path %></li>
  <li><%= link_to 'Manage species listings', admin_species_listings_path %></li>
  <li><%= link_to 'Manage users', admin_users_path %></li>
</ul>
