{{partial 'species/tabs'}}
<div style="clear:both"></div>
{{outlet search}}

<div class="container">
  <div class="result-block">
    <table class="grouped-results-table">
      <thead class="grouped-header">
        <tr>
          <th></th>
          <th>MEETING TYPE</th>
          <th>No of DOCUMENTS<th>
        </tr>
      </thead>
      <tbody>
        {{documents-row meeting_type="CITES CoP Proposals"
          eventType="CitesCop"
          dataController=controller
          loadMore=controller.citesCopProposalsDocsLoadMore
          documents=controller.citesCopProposalsDocuments
          proposalOutcome=true
          isLoading=controller.citesCopProposalsDocsIsLoading}}
        {{documents-row meeting_type="CITES Review of Significant Trade (animals)"
          eventType="CitesAc,CitesTc"
          dataController=controller
          loadMore=controller.citesAcDocsLoadMore
          documents=controller.citesAcDocuments
          isLoading=controller.citesAcDocsIsLoading}}
        {{documents-row meeting_type="CITES Review of Significant Trade (plants)"
          eventType="CitesPc"
          dataController=controller
          loadMore=controller.citesPcDocsLoadMore
          documents=controller.citesPcDocuments
          isLoading=controller.citesPcDocsIsLoading}}
        {{documents-row meeting_type="EU Scientific Review Group"
          eventType="EcSrg"
          dataController=controller
          loadMore=controller.euSrgDocsLoadMore
          documents=controller.euSrgDocuments
          isLoading=controller.euSrgDocsIsLoading}}
        {{documents-row meeting_type="Intersessional documents"
          eventType="other"
          dataController=controller
          loadMore=controller.otherDocsLoadMore
          documents=controller.otherDocuments
          isLoading=controller.otherDocsIsLoading}}
      </tbody>
    </table>
  </div>
</div>
