{{partial 'species/tabs'}}
{{outlet search}}

<div class="container">
  <div class="result-block">
    <table class="grouped-results-table">
      <thead class="grouped-header">
        <tr>
          <th></th>
          <th>MEETING TYPE</th>
          <th>No of DOCUMENTS<th>
        </tr>
      </thead>
      <tbody>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>EC SRG</td>
          <td>{{content.ec_srg_docs.length}}</td>
        </tr>
        {{documents-results documents=content.ec_srg_docs}}
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>CITES CoP</td>
          <td>{{content.cites_cop_docs.length}}</td>
        </tr>
        {{documents-results documents=content.cites_cop_docs proposalOutcome=true}}
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>CITES Animals Committee</td>
          <td>{{content.cites_ac_docs.length}}</td>
        </tr>
        {{documents-results documents=content.cites_ac_docs reviewPhase=true}}
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>CITES Plants Committee</td>
          <td>{{content.cites_pc_docs.length}}</td>
        </tr>
        {{documents-results documents=content.cites_pc_docs reviewPhase=true}}
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>Other</td>
          <td>{{content.other_docs.length}}</td>
        </tr>
        {{documents-results documents=content.other_docs}}
      </tbody>
    </table>
  </div>
</div>
