{{partial 'species/tabs'}}
{{outlet search}}

<div class="container">

  <div class="results-heading">
    Search Results for Taxon:
  </div>

  <div class="result-block">
    <table class="grouped-results-table">
      <thead>
        <tr>
          <th></th>
          <th>EVENT TYPE</th>
          <th>DOCUMENT TYPE</th>
          <th>No of DOCUMENTS<th>
        </tr>
      </thead>
      <tbody>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>CITES Animals Committee</td>
          <td>Review of Significant Trade</td>
          <td>2</td>
        </tr>
        <tr class="table-row">
          <td colspan="4">
            <div class="inner-table-container">
              <div class="header-container">
                <table class="table-header">
                  <thead>
                    <tr>
                      <th class="event-col">EVENT</th>
                      <th class="event-date-col">EVENT DATE</th>
                      <th class="title-col">TITLE</th>
                      <th class="language-col">LANGUAGE</th>
                      <th class="countries-col">No. of COUNTRIES</th>
                      <th class="taxon-col">TAXON NAME</th>
                      <th class="download-col">
                        <i class="fa fa-download"></i>
                        <input type="checkbox">
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="body-container">
                <table class="table-body">
                  <thead>
                    <tr>
                      <th class="event-col"></th>
                      <th class="event-date-col"></th>
                      <th class="title-col"></th>
                      <th class="language-col"></th>
                      <th class="countries-col"></th>
                      <th class="taxon-col"></th>
                      <th class="download-col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each doc in content.cites_cop_docs}}
                      <tr>
                        <td>{{doc.event_name}}</td>
                        <td>{{doc.event_date}}</td>
                        <td>{{doc.title}}</td>
                        <td>{{doc.language}}</td>
                        <td>{{doc.geo_entity_names}}</td>
                        <td>{{doc.taxon_names}}</td>
                        <td><input type="checkbox"></td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>EC SRG</td>
          <td>Meeting Agenda</td>
          <td>17</td>
        </tr>
        <tr class="table-row">
          <td colspan="4">
            <div class="inner-table-container">
              <div class="header-container">
                <table class="table-header">
                  <thead>
                    <tr>
                      <th class="event-col">EVENT</th>
                      <th class="event-date-col">EVENT DATE</th>
                      <th class="title-col">TITLE</th>
                      <th class="language-col">LANGUAGE</th>
                      <th class="countries-col">No. of COUNTRIES</th>
                      <th class="taxon-col">TAXON NAME</th>
                      <th class="download-col">
                        <i class="fa fa-download"></i>
                        <input type="checkbox">
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="body-container">
                <table class="table-body">
                  <thead>
                    <tr>
                      <th class="event-col"></th>
                      <th class="event-date-col"></th>
                      <th class="title-col"></th>
                      <th class="language-col"></th>
                      <th class="countries-col"></th>
                      <th class="taxon-col"></th>
                      <th class="download-col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>aSRG22</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>SRG72</td>
                      <td>24/04/2006</td>
                      <td>SRG72-1 Agenda</td>
                      <td><select><option>English</option></select></td>
                      <td>England</td>
                      <td>Lynx Lynx</td>
                      <td><input type="checkbox"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <div>
          </td>
        </tr>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>EC SRG</td>
          <td>Meeting Agenda</td>
          <td>17</td>
        </tr>
      </tbody>
    </table>

  </div>


</div>
