<div class="tab-content">
  <div id="tab4">
    <div class="three-columns">
      <div class="col">
        <div class="popup-area">
          {{view Species.AppendixButton controllerBinding="controller"}}
          <div class="popup-holder-appendix">
            <div class="popup">
              <div class="list-holder">
                {{collection Species.AppendixDropdownCollectionView 
                  controllerBinding="controller"
                  contentBinding="controller.appendices"
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <a href="#" class="link">TAXON</a>
      </div>
      <div class="col">
    <div class="col">
      <div class="popup-area">
        {{#view Species.GeoEntitiesSearchView}} 
          {{view Species.GeoEntitiesSearchButton controllerBinding="controller"}}
          {{view Species.GeoEntitiesSearchDropdown
            controllerBinding="controller"
          }}
        {{/view}}
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-holder">     
  {{view Species.StartDownloadButton controllerBinding="controller"}}
</div>

