<div class="tab-content">
  <div id="tab4">
    <div class="three-columns">
      <div class="col">
        <div class="popup-area">
          {{view Species.AppendixButton
            selectedAppendicesBinding="controller.selectedAppendices"
            appendicesBinding="controller.appendices"
            title="APPENDIX"
          }}
          <div class="popup-clickable popup-holder-appendix">
            <div class="popup">
              <div class="list-holder">
                {{collection Species.AppendixDropdownCollectionView
                  controllerBinding="controller"
                  contentBinding="controller.appendices"
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="popup-area">
          {{view Species.HigherTaxaSearchButton controllerBinding="controller"}}
          {{view Species.HigherTaxaSearchDropdown controllerBinding="controller"}}
        </div>
      </div>
      <div class="col">
        <div class="popup-area">
          {{view Species.GeoEntitiesSearchButton
            selectedGeoEntitiesBinding="controller.selectedGeoEntities"
            loadedBinding="controller.loaded"
          }}
          {{view Species.GeoEntitiesSearchDropdown controllerBinding="controller"}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-holder">
  {{view Species.StartDownloadButton controllerBinding="controller"}}
  <div class="message-area">
    {{#if controller.downloadInProgress}}
      <img src="/loading.gif">
    {{/if}}
    {{controller.downloadMessage}}
  </div>
</div>

