<ul class="tabset subtabset">
  <li>
    {{#view Species.TaxonomyToggle option="listings" valueBinding="controller.euLegislation"}}
      LISTINGS
    {{/view}}
  </li>
  <li class="last-child">
    {{#view Species.TaxonomyToggle option="decisions" valueBinding="controller.euLegislation"}}
      EU DECISIONS
    {{/view}}
  </li>
</ul>
{{#view Species.DownloadsForLegislation
  isVisibleBinding="controller.legislationIsEuListings"
  controllerBinding="controllers.downloadsForEuListings"
}}
  <div class="two-columns">
    <div class="col">
      <div class="popup-area">
        {{view Species.AppendixButton
          selectedAppendicesBinding="controller.selectedAppendices"
          appendicesBinding="controller.appendices"
        }}
        <div class="popup-holder-appendix">
          <div class="popup">
            <div class="list-holder">
              {{collection Species.AppendixDropdownCollectionView 
                controllerBinding="controller"
                contentBinding="controller.appendices"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <strong class="heading">ADDITIONAL DATA</strong>
      <div class="row">
        <input type="checkbox" id="check" />
        <label for="check">Include CITES appendices</label>
      </div>
    </div>
  </div>
  <div class="bottom-columns">
    <div class="col">
        <div class="popup-area">
          {{view Species.HigherTaxaSearchButton controllerBinding="controller"}}
          {{view Species.HigherTaxaSearchDropdown controllerBinding="controller"}}
        </div>
    </div>
    <div class="col">
      <div class="popup-area">
        {{view Species.GeoEntitiesSearchButton controllerBinding="controller"}}
        {{view Species.GeoEntitiesSearchDropdown
          controllerBinding="controller"
        }}
      </div>
    </div>
  </div>
  <div class="btn-holder">     
    {{view Species.StartDownloadButton controllerBinding="controller"}}
  </div>
{{/view}}
{{#view Species.DownloadsForLegislation
  isVisibleBinding="controller.legislationIsEuDecisions"
  controllerBinding="controllers.downloadsForEuDecisions"
}}
  <div class="doc-type">
    <strong class="heading">DOCUMENT TYPE</strong>
    <div class="typy-columns">
      <div class="col">
        <div class="row">
          <input type="checkbox" id="item" />
          <label for="item">SRG Negative Opinions</label>
        </div>
        <div class="row">
          <input type="checkbox" id="item01" />
          <label for="item01">SRG No Opinions</label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <input type="checkbox" id="item02" />
          <label for="item02">SRG Positive Opinions</label>
        </div>
        <div class="row">
          <input type="checkbox" id="item03" />
          <label for="item03">Suspensions</label>
        </div>
      </div>
    </div>
  </div>
  <div class="info-columns">
    <div class="col">
      <ul class="tab-link">
        <li>
          {{#view Species.TaxonomyToggle option="current" valueBinding="controller.timeScope"}}
            CURRENT
          {{/view}}
        </li>
        <li class="last-child">
          {{#view Species.TaxonomyToggle option="all" valueBinding="controller.timeScope"}}
            ALL
          {{/view}}
        </li>
      </ul>
    </div>
    <div class="col">
      <a href="#" class="link">YEAR</a>
    </div>
  </div>
  <div class="bottom-columns">
    <div class="col">
      <div class="popup-area">
        {{view Species.HigherTaxaSearchButton controllerBinding="controller"}}
        {{view Species.HigherTaxaSearchDropdown controllerBinding="controller"}}
      </div>
    </div>
    <div class="col">
      <div class="popup-area">
        {{view Species.GeoEntitiesSearchButton controllerBinding="controller"}}
        {{view Species.GeoEntitiesSearchDropdown controllerBinding="controller"}}
      </div>
    </div>
  </div>
  <div class="btn-holder">
    {{view Species.StartDownloadButton controllerBinding="controller"}}
  </div>
{{/view}}