<div class="search-form-container">

  <p class="search-info">
    <i class="fa fa-info-circle"></i> Select one or more options
  </p>
  <div class="search-form documents">
    <form class="search">
      <fieldset>
        {{view Species.TaxonConceptSearchView controllerBinding="controller" showSearchButton=false}}
      </fieldset>
    </form>
  </div>
  <div class="location-area popup-area">
    {{view Species.GeoEntitiesSearchButton
      selectedGeoEntitiesBinding="controller.selectedGeoEntities"
      loadedBinding="controllers.geoEntities.loaded"
    }}
    {{view Species.GeoEntitiesSearchDropdown controllerBinding="controller"}}
  </div>

  <div style="clear:both"></div>
  <div class="search-form documents">
    <form class="search">
      <fieldset>
        {{input type="text" value=titleQuery placeholder="E.g. significant trade in animal species"}}
      </fieldset>
    </form>
  </div>

  <div style="clear:both"></div>
  {{single-dropdown
    action="handleEventTypeSelection"
    clearAction="handleEventTypeDeselection"
    title="Meeting type"
    values=controllers.events.eventTypes
    selection=controller.selectedEventType
  }}
  {{single-dropdown
    isVisible=controller.eventsDropdownVisible
    action="handleEventSelection"
    clearAction="handleEventDeselection"
    title="Meeting"
    values=controller.filteredEvents
    selection=controller.selectedEvent
  }}

  <div style="clear:both"></div>

  <div class="search-button-container">
    <button {{action "openSearchPage"}}>Search</button>
  </div>
</div>
