<div class="popup">
  <div class="search-block01">
    <div class="row01">
      {{view Species.GeoEntitiesSearchTextField
        valueBinding="controller.geoEntityQuery"
        placeholderBinding="view.placeholder"
        autocomplete="off"
      }}
      <input type="submit" value="submit" />
    </div>
    <strong class="title01">SELECTED LOCATIONS</strong>
    {{collection Species.SelectedGeoEntitiesCollectionView
      contentBinding="controller.selectedGeoEntities"}}
  </div>
  <div class="list-holder">

  {{#if controller.isSearchContextDocuments}}
    <ul>
      <li>
        {{collection Species.GeoEntitiesCollectionView
          contentBinding="controller.autoCompleteCountries"}}
      </li>
    </ul>
  {{else}}
    <ul>
      <li>
        <h2>REGIONS</h2>
        {{collection Species.GeoEntitiesCollectionView
          contentBinding="controller.autoCompleteRegions"}}
      </li>
      <li>
        <h2>COUNTRIES AND TERRITORIES</h2>
        {{collection Species.GeoEntitiesCollectionView
          contentBinding="controller.autoCompleteCountries"}}
      </li>
    </ul>
  {{/if}}

  </div>
</div>
