{{controller}}
{{controller.taxonomy}}
{{view Ember.RadioButton title="CITES" option="cites_eu" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}
{{view Ember.RadioButton title="CMS" option="cms" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}

{{view Ember.TextField name="search[scientific_name]" valueBinding="controller.scientificName"}}
<button {{action "loadTaxonConcepts"}}>Go!</button>

{{view Ember.Select
  prompt="locations"
  contentBinding="Species.locations"
  optionValuePath="content.id"
  optionLabelPath="content.name"
  selectionBinding="controller.location"
}}
