{{controller}}
{{controller.taxonomy}}
{{controller.geoEntityId}}
{{view Ember.RadioButton title="CITES" option="cites_eu" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}
{{view Ember.RadioButton title="CMS" option="cms" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}

{{view Ember.TextField name="search[scientific_name]" valueBinding="controller.scientificName"}}

<hr>

{{view Species.GeoEntityTextField
  valueBinding="controller.geoEntityAutoCompleteQuery"
  placeholder="Type to filter countries or regions"
  autocomplete="off"
}}

<h3>Selected Locations</h3>{{controller.geoEntityIds}}
  {{collection Species.SelectedGeoEntitiesCollectionView
  contentBinding="controller.selectedGeoEntities"}}

<h3>Regions</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteRegions"}}

<h3>Countries</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteCountries"}}

<hr>

<button {{action "loadTaxonConcepts"}}>Go!</button>