{{controller}}
{{controller.taxonomy}}
{{controller.geoEntityId}}
{{view Ember.RadioButton title="CITES" option="cites_eu" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}
{{view Ember.RadioButton title="CMS" option="cms" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}

{{view Ember.TextField name="search[scientific_name]" valueBinding="controller.scientificName"}}
<button {{action "loadTaxonConcepts"}}>Go!</button>

{{view Ember.Select
    name = "search[geo_entity_id]"
    prompt="locations"
    contentBinding = "controllers.geoEntities"
    valueBinding = "controller.geoEntityId"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
}}
