  <div class="links-area">
    {{#view Species.TaxonomyToggle option="cites_eu" valueBinding="controller.taxonomy"}}
      CITES
    {{/view}}
    {{#view Species.TaxonomyToggle option="cms" valueBinding="controller.taxonomy"}}
      CMS
    {{/view}}
  </div>

  {{view Species.TaxonConceptSearchView controllerBinding="controller"}}

{{#view Species.GeoEntitiesDropdown}}
  <a href="#">Locations</a>
  <div id="location-area-popup" class="popup-holder01">
    <div class="popup">
      <div class="search-block01">
        <div class="row01">
          {{view Species.GeoEntityTextField
          valueBinding="controller.geoEntityQuery"
          placeholder="Type to filter countries or regions"
          autocomplete="off"
          }}
          <input type="submit" value="submit" />
        </div>
        <strong class="title01">SELECTED LOCATIONS</strong>
       {{collection Species.SelectedGeoEntitiesCollectionView
       contentBinding="controller.selectedGeoEntities"}}
    </div>
    <div class="list-holder">
      <ul>
        <li>
          <h2>REGIONS</h2>
          {{collection Species.GeoEntitiesCollectionView
          contentBinding="controller.autoCompleteRegions"}}
        </li>
        <li>
          <h2>COUNTRIES</h2>
          {{collection Species.GeoEntitiesCollectionView
          contentBinding="controller.autoCompleteCountries"}}
        </li>
      </ul>
    </div>
  </div>
  </div>

{{/view}}

{{outlet search}}
