  <div class="links-area">
    {{#view Species.ToggleButton option="cites_eu" valueBinding="controller.taxonomy"}}
      CITES
    {{/view}}
    {{#view Species.ToggleButton option="cms" valueBinding="controller.taxonomy"}}
      CMS
    {{/view}}
  </div>
  <div class="search-form">
    <form action="#" class="search">
      <fieldset>
        {{view Species.TaxonConceptSearchTextField
          valueBinding="controller.taxonConceptQuery"
          dropdownIsVisibleBinding="controller.taxonConceptsDropdownVisible"
          id="scientific_name"
          title="search"
          placeholder="Species, higher taxon or synonym..."
          autocomplete="off"
        }}
        <button {{action "loadTaxonConcepts"}}>Search</button>
        {{view Species.TaxonConceptSearchDropdown
         valueBinding="controller.autoCompleteTaxonConcepts"
         isVisibleBinding="controller.taxonConceptsDropdownVisible"
        }}
      </fieldset>
    </form>
  </div>
  <div class="location-area popup-area">
    {{view Species.GeoEntitiesSearchButton
      selectedGeoEntitiesBinding="controller.selectedGeoEntities"
      loadedBinding="controllers.geoEntities.loaded"
    }}
    {{view Species.GeoEntitiesSearchDropdown  controllerBinding="controller"}}
  </div>
  {{outlet count}}
