{{controller}}
{{controller.taxonomy}}
{{controller.geoEntityId}}
{{view Ember.RadioButton title="CITES" option="cites_eu" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}
{{view Ember.RadioButton title="CMS" option="cms" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}

{{view Ember.TextField name="search[scientific_name]" valueBinding="controller.scientificName"}}
<button {{action "loadTaxonConcepts"}}>Go!</button>

{{view Ember.TextField name="search[geo_entity_name]" valueBinding="controller.geoEntityName"}}

<h3>Regions</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteRegions"}}

<h3>Countries</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteCountries"}}