{{controller}}
{{controller.taxonomy}}
{{controller.geoEntityId}}
{{controller.taxonConceptQuery}}
{{view Ember.RadioButton title="CITES" option="cites_eu" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}
{{view Ember.RadioButton title="CMS" option="cms" group="search[taxonomy]"
  valueBinding="controller.taxonomy"}}

{{view Species.TaxonConceptTextField
  valueBinding="controller.taxonConceptQuery"
  title="search"
  placeholder="Species, higher taxon, synonym or common name..."
  autocomplete="off"
}}

<hr>

{{view Species.GeoEntityTextField
  valueBinding="controller.geoEntityAutoCompleteQuery"
  placeholder="Type to filter countries or regions"
  autocomplete="off"
}}

<h3>Selected Locations</h3>{{controller.geoEntityIds}}
  {{collection Species.SelectedGeoEntitiesCollectionView
  contentBinding="controller.selectedGeoEntities"}}

<h3>Regions</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteRegions"}}

<h3>Countries</h3>
  {{collection Species.GeoEntitiesCollectionView
  contentBinding="controller.autoCompleteCountries"}}

<hr>

<button {{action "loadTaxonConcepts"}}>Go!</button>