<div id="main">
  {{outlet search}}
  {{#if matchInfo}}
    <div id="match-info">
      {{{matchInfo}}}
    </div>
  {{/if}}
  <div class="heading-holder">
    <h1>{{fullName}}</h1>
    <h2>{{authorYear}}</h2>
    <ul class="list">
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=phylumName taxonomy=taxonomy}}{{phylumName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=className taxonomy=taxonomy}}{{className}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=orderName taxonomy=taxonomy}}{{orderName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=familyName taxonomy=taxonomy}}{{familyName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=genusName taxonomy=taxonomy}}{{genusName}}{{/link-to}}
      </li>
      {{#if isSubspecies}}
        <li>
          {{#linkTo 'taxonConcept.legal' parentId queryParams=false}}
            <span class="species-name">{{speciesFullName}}</span>
          {{/linkTo}}
        </li>
      {{/if}}
    </ul>
  </div>
  <ul class="tabset">
    <li>{{#linkTo 'taxonConcept.legal'}}LEGAL{{/linkTo}}
      <ul>
        {{#unless isCms }}
          <li class="first"><a href="#cites_listings" class="scroll-to">CITES Listing</a></li>
          <li><a href="#cites_quotas" class="scroll-to">CITES Quotas</a></li>
          <li><a href="#cites_suspensions" class="scroll-to">CITES Suspensions</a></li>
          <li><a href="#eu_listings" class="scroll-to">EU Listing</a></li>
          <li class="last"><a href="#eu_decisions" class="scroll-to">EU Decisions</a></li>
        {{/unless}}
      </ul>
    </li>
    <li>{{#linkTo 'taxonConcept.names'}}NAMES{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li class="add">{{#linkTo 'taxonConcept.distribution'}}DISTRIBUTION{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li {{bindAttr class="isCms:last-child"}}>{{#linkTo 'taxonConcept.references'}}REFERENCES{{/linkTo}}
      <ul>
      </ul>
    </li>
    {{#unless isCms }}
    <li class="last-child">{{#linkTo 'taxonConcept.documents'}}DOCUMENTS{{/linkTo}}
      <ul>
          <li class="first"><a href="#eu_srg" class="scroll-to">EC SRG</a></li>
          <li><a href="#cites_cop" class="scroll-to">CITES CoP</a></li>
          <li><a href="#cites_ac" class="scroll-to">CITES Animals Comm.</a></li>
          <li><a href="#cites_pc" class="scroll-to">CITES Plants Comm.</a></li>
          <li class="last"><a href="#no_event" class="scroll-to">Other</a></li>
      </ul>
    </li>
    {{/unless}}
  </ul>

  <div class="tab-content">
    {{ outlet }}
  </div>
</div>
