<div id="main">
  {{partial 'species/tabs'}}
  {{outlet search}}
  {{#if matchInfo}}
    <div id="match-info">
      {{{matchInfo}}}
    </div>
  {{/if}}
  <div class="heading-holder">
    <h1>{{fullName}}</h1>
    <h2>{{authorYear}}</h2>
    <ul class="list">
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=phylumName taxonomy=taxonomy}}{{phylumName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=className taxonomy=taxonomy}}{{className}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=orderName taxonomy=taxonomy}}{{orderName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=familyName taxonomy=taxonomy}}{{familyName}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'taxonConcepts' taxon_concept_query=genusName taxonomy=taxonomy}}{{genusName}}{{/link-to}}
      </li>
      {{#if isSubspecies}}
        <li>
          {{#linkTo 'taxonConcept.legal' parentId queryParams=false}}
            <span class="species-name">{{speciesFullName}}</span>
          {{/linkTo}}
        </li>
      {{/if}}
    </ul>
  </div>
  <ul class="tabset">
    <li>{{#linkTo 'taxonConcept.legal'}}LEGAL{{/linkTo}}
      <ul>
        {{#unless isCms }}
          {{#each heading in this.legalHeadings }}
            <li {{bind-attr class="heading.class"}}>
              <a href=#{{unbound heading.id}} class="scroll-to" {{action 'scrollIntoView' heading.id}}>
                {{ heading.name }}
              </a>
            </li>
          {{/each}}
        {{/unless}}
      </ul>
    </li>
    <li>{{#linkTo 'taxonConcept.names'}}NAMES{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li class="add">{{#linkTo 'taxonConcept.distribution'}}DISTRIBUTION{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li {{bindAttr class="isCms:last-child"}}>{{#linkTo 'taxonConcept.references'}}REFERENCES{{/linkTo}}
      <ul>
      </ul>
    </li>
    {{#unless isCms }}
    <li class="last-child documents-tab">{{#linkTo 'taxonConcept.documents'}}DOCUMENTS
      {{/linkTo}}
      <ul>
      {{#if controllers.taxonConceptDocuments.citesCopProposalsDocsPresent}}
        <li class="first"><a href="#cites_cop" class="scroll-to">CITES CoP Proposals</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.citesAcDocsPresent}}
        <li><a href="#cites_rst_animals" class="scroll-to">CITES Review of Significant Trade</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.citesPcDocsPresent}}
        <li><a href="#cites_rst_plants" class="scroll-to">CITES Review of Significant Trade</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.idMaterialsDocsPresent}}
        <li><a href="#id_manual" class="scroll-to">Identification materials</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.euSrgDocsPresent}}
        <li><a href="#eu_srg" class="scroll-to">EU SRG</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.otherDocsPresent}}
        <li><a href="#other" class="scroll-to">Other docs</a></li>
      {{/if}}
      </ul>
    </li>
    {{/unless}}
  </ul>

  <div class="tab-content">
    {{ outlet }}
  </div>
</div>
