<div id="main">
  {{partial 'species/tabs'}}
  {{outlet search}}
  {{#if matchInfo}}
    <div id="match-info">
      {{{matchInfo}}}
    </div>
  {{/if}}
  <div class="heading-holder">
    <h1>{{fullName}}</h1>
    <h2>{{authorYear}}</h2>
    <ul class="list">
      <li>
        <a {{action 'openSearchPage' phylumName}} class="hover-pointer">
          {{phylumName}}
        </a>
      </li>
      <li>
        <a {{action 'openSearchPage' className}} class="hover-pointer">
          {{className}}
        </a>
      </li>
      <li>
        <a {{action 'openSearchPage' orderName}} class="hover-pointer">
          {{orderName}}
        </a>
      </li>
      <li>
        <a {{action 'openSearchPage' familyName}} class="hover-pointer">
          {{familyName}}
        </a>
      </li>
      <li>
        <a {{action 'openSearchPage' genusName}} class="hover-pointer">
          {{genusName}}
        </a>
      </li>
      {{#if isSubspecies}}
        <li>
          {{#link-to 'taxonConcept.legal' parentId queryParams=false}}
            <span class="species-name">{{speciesFullName}}</span>
          {{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
  <ul class="tabset">
    <li>{{#link-to 'taxonConcept.legal'}}LEGAL{{/link-to}}
      <ul>
        {{#unless isCms }}
          <li class="first">
            {{#view Species.ScrollTo anchor="cites_listings" label="CITES Listings"}}
              {{view.label}}
            {{/view}}
          </li>
          <li>
            {{#view Species.ScrollTo anchor="cites_quotas" label="CITES Quotas"}}
              {{view.label}}
            {{/view}}
          </li>
          <li>
            {{#view Species.ScrollTo anchor="cites_suspensions" label="CITES Suspensions"}}
              {{view.label}}
            {{/view}}
          </li>
          <li>
            {{#view Species.ScrollTo anchor="eu_listings" label="EU Listing"}}
              {{view.label}}
            {{/view}}
          </li>
          <li class="last">
            {{#view Species.ScrollTo anchor="eu_decisions" label="EU Decisions"}}
              {{view.label}}
            {{/view}}
          </li>
        {{/unless}}
      </ul>
    </li>
    <li>{{#link-to 'taxonConcept.names'}}NAMES{{/link-to}}
      <ul>
      </ul>
    </li>
    <li class="add">{{#link-to 'taxonConcept.distribution'}}DISTRIBUTION{{/link-to}}
      <ul>
      </ul>
    </li>
    <li {{bind-attr class="isCms:last-child"}}>{{#link-to 'taxonConcept.references'}}REFERENCES{{/link-to}}
      <ul>
      </ul>
    </li>
    {{#unless isCms }}
    <li class="last-child documents-tab">{{#link-to 'taxonConcept.documents'}}DOCUMENTS
      {{/link-to}}
      <ul>
      {{#if controllers.taxonConceptDocuments.citesCopProposalsDocsPresent}}
        <li class="first"><a href="#cites_cop" class="scroll-to">CITES CoP Proposals</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.citesAcDocsPresent}}
        <li><a href="#cites_rst_animals" class="scroll-to">CITES Review of Significant Trade</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.citesPcDocsPresent}}
        <li><a href="#cites_rst_plants" class="scroll-to">CITES Review of Significant Trade</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.idMaterialsDocsPresent}}
        <li><a href="#id_manual" class="scroll-to">Identification materials</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.euSrgDocsPresent}}
        <li><a href="#eu_srg" class="scroll-to">EU SRG</a></li>
      {{/if}}
      {{#if controllers.taxonConceptDocuments.otherDocsPresent}}
        <li><a href="#other" class="scroll-to">Other docs</a></li>
      {{/if}}
      </ul>
    </li>
    {{/unless}}
  </ul>

  <div class="tab-content">
    {{ outlet }}
  </div>
</div>
