<div class="heading-holder">
  <h1>{{fullName}} <strong>{{authorYear}}</strong></h1>
  <ul class="list">
    <li><a href="#">{{mTaxonConcept.phylum_name}}</a></li>
    <li><a href="#">{{mTaxonConcept.class_name}}</a></li>
    <li><a href="#">{{mTaxonConcept.order_name}}</a></li>
    <li><a href="#">{{mTaxonConcept.family_name}}</a></li>
  </ul>
</div>
<ul class="tabset">
  <li class="active"><a href="#legal">LEGAL</a>
  <ul>
    <li><a href="#cites_listing">CITES Listing</a></li>
    <li class="has-dropdown active"><a href="#cites_restrictions">CITES Restrictions</a>
    <ul>
      <li><a href="#cites_suspensions">Suspensions</a></li>
      <li class="active"><a href="#cites_quotas">Quotas</a></li>
    </ul>
    </li>
    <li><a href="#eu_listing">EU Listing</a></li>
    <li><a href="#eu_decisions">EU Decisions</a></li>
  </ul>
  </li>
  <li><a href="#names">NAMES</a>
  <ul>
    <li class="active"><a href="#common_names">Common names</a></li>
    <li><a href="#synonyms">Synonyms</a></li>
    <li><a href="#subspecies">Subspecies</a></li>
  </ul>
  </li>
  <li class="add"><a href="#distribution">DISTRIBUTION</a>
  <ul>
    <li>&nbsp;</li>
  </ul>
  </li>
  <li><a href="#reference">REFERENCES</a></li>
  <li class="last-child"><a href="#">TRADE DATA</a></li>
</ul>

<div class="tab-content">
  <div id="tab1">
    <div class="block">
      <strong class="title more" id="cites_quotas">Quotas</strong>
      <table summary="data table">
        <thead>
          <tr>
            <th class="col1">&nbsp;</th>
            <th class="col2">YEAR</th>
            <th class="col3">COUNTRY</th>
            <th class="col4">QUOTA</th>
            <th class="col5">NOTES</th>
            <th class="col1">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each quota in controller.quotas}}
            {{#if quota.public_display}}
              <tr {{bindAttr class="quota.is_current:current"}}">
                <td>&nbsp;</td>
                <td>{{quota.year}}</td>
                <td>{{quota.geo_entity.name}}</td>
                <td>{{quota.quota}} {{quota.unit_name}}</td>
                <td>{{quota.notes}}</td>
                <td class="last">&nbsp;</td>
              </tr>
            {{/if}}
          {{/each}}
            <tr class="add"> <!-- Add class is for the first item below the current -->
              <td>&nbsp;</td>
              <td>15/07/04</td>
              <td>Palau (PW)</td>
              <td>130</td>
              <td>Trophies and skins <a href="#">www.cites.org</a></td>
              <td class="last">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-hloder">
          <a href="#" class="link">HIDE HISTORY</a>
        </div>
      </div>
    <div class="block add">
      <strong class="title more" id="cites_suspensions">Suspensions</strong>
      <table summary="data table">
        <thead>
          <tr>
            <th class="col1">&nbsp;</th>
            <th class="col2">DATE</th>
            <th class="col3">COUNTRY</th>
            <th class="col4">NOTIFICATION</th>
            <th class="col5">NOTES</th>
            <th class="col1">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            {{#each suspension in controller.citesSuspensions}}
              <tr {{bindAttr class="suspension.is_current:current"}}>
                <td>&nbsp;</td>
                <td>[{{suspension.start_date}}-{{suspension.end_date}}]</td>
                <td>{{suspension.geo_entity.name}}</td>
                <td>{{suspension.start_notification.name}}</td>
                <td>{{suspension.notes}}{{suspension.url}}</td>
                <td class="last">&nbsp;</td>
              </tr>
          {{/each}}
        </tbody>
      </table>
        <div class="btn-hloder">
          <a href="#" class="link">HIDE HISTORY</a>
        </div>
      </div>
      <div class="block add">
        <h2>EU Wildlife Trade Regulations</h2>
        <strong class="title">EU LISTING</strong>
        <table summary="data table">
          <thead>
            <tr>
              <th class="col1">&nbsp;</th>
              <th class="col2">ANNEX</th>
              <th class="col3">COUNTRY</th>
              <th class="col4">DATE</th>
              <th class="col6">NOTES</th>
              <th class="col7">LEGAL NOTICE</th>
              <th class="col1">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr class="current">
              <td>&nbsp;</td>
              <td><img src="assets/species/ico01.png" alt="" width="27" height="27" /></td>
              <td>Portugal</td>
              <td>15/07/04</td>
              <td>&nbsp;</td>
              <td>EC Reg. No 1158/2012 (amending EC Reg. No. 338/97)</td>
              <td class="last">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="assets/species/ico02.png" alt="" width="27" height="27" /></td>
              <td>Spain</td>
              <td>15/07/04</td>
              <td>&nbsp;</td>
              <td>EC Reg. No 1158/2012 (amending EC Reg. No. 338/97)</td>
              <td class="last">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="assets/species/ico03.png" alt="" width="27" height="27" /></td>
              <td>Italy</td>
              <td>02/10/06</td>
              <td>&nbsp;</td>
              <td>EC Reg. No 1158/2012 (amending EC Reg. No. 338/97)</td>
              <td class="last">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-hloder">
          <a href="#" class="link">HIDE HISTORY</a>
        </div>
      </div>
      <div class="block block01">
        <strong class="title">EU DECISIONS</strong>
        <table summary="data table">
          <thead>
            <tr>
              <th class="col1">&nbsp;</th>
              <th class="col2">DATE</th>
              <th class="col3">COUNTRY<br />OF ORIGIN</th>
              <th class="col8">SRG<br />OPINION</th>
              <th class="col9">SUSPENSIONS</th>
              <th class="col10">NOTES</th>
              <th class="col7">DOCUMENT</th>
              <th class="col1">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr class="current">
              <td>&nbsp;</td>
              <td>15/07/04</td>
              <td>Namibia</td>
              <td>Negative</td>
              <td>Art. 4.6 b</td>
              <td>Live wild specimens</td>
              <td>Commission Reg. (EC) No 757/2012 of 20 August 2012</td>
              <td class="last">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="tab2">
      <div class="block block02">
        <strong class="title">COMMON NAMES</strong>
        <table summary="data table">
          <thead>
            <tr>
              <th class="col11">LANGUAGE</th>
              <th class="col12">NAME</th>
            </tr>
          </thead>
          <tbody>
            {{#foreach controller.commonNames}}
              <tr {{bindAttr class="$first:first"}}>
                <td>{{lang}}</td>
                <td>{{names}}</td>
              </tr>
            {{/foreach}}
          </tbody>
        </table>
        <div class="btn-hloder">
          <a href="#" class="link">SHOW 21 MORE LANGUAGES</a>
          <a href="#" class="link hide">SHOW 21 MORE LANGUAGES</a>
        </div>
      </div>
      <div class="block04">
        <strong class="title">SYNONYMS</strong>
        <div class="columns-holder">
          <ul class="col">
            <li>Candoia superciliosa (Günther, 1863)</li>
            <li>Candoia paulsoni (Stull, 1956)</li>
            <li>Candoia superciliosa (Günther, 1863)</li>
          </ul>
          <ul class="col">
            <li>Candoia superciliosa (Günther, 1863)</li>
            <li>Candoia paulsoni (Stull, 1956)</li>
            <li>Candoia superciliosa (Günther, 1863)</li>
          </ul>
        </div>
      </div>
      <div class="block04 block05">
        <strong class="title">SUBSPECIES</strong>
        <div class="columns-holder">
          <ul class="col">
            <li>Candoia aspera (Günther, 1863)</li>
            <li>Candoia bibroni (Stull, 1956)</li>
            <li>Candoia carinata (Günther, 1863)</li>
            <li>Candoia paulsoni  (Stull, 1956)</li>
          </ul>
          <ul class="col">
            <li>Candoia aspera (Günther, 1863)</li>
            <li>Candoia bibroni (Stull, 1956)</li>
            <li>Candoia carinata (Günther, 1863)</li>
            <li>Candoia paulsoni  (Stull, 1956)</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="tab3">
      <div class="block06">
        <strong class="title">COUNTRIES</strong>
        <div class="three-columns">
          <ul class="col">
          	{{#eachPart distributions parts=3 page=0}}
  				<li><a href="#">{{name_en}}</a> {{formattedTags tags_list}}</li>
  			{{/eachPart}}
            <div class="link-holder">
              <a href="#">Botswana</a>
              <div class="popup-holder">
                <div class="popup">
                  <strong class="title">Myers, N. (1976).<br />The Leopard Panthera pardus in Africa</strong>
                  <span class="text">ICON Monograph No.5. IUCN -Morges</span>
                  <a href="#">Go to References</a>
                </div>
              </div>
            </div>
          </ul>
          <ul class="col">
          	{{#eachPart distributions parts=3 page=1}}
  				<li><a href="#">{{name_en}}</a> {{formattedTags tags_list}}</li>
  			{{/eachPart}}
          </ul>
          <ul class="col last-child">
			{{#eachPart distributions parts=3 page=2}}
  				<li><a href="#">{{name_en}}</a> {{formattedTags tags_list}}</li>
  			{{/eachPart}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2>Names</h2>
  <h3>Synonyms</h3>
  {{#each synonym in controller.synonyms}}
  {{synonym.full_name}} {{synonym.author_year}} <br />
  {{/each}}
  <h3>Common Names</h3>

  <h3>Subspecies</h3>

  <h2>References</h2>
  <h3>Standard Reference</h3>
  {{#each reference in controller.standardReferences}}
  {{reference.citation}}<br />
  {{/each}}
  <h3>Other</h3>
  {{#each reference in controller.references}}
  {{#unless reference.is_standard}}
  {{reference.citation}} <br />
  {{/unless}}
  {{/each}}
