{{fullName}} {{authorYear}} <br />
{{mTaxonConcept.phylum_name}} > {{mTaxonConcept.order_name}} > {{mTaxonConcept.class_name}} > {{mTaxonConcept.family_name}}

<h2>Legal</h2>
<h3>CITES</h3>
<h4>Listings</h4>
<h4>Restrictions</h4>
<h5>Quotas</h5>
{{#each quota in controller.quotas}}
{{#if quota.public_display}}
{{quota.quota}} {{quota.unit_name}} {{quota.year}}
{{quota.publication_date}} {{quota.notes}}
{{quota.url}}
  {{#if quota.is_current }}
    Current
  {{/if}}
  <br />
  {{/if}}
{{/each}}
<h5>Suspensions</h5>
{{#each suspension in controller.citesSuspensions}}
{{suspension.start_date}} {{suspension.end_date}}
{{suspension.publication_date}} {{suspension.notes}}
{{suspension.url}} {{suspension.geo_entity.name}}
  {{#if suspension.is_current }}
    Current
  {{/if}}
  <br />
{{/each}}
<h3>EU</h3>
<h4>Listings</h4>
<h4>Decisions</h4>
<h2>Distribution</h2>
{{#each geoEntity in controller.distributions}}
  {{geoEntity.name_en}} . {{geoEntity.tag_list}}<br />
{{/each}}
<h2>Names</h2>
<h3>Synonyms</h3>
{{#each synonym in controller.synonyms}}
  {{synonym.full_name}} {{synonym.author_year}} <br />
{{/each}}
<h3>Common Names</h3>
{{#each commonName in controller.commonNames}}
  {{commonName.name}} ({{commonName.language.iso_code3}} -  {{commonName.language.name_en}})<br />
{{/each}}

<h3>Subspecies</h3>

<h2>References</h2>
<h3>Standard Reference</h3>
{{#each reference in controller.standardReferences}}
  {{reference.citation}}<br />
{{/each}}
<h3>Other</h3>
{{#each reference in controller.references}}
  {{#unless reference.is_standard}}
    {{reference.citation}} <br />
  {{/unless}}
{{/each}}
