<div id="main">
  {{outlet search}}
  {{#if matchInfo}}
    <div id="match-info">
      {{{matchInfo}}}
    </div>
  {{/if}}
  <div class="heading-holder">
    <h1>{{fullName}} <strong>{{authorYear}}</strong></h1>
    <ul class="list">
      <li>
      <a href="/species/search/taxonomy={{unbound taxonomy}}&taxon_concept_query={{unbound phylumName}}"
        {{action 'searchFor' phylumName}}>
          {{phylumName}}
        </a>
      </li>
      <li>
      <a href="/species/search/taxonomy={{unbound taxonomy}}&taxon_concept_query={{unbound className}}"
        {{action 'searchFor' className}}>
          {{className}}
        </a>
      </li>
      <li>
      <a href="/species/search/taxonomy={{unbound taxonomy}}&taxon_concept_query={{unbound orderName}}"
        {{action 'searchFor' orderName}}>
          {{orderName}}
        </a>
      </li>
      <li>
      <a href="/species/search/taxonomy={{unbound taxonomy}}&taxon_concept_query={{unbound familyName}}"
        {{action 'searchFor' familyName}}>
          {{familyName}}
        </a>
      </li>
    </ul>
  </div>
  <ul class="tabset">
    <li>{{#linkTo 'taxon_concept.legal'}}LEGAL{{/linkTo}}
      <ul>
        {{#unless isCms }}
          <li><a href="#cites_listings" class="scroll-to">CITES Listing</a></li>
          <li><a href="#cites_quotas" class="scroll-to">CITES Quotas</a></li>
          <li><a href="#cites_suspensions" class="scroll-to">CITES Suspensions</a></li>
          <li><a href="#eu_listings" class="scroll-to">EU Listing</a></li>
          <li><a href="#eu_decisions" class="scroll-to">EU Decisions</a></li>
        {{/unless}}
      </ul>
    </li>
    <li>{{#linkTo 'taxon_concept.names'}}NAMES{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li class="add">{{#linkTo 'taxon_concept.distribution'}}DISTRIBUTION{{/linkTo}}
      <ul>
      </ul>
    </li>
    <li class="last-child">{{#linkTo 'taxon_concept.references'}}REFERENCES{{/linkTo}}
      <ul>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    {{ outlet }}
  </div>
</div>
