{{outlet search}}

<div class="container">

  <div class="heading">
    <strong class="title">Showing</strong>
    {{controller.content.meta.total}} species
  </div>

  <div class="result-block">
    {{#each header in controller.content.meta.higher_taxa_headers}}
    
    <ul class="result-list">
      {{#stringToArray header.higher_taxon.ancestors_path splitter=","}}
      <li>
        {{view Species.TaxonConceptLinkView}}
      </li>
      {{/stringToArray}}
      <li>{{header.higher_taxon.rank_name}}</li>
    </ul>

      {{#each id in header.taxon_concept_ids}}
      <h2>
        <a href="#/taxon_concepts/{{unbound id}}">
        {{#getItem id model="TaxonConcept" field="fullName"}}{{/getItem}} 
          <span>
          {{#getItem id model="TaxonConcept" field="authorYear"}}{{/getItem}}
          </span>
        </a>
      </h2>
      {{/each}}
    {{/each}}
  </div>

</div>