  <td>
    <a href="#" {{action 'editShipment' this}}><i class="icon-pencil" title="edit"></i></a>
    <a href="#" {{action 'deleteShipment' this}}><i class="icon-trash" title="delete"></i></a>
  </td>
  <td>
    {{appendix}} 
  </td>
  <td>
    {{speciesName}} 
  </td>
  <td>
    {{termCode}} 
  </td>
  <td>
    {{quantity}} 
  </td>
  <td>
    {{unitCode}} 
  </td>
  <td>
    {{tradingPartner}} 
  </td>
  <td>
    {{countryOfOrigin}} 
  </td>
  <td>
    {{importPermit}} 
  </td>
  <td>
    {{exportPermit}} 
  </td>
  <td>
    {{originPermit}} 
  </td>
  <td>
    {{purposeCode}} 
  </td>
  <td>
    {{sourceCode}} 
  </td>
  <td>
    {{year}} 
  </td>