<thead>
  <th>Type</th>
  <th>Date</th>
  <% unless @event %>
    <th>Event</th>
  <% end %>
  <th width="30%">Title</th>
  <th width="30%">Citations</th>
  <th>Public</th>
  <th>Lng</th>
  <th width="5%">Actions</th>
  <th width="5%">Info</th>
</thead>
<tbody>
  <% collection.each do |document| -%>
    <tr class="<%= if document.is_public? then "current_listing" end %>">
      <td><%= document.type %></td>
      <td><%= document.date_formatted %></td>
      <% unless @event %>
        <td><%= link_to document.event.name, admin_event_documents_path(document.event) if document.event %></td>
      <% end %>
      <td><%= link_to document.title, '#', {rel: 'tooltip', :'data-title' => document.filename} %></td>
      <td><%= link_to 'TODO citations cnt', '#', {rel: 'tooltip', :'data-title' => 'TODO Here be citations'} %></td>
      <td><%= true_false_icon(document.is_public) %></td>
      <td><%= document.language.try(:iso_code1) %> </td>
      <td>
        <%= link_to edit_icon,
          (@event ? edit_admin_event_document_path(@event, document) : edit_admin_document_path(document)),
          remote: true
        %>
        <%= link_to delete_icon,
          (@event ? admin_event_document_path(@event, document) : admin_document_path(document)),
          confirm: 'Warning: you are about to delete data. Are you sure?', method: :delete
        %>
      </td>
      <td><%= tracking_info(document) %></td>
    </tr>
  <% end -%>
</tbody>
