<div class="admin-header clearfix">
  <h1>Documents</h1>
</div>

<h3>Upload documents in batch</h3>
<%= select_tag 'event-type', options_for_select(@event_types, @event_types.first) %>
<%= select_tag 'event-id',
  options_for_select(
    @events.map { |e| [e.name, e.id, {:class => e.type}] }
  )
%>
<%= link_to 'Upload documents for this event', '#', class: "btn btn-primary", id: 'event-link' %>

or <%= link_to 'Upload other document types', new_admin_document_batch_url %>


<h3>Filter documents</h3>

<%= form_tag("documents", {:method => 'get'}) do %>
  <%= select_tag 'event-type-search', options_for_select(@event_types, @event_type_query) %>

  <%= select_tag 'event-id-search',
    options_for_select(
      @events.map { |e| [e.name, e.id, {:class => e.type}] }, @event_query_obj.id.to_i
    )
  %>
  <%= submit_tag('Filter', :name => nil, :class => "btn btn-primary filter") %>
<% end %>
<% if @query %>
<p>
  <%= link_to 'Clear Filter', 'documents', class: "btn btn-warning" %>
  <%= @event_type_query %> / <%= @event_query_obj.name %>
</p>
<% end %>

<%= admin_new_modal{ '' } %>

<%= admin_table %>

<%= paginate collection %>
