<div class="admin-header clearfix">
  <h1>Documents</h1>
</div>

<h3>Upload documents in batch</h3>
<%= select_tag 'event-type', options_for_select(@event_types), {:prompt => "select an event type"}  %>
<%= select_tag 'event-id',
  options_for_select(
    @events.map { |e| [e.name, e.id, {:class => e.type}] }
  )
%>
<%= link_to 'Upload documents for this event', '#', class: "btn btn-primary", id: 'event-link' %>

or <%= link_to 'Upload other document types', new_admin_document_batch_url %>


<h3>Filter documents</h3>

<%= form_tag("documents", {:method => 'get'}) do %>

  <div class="form-group">
    <%= select_tag 'event-type-search',
      options_for_select(@event_types, @search.event_type), {:prompt => 'Select an event type...'} %>

    <%= select_tag 'event-id-search',
      options_for_select(
        @events.map { |e| [e.name, e.id, {:class => e.type}] },
        @search.event_id
      ), include_blank: true
    %>
  </div>

  <div class="form-group">
    <%= select_tag 'document-type', options_for_select(
        Document.elibrary_document_types.map { |document_klass|
          [
            document_klass.display_name,
            document_klass.name,
            {:class => document_klass.elibrary_event_types.map(&:name).join(' ')}
          ]
        }, @search.document_type
      ), {:prompt => 'Select a document type...'} %>
  </div>

  <div class="form-group">
    <%= text_field_tag 'document-title', @search.document_title|| nil,
      :class => "align-on-select", :placeholder => 'Enter a document title...' %>
  </div>

  <div class="form-group">
    <%= text_field_tag 'document-date-start',
      params["document-date-start"] || nil, class: 'align-on-select datepicker',
      placeholder: 'Documents created after...' %>

    <%= text_field_tag 'document-date-end',
      params["document-date-end"] || nil, class: 'align-on-select datepicker',
      placeholder: 'Documents created before...' %>
  </div>

  <%= submit_tag 'Filter', name: nil, class: "btn btn-primary filter" %>
  <%= link_to 'Clear Filter', 'documents', class: "btn btn-default filter" %>
<% end %>

<%= admin_new_modal{ '' } %>

<%= admin_table %>

<%= paginate collection %>

