<div class="admin-header clearfix">
  <h1>Documents</h1>
</div>

<h3>Upload documents in batch</h3>
<%= select_tag 'event-type', options_for_select(@event_types), {:prompt => "select an event type"}  %>
<%= select_tag 'event-id',
  options_for_select(
    @events.map { |e| [e.name, e.id, {:class => e.type}] }
  )
%>
<%= link_to 'Upload documents for this event', '#', class: "btn btn-primary", id: 'event-link' %>

or <%= link_to 'Upload other document types', new_admin_document_batch_url %>


<h3>Filter documents</h3>

<%= form_tag("documents", {:method => 'get'}) do %>

  <%= select_tag 'event-type-search', options_for_select(@event_types, @event_type_query), {:prompt => 'Select an event type...'} %>

  <%= select_tag 'event-id-search',
    options_for_select(
      @events.map { |e| [e.name, e.id, {:class => e.type}] }, @event_query_obj.id.to_i,
    )
  %>

  <br>

  <%= select_tag 'document-type', options_for_select(
    @document_types_with_event_types.map { |document_type, event_types|
      [document_type, document_type, {:class => event_types.join(' ')}]}, @document_type_query),
    {:prompt => 'Select a document type...'} %>
  <br>

  <%= text_field_tag 'document-title', @document_title_query || nil, :class => "align-on-select", :placeholder => 'Enter a document title...' %>
  <br>

  <%= submit_tag('Filter', :name => nil, :class => "btn btn-primary filter") %>
  <% if @is_query %>
    <%= link_to 'Clear Filter', 'documents', class: "btn btn-warning filter" %>
  <% end %>
<% end %>
<% if @is_query %>
<p>
  <% if @event_type_query != '' %>
    <%= @event_type_query %> / <%= @event_query_obj.name %>
  <% end %>
</p>
<% end %>

<%= admin_new_modal{ '' } %>

<%= admin_table %>


