<thead>
  <th width="7%">Code</th>
  <th width="15%">Name (EN)</th>
  <th width="15%">Name (ES)</th>
  <th width="15%">Name (FR)</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |trade_code| -%>
    <tr>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="code"
          data-placeholder="Required" data-original-title="Enter the code"
          data-url="<%= resource_url(trade_code) %>" data-pk="<%= trade_code.id %>">
          <%= trade_code.code %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_en"
          data-placeholder="Required" data-original-title="Enter the name in English"
          data-url="<%= resource_url(trade_code) %>" data-pk="<%= trade_code.id %>">
          <%= trade_code.name_en %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_es"
          data-placeholder="Required" data-original-title="Enter the name in Spanish"
          data-url="<%= resource_url(trade_code) %>" data-pk="<%= trade_code.id %>">
          <%= trade_code.name_es %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_fr"
          data-placeholder="Required" data-original-title="Enter the name in French"
          data-url="<%= resource_url(trade_code) %>" data-pk="<%= trade_code.id %>">
          <%= trade_code.name_fr %>
        </a>
      </td>
      <td>
        <%= link_to delete_icon, resource_url(trade_code), data: { confirm: "Warning: you are about to delete data. Are you sure?" }, :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>
