<h1><%= controller_name.titleize %> <a href="#new-<%= controller_name.singularize %>" role="button" class="btn new-button">Add new <%= controller_name.singularize %></a></h1>

<div id="admin-in-place-editor-new" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-<%= controller_name.singularize %>-label" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="new-<%= controller_name.singularize %>-label">Add new <%= controller_name.singularize %></h3>
  </div>
  <div class="modal-body">
  <div id="msg"></div>
  <%= form_for controller_name.singularize.to_sym, :url => send("api_#{controller_name}_path".to_sym) do |f| %>
    <label>Code</label><%= f.text_field :code %><br />
    <p>Name</p>
    <label>EN</label> <%= f.text_field :name_en %><br />
    <label>ES</label> <%= f.text_field :name_es %><br />
    <label>FR</label> <%= f.text_field :name_fr %><br />
    <p>Description</p>
    <label>EN</label> <%= f.text_field :description_en %><br />
    <label>ES</label> <%= f.text_field :description_es %><br />
    <label>FR</label> <%= f.text_field :description_fr %><br />
  <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save-button">Save changes</button>
  </div>
</div>

<table id="admin-in-place-editor" class="table table-bordered table-striped" style="clear: both">
  <thead>
    <th width="10%">Code</th>
    <th width="25%">Name</th>
    <th>Description</th>
  </thead>
  <tbody>

    <% collection.each do |trade_code| -%>
      <tr>
        <td>
          <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="code"
            data-placeholder="Required" data-original-title="Enter the code"
            data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
            <%= trade_code.code %>
          </a>
        </td>
        <td>
          <dl>
            <dt>EN</dt>
            <dd>
              <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_en"
                data-placeholder="Required" data-original-title="Enter the name in English"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.name_en %>
              </a>
            </dd>
            <dt>ES</dt>
            <dd>
              <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_es"
                data-placeholder="Required" data-original-title="Enter the name in Spanish"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.name_es %>
              </a>
            </dd>
            <dt>FR</dt>
            <dd>
              <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="name_fr"
                data-placeholder="Required" data-original-title="Enter the name in French"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.name_fr %>
              </a>
            </dd>
          </dl>
        </td>
        <td>
          <dl>
            <dt>EN</dt>
            <dd>
              <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="description_en"
                data-original-title="Enter the description in English"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.description_en %>
              </a>
            </dd>
            <dt>ES</dt>
            <dd>
              <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="description_es"
                data-original-title="Enter the description in Spanish"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.description_es %>
              </a>
            </dd>
            <dt>FR</dt>
            <dd>
              <a href="#" class="editable editable-click" data-type="text" data-resource="<%= controller_name.singularize %>" data-name="description_fr"
                data-original-title="Enter the description in French"
                data-url="/api/<%= controller_name %>/<%= trade_code.id %>" data-pk="<%= trade_code.id %>">
                <%= trade_code.description_fr %>
              </a>
            </dd>
          </dl>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate collection %>
