<h2>New split: handle distribution</h2>
<%= nested_form_for @nomenclature_change, url: wizard_path, method: :put do |f| %>
  <%= error_messages_for(@nomenclature_change) %>

  <%= f.fields_for :input do |ff| %>

      <%= ff.fields_for :input_distribution_reassignments do |fff| %>
        <%= fff.object.reassignable.geo_entity.name %>
        <%= fff.select :nomenclature_change_output_id,
          options_for_select(
            @nomenclature_change.outputs.map{ |o| [o.taxon_concept.full_name, o.id] },
          )
        %>
      <% end %>

  <% end %>

  <%= render 'admin/nomenclature_changes/build/cancel_button' %>
  <%= f.submit "Next" %>
<% end %>