<h2>New split: nomenclature notes</h2>
<%= nested_form_for @nomenclature_change, url: wizard_path, method: :put do |f| %>
  <%= error_messages_for(@nomenclature_change) %>

  <%= f.fields_for :input do |ff| %>
    <label>
      <%= ff.object.taxon_concept.full_name %>
      <%= ff.text_area :note %>
    </label>
  <% end %>

  <%= f.fields_for :outputs do |ff| %>
    <label>
      <%= ff.object.taxon_concept.try(:full_name) %>
      <%= ff.text_area :note %>
    </label>
  <% end %>

  <%= render 'admin/nomenclature_changes/build/cancel_button' %>
  <%= f.submit "Next" %>
<% end %>