<h2>New split: nomenclature change notes</h2>
<%= nomenclature_change_form do |f| %>
  <%= f.fields_for :input do |ff| %>
    <div class="control-group">
      <label class="control-label">
        <%= ff.object.taxon_concept.try(:full_name) || ff.object.new_full_name %>
      </label>
      <div class="controls">
        <%= ff.text_area :note, {:rows => 4} %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :outputs do |ff| %>
    <div class="control-group">
      <label class="control-label">
        <%= ff.object.taxon_concept.try(:full_name) || ff.object.new_full_name %>
      </label>
      <div class="controls">
        <%= ff.text_area :note, {:rows => 4} %>
      </div>
    </div>
  <% end %>
<% end %>