<h2>New split: outputs</h2>

<p>
  <i class="icon-info-sign"></i> Leave the first field empty and fill in the rest to create a new taxon concept. To amend an existing taxon concept, fill in those properties that need to be amended.
</p>

<%= nomenclature_change_form do |f| %>
  <div class="control-group">
    <label class="control-label">Select taxa to split into:</label>
    <div class="controls">
      <%= f.fields_for :outputs do |ff| %>
        <!-- TODO figure out the restrictions on the auto complete here, none for now -->
        <div class="control-group">
          <label class="control-label">Taxon concept:</label>
          <div class="controls">
            <%= ff.text_field :taxon_concept_id, {
              :class => 'taxon-concept',
              :'data-name' => ff.object.taxon_concept.try(:full_name)
            } %>
          </div>
        </div>
        <%= ff.hidden_field :new_rank_id, :value => ff.object.new_rank_id ||
          f.object.input.taxon_concept.rank_id %>
        <div class="control-group">
          <label class="control-label">Parent:</label>
          <div class="controls">
            <!-- TODO figure out the restrictions on the auto complete here, none for now -->
            <%= ff.text_field :new_parent_id, {
              :class => 'taxon-concept',
              :'data-name' => ff.object.new_parent.try(:full_name)
            } %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Name:</label>
          <div class="controls">
            <%= ff.text_field :new_scientific_name %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Author & year:</label>
          <div class="controls">
            <%= ff.text_field :new_author_year %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Name status:</label>
          <div class="controls">
            <%= ff.select :new_name_status, options_for_select(['A', 'N']) %>
            <%= ff.link_to_remove "Remove" %>
          </div>
        </div>
      <% end %>
      <p><%= f.link_to_add "Add", :outputs %></p>
    </div>
  </div>
<% end %>
