<h2>New split</h2>

<%= nomenclature_change_form do |f| %>
  <div class="control-group">
    <label class="control-label">Select taxa to split into:</label>
    <div class="controls">
      <%= f.fields_for :outputs do |ff| %>
        <!-- TODO figure out the restrictions on the auto complete here, none for now -->
        <%= ff.text_field :taxon_concept_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.taxon_concept.try(:full_name)
        } %>
        <%= ff.link_to_remove "Remove" %>
      <% end %>
      <p><%= f.link_to_add "Add", :outputs %></p>
    </div>
  </div>
<% end %>
