<h2>New split: outputs</h2>
<%= split_blurb %>

<h3>Select taxa to split into:</h3>

<%= nomenclature_change_form do |f| %>
  <ol>
  <%= f.fields_for :outputs do |ff| %>
    <li>
    <div class="control-group">
      <label class="control-label">Taxon concept:</label>
      <div class="controls">
        <%= ff.text_field :taxon_concept_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.taxon_concept.try(:full_name),
          :'data-taxonomy-id' => @taxonomy.id,
          :'data-name-status' => ff.object.taxon_concept.try(:name_status),
          :'data-name-status-filter' => ['A', 'N', 'S', 'T'].to_json
        } %>
        <%= ff.link_to_remove 'Remove output' %>
      </div>
    </div>
    <div class="well">
      <p>
        <i class="icon-info-sign"></i>Please provide additional details if required.
      </p>
      <div class="control-group">
        <label class="control-label">Parent:</label>
        <div class="controls">
          <!-- TODO figure out the restrictions on the auto complete here, none for now -->
          <%= ff.text_field :new_parent_id, {
            :class => 'taxon-concept',
            :'data-name' => ff.object.new_parent.try(:full_name),
            :'data-name-status' => ff.object.new_parent.try(:name_status),
            :'data-name-status-filter' => ['A'].to_json,
            :'data-taxonomy-id' => @taxonomy.id
          } %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Name:</label>
        <div class="controls">
          <%= ff.text_field :new_scientific_name %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Author & year:</label>
        <div class="controls">
          <%= ff.text_field :new_author_year %>
        </div>
      </div>
    </div>
    </li>
  <% end %>
  <p><%= f.link_to_add 'Add another output', :outputs %></p>
  </ol>
<% end %>
