<%= form_for [:admin, @user], :remote => true, html: {class: 'form-horizontal'} do |f| %>
  <%= error_messages_for(@user) %>
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <% if @user.new_record? || @user == current_user || current_user.is_manager? %>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password confirmation</label>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label">CITES Authority</label>
    <div class="controls">
      <%= f.check_box :is_cites_authority %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Organisation</label>
    <div class="controls">
      <%= f.text_field :organisation%>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Country</label>
    <div class="controls">
      <%= f.select :geo_entity_id,
        options_for_select(
          @countries.map{ |c| [c.name, c.id] },
          @user.geo_entity_id
        )
      %>
    </div>
  </div>
  <% if current_user.is_manager? %>
    <div class="control-group">
      <label class="control-label">Role</label>
      <div class="controls">
        <%= f.select :role, User::ROLES_FOR_DISPLAY.to_a.map(&:reverse) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Active</label>
      <div class="controls">
        <%= f.check_box :is_active %>
      </div>
    </div>
  <% end %>
<% end %>
