<div id="chart"></div>
<%= include_gon %>
<p>Chart showing the number of searches and pageviews of species -- grouped by week.</p>
<div id="chart"></div>

<script>
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        gon.taxon_concept,
        gon.search
      ]
    },
    axis: {
      x: {
        type: "category",
        categories: gon.weeks
      }
    }
});
</script>
<script>
  $('.c3-axis-x g.tick text').on('click', function() {
    location.pathname = '/activities/' + this.innerHTML;
  });
</script>

<% if @weekly_topten.length > 0 %>
<table>
  <tr>
    <th>Count</th><th>Species</th>
  </tr>
<% for entry in @weekly_topten %>
  <tr>
    <td><%= entry.count %></td><td><%= entry.species %></td>
  </tr>
<% end %>
</table>
<% end %>

<%= render template: 'activities/toptens_cms' %>
<%= render template: 'activities/toptens_cites' %>
