<strong class="title more">QUOTAS</strong>
{{#unless citesQuotas}}
  {{#if citesQuotasIsLoading}}
    {{ partial 'species/spinner'}}
  {{else}}
    <p class="empty">There are no current quotas in place for this {{#tolower rankName}}{{/tolower}}.</p>
  {{/if}}
{{else}}
  <table summary="data table">
    <thead>
      <tr>
        <th class="col2">YEAR</th>
        <th class="col2">COUNTRY</th>
        <th class="col2">QUOTA</th>
        <th class="col6">NOTES</th>
      </tr>
    </thead>
    <tbody {{bind-attr class="controller.citesQuotasExpanded:historic_expanded"}}>
      {{#each quota in currentCitesQuotas}}
        {{#if quota.public_display}}
          <tr class="current">
            <td>{{quota.year}}</td>
            <td>{{quota.geo_entity.name}}</td>
            <td>{{quota.quota}} {{quota.unit.name}}</td>
            <td class="last">
              {{#if quota.subspecies_info}}
                {{{quota.subspecies_info}}}<br />
              {{/if}}
              {{#if quota.notes}}
                {{{quota.notes}}}
                <br /><br />
              {{/if}}
              {{{quota.nomenclature_note_en}}}
              {{#if quota.url}}
                <a class="legal-links" href="{{unbound quota.url}}">
                  CITES export quotas (PDF)
                </a>
              {{/if}}
            </td>
          </tr>
        {{/if}}
      {{else}}
        <tr class="current">
          <td colspan=4>There are no current quotas in place for this {{#tolower controllers.taxonConcept.rankName}}{{/tolower}}.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if historicCitesQuotas}}
    <div {{bind-attr class=":historic controller.citesQuotasExpanded::hidden"}}>
      <table summary="data table">
        <thead>
          <tr>
            <th class="col2">&nbsp;</th>
            <th class="col2">&nbsp;</th>
            <th class="col2">&nbsp;</th>
            <th class="col6">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each quota in historicCitesQuotas}}
            {{#if quota.public_display}}
              <tr>
                <td>{{quota.year}}</td>
                <td>{{quota.geo_entity.name}}</td>
                <td>{{quota.quota}} {{quota.unit.name}}</td>
                <td class="last">
                  {{#if quota.subspecies_info}}
                    {{{quota.subspecies_info}}}<br />
                  {{/if}}
                  {{#if quota.notes}}
                    {{{quota.notes}}}
                    <br /><br />
                  {{/if}}
                  {{{quota.nomenclature_note_en}}}
                  {{#if quota.url}}
                    <a class="legal-links" href="{{unbound quota.url}}">
                      CITES export quotas (PDF)
                    </a>
                  {{/if}}
                </td>
              </tr>
              {{/if}}
            {{/each}}
        </tbody>
      </table>
    </div>
    <div {{bind-attr class=":btn-hloder citesQuotasExpanded:expanded"}}>
      {{#if controller.citesQuotasExpanded}}
        <a class="link active" {{action 'contractList' 'cites_quotas' 'citesQuotasExpanded'}}>HIDE HISTORY</a>
      {{else}}
        <a class="link" {{action 'expandList' 'cites_quotas' 'citesQuotasExpanded'}}>SHOW HISTORY</a>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
