<strong class="title more">Suspensions</strong>
{{#unless controller.citesSuspensions}}
  <p>There are no current suspensions in place for this species.</p>
{{else}}
  <table summary="data table">
    <thead>
      <tr>
        <th class="col1">&nbsp;</th>
        <th class="col2">DATE</th>
        <th class="col3">COUNTRY</th>
        <th class="col4">NOTIFICATION</th>
        <th class="col5">NOTES</th>
        <th class="col1">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each suspension in controller.citesSuspensions}}
        <tr {{bindAttr class="suspension.is_current:current:historic"}}>
          <td>&nbsp;</td>
          <td>[{{suspension.start_date}}-{{suspension.end_date}}]</td>
          <td>{{suspension.geo_entity.name}}</td>
          <td>{{suspension.start_notification.name}}</td>
          <td>{{suspension.notes}}{{suspension.url}}</td>
          <td class="last">&nbsp;</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div {{bindAttr class=":btn-hloder citesSuspensionsExpanded:expanded"}}>
    {{#if citesSuspensionsExpanded}}
      <a class="link" {{action 'contractCitesSuspensions'}}>HIDE HISTORY</a>
    {{else}}
      <a class="link" {{action 'expandCitesSuspensions'}}>SHOW HISTORY</a>
    {{/if}}
  </div>
{{/unless}}
