<strong class="title">CMS LISTING</strong>
{{#unless cmsListings}}
  <p class="empty">This {{#tolower rankName}}{{/tolower}} is not currently listed in the CMS Appendices.</p>
{{else}}
  <table summary="data table">
    <thead>
      <tr>
        <th class="col2">APPENDIX</th>
        <th class="col2">DATE</th>
        <th class="col6">NOTES</th>
      </tr>
    </thead>
    <tbody {{bind-attr class="controller.cmsListingsExpanded:historic_expanded"}}>
      {{#each listing in currentCmsListings}}
        <tr class="current">
          <td>
            <div class="cms_appendix a_{{unbound listing.species_listing_name}}">
              <span>{{listing.species_listing_name}}</span>
            </div>
          </td>
          <td>{{listing.effective_at_formatted}}</td>
          <td class="last">
            {{#if listing.subspecies_info}}
              {{{listing.subspecies_info}}}<br />
            {{/if}}
            {{#if listing.is_inclusion}}
              {{ partial 'species/taxon_concept/inclusion_listing_note' }}
            {{else}}
              {{ partial 'species/taxon_concept/listing_note' }}
            {{/if}}
          </td>
          <td class="last">&nbsp;</td>
        </tr>
      {{else}}
        <tr class="current">
          <td colspan=4>This {{#tolower controllers.taxonConcept.rankName}}{{/tolower}} is not currently listed in the CITES Appendices.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if historicCmsListings}}
    <div {{bind-attr class=":historic controller.cmsListingsExpanded::hidden"}}>
      <table>
        <thead>
          <tr>
            <th class="col2">&nbsp;</th>
            <th class="col2">&nbsp;</th>
            <th class="col6">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each listing in historicCmsListings}}
            <tr>
              <td>
                <div class="cms_appendix a_{{unbound listing.species_listing_name}}">
                  <span>{{listing.species_listing_name}}</span>
                </div>
              </td>
              <td>{{listing.party_full_name}}</td>
              <td>{{listing.effective_at_formatted}}</td>
              <td class="last">
                {{#if listing.subspecies_info}}
                  {{{listing.subspecies_info}}}<br /><br />
                {{/if}}
                {{#if listing.is_inclusion}}
                  {{ partial 'species/taxon_concept/inclusion_listing_note' }}
                {{else}}
                  {{ partial 'species/taxon_concept/listing_note' }}
                {{/if}}
              </td>
              <td class="last">&nbsp;</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div {{bind-attr class=":btn-hloder cmsListingsExpanded:expanded"}}>
      {{#if controller.cmsListingsExpanded}}
        <a class="link active" {{action 'contractList' 'cms_listings' 'cmsListingsExpanded'}}>HIDE HISTORY</a>
      {{else}}
        <a class="link" {{action 'expandList' 'cms_listings' 'cmsListingsExpanded'}}>SHOW HISTORY</a>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
