<strong class="title">EU LISTING</strong>
{{#unless euListings}}
  {{#if euListingsIsLoading}}
    {{ partial 'species/spinner'}}
  {{else}}
    <p class="empty">This {{#tolower rankName}}{{/tolower}} is not currently listed in the EU Annexes.</p>
  {{/if}}
{{else}}
  <table summary="data table">
    <thead>
      <tr>
        <th class="col2">ANNEX</th>
        <th class="col2">COUNTRY</th>
        <th class="col2">DATE</th>
        <th class="col3">NOTES</th>
        <th class="col3">LEGAL NOTICE</th>
      </tr>
    </thead>
    <tbody {{bind-attr class="controller.euListingsExpanded:historic_expanded"}}>
      {{#each listing in currentEuListings}}
        <tr class="current">
          <td>
            <div class="eu_appendix a_{{unbound listing.species_listing_name}}">
              <span>{{listing.species_listing_name}}</span>
              {{#unless listing.is_addition}}
                <span class="subscript">{{listing.change_type}}</span>
              {{/unless}}
            </div>
          </td>
          <td>{{listing.party_full_name}}</td>
          <td>{{listing.effective_at_formatted}}</td>
          <td>
            {{#if listing.subspecies_info}}
              {{{listing.subspecies_info}}}<br />
            {{/if}}
            {{#if listing.is_inclusion}}
              {{ partial 'species/taxon_concept/inclusion_listing_note' }}
            {{else}}
              {{ partial 'species/taxon_concept/listing_note' }}
            {{/if}}
          </td>
          <td class="last">
            {{#if listing.event_url}}
              <a class="legal-links" href="{{unbound listing.event_url}}">
                {{listing.event_name}}
              </a>
            {{else}}
              {{listing.event_name}}
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr class="current">
          <td colspan=4>This {{#tolower controllers.taxonConcept.rankName}}{{/tolower}} is not currently listed in the EU Annexes.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if historicEuListings}}
    <div {{bind-attr class=":historic controller.euListingsExpanded::hidden"}}>
      <table summary="data table">
        <thead>
          <tr>
            <th class="col2">&nbsp;</th>
            <th class="col2">&nbsp;</th>
            <th class="col2">&nbsp;</th>
            <th class="col3">&nbsp;</th>
            <th class="col3">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each listing in historicEuListings}}
            <tr>
              <td>
                <div class="eu_appendix a_{{unbound listing.species_listing_name}}  {{unbound listing.change_type_class}}">
                  <span>{{listing.species_listing_name}}</span>
                  {{#unless listing.is_addition}}
                    <span class="subscript">{{listing.change_type}}</span>
                  {{/unless}}
                </div>
              </td>
              <td>{{listing.party_full_name}}</td>
              <td>{{listing.effective_at_formatted}}</td>
              <td>
                {{#if listing.subspecies_info}}
                  {{{listing.subspecies_info}}}<br />
                {{/if}}
                {{#if listing.is_inclusion}}
                  {{ partial 'species/taxon_concept/inclusion_listing_note' }}
                {{else}}
                  {{ partial 'species/taxon_concept/listing_note' }}
                {{/if}}
              </td>
              <td class="last">
                {{#if listing.event_url}}
                  <a class="legal-links" href="{{unbound listing.event_url}}">
                    {{listing.event_name}}
                  </a>
                {{else}}
                  {{listing.event_name}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div {{bind-attr class=":btn-hloder euListingsExpanded:expanded"}}>
      {{#if controller.euListingsExpanded}}
        <a class="link active" {{action 'contractList' 'eu_listings' 'euListingsExpanded'}}>HIDE HISTORY</a>
      {{else}}
        <a class="link" {{action 'expandList' 'eu_listings' 'euListingsExpanded'}}>SHOW HISTORY</a>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
