<div id="tab1">
  <div class="block06">
    <strong class="title">COUNTRIES AND TERRITORIES</strong>
    {{#unless controllers.taxonConcept.distributions}}
      {{#if controllers.taxonConcept.isCms}}
        Information will be displayed once an automated web feed from the CMS species database
        has been implemented.
      {{/if}}
    {{else}}
      <div class="three-columns">
        <ul class="col">
          {{#eachPart controllers.taxonConcept.distributions parts=3 page=0}}
            <li class="distribution-with-tags">
              <span class="distribution">{{name}}</span>{{formattedTags tags_list}}
            </li>
          {{/eachPart}}
        </ul>
        <ul class="col">
          {{#eachPart controllers.taxonConcept.distributions parts=3 page=1}}
            <li class="distribution-with-tags">
              <span class="distribution">{{name}}</span>{{formattedTags tags_list}}
            </li>
          {{/eachPart}}
        </ul>
        <ul class="col last-child">
          {{#eachPart controllers.taxonConcept.distributions parts=3 page=2}}
            <li class="distribution-with-tags">
              <span class="distribution">{{name}}</span>{{formattedTags tags_list}}
            </li>
          {{/eachPart}}
        </ul>
      </div>
    {{/unless}}
  </div>
</div>
