<div id="tab1">
  <div class="block06">
    <strong class="title">COUNTRIES</strong>
    <div class="three-columns">
      <ul class="col">
        {{#eachPart controllers.taxonConcept.distributions parts=3 page=0}}
        <li>{{name_en}} {{formattedTags tags_list}}</li>
        {{/eachPart}}
      </ul>
      <ul class="col">
        {{#eachPart controllers.taxonConcept.distributions parts=3 page=1}}
        <li>{{name_en}} {{formattedTags tags_list}}</li>
        {{/eachPart}}
      </ul>
      <ul class="col last-child">
        {{#eachPart controllers.taxonConcept.distributions parts=3 page=2}}
        <li>{{name_en}} {{formattedTags tags_list}}</li>
        {{/eachPart}}
      </ul>
    </div>
  </div>
</div>
