<div id="documents">
  {{#if anyDocumentsLoading}}
    <p>Please wait... <img src="/assets/loading.gif"></p>
  {{else}}
    {{#if anyDocumentsPresent}}
  <div class="block">
    {{documents-header
      isVisible=controller.citesCopProposalsDocsPresent
      meetingType="CITES CoP Proposals"
      meetingTypeId="cites_cop"
    }}

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          isVisible=controller.citesCopProposalsDocsPresent
          eventType="CitesCop"
          dataController=controller
          loadMore=controller.citesCopProposalsDocsLoadMore
          documents=controller.citesCopProposalsDocuments.docs
          proposalOutcome=true
        }}
      </tbody>
    </table>

    {{documents-header
      isVisible=controller.citesAcDocsDocsPresent
      meetingType="CITES Review of Significant Trade"
      meetingTypeId="cites_rst_animals"
    }}

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          isVisible=controller.citesAcDocsDocsPresent
          eventType="CitesAc,CitesTc"
          dataController=controller
          loadMore=controller.citesAcDocsLoadMore
          documents=controller.citesAcDocuments.docs
        }}
      </tbody>
    </table>

    {{documents-header
      isVisible=controller.citesPcDocsDocsPresent
      meetingType="CITES Review of Significant Trade"
      meetingTypeId="cites_rst_plants"
    }}

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          isVisible=controller.citesPcDocsDocsPresent
          eventType="CitesPc"
          dataController=controller
          loadMore=controller.citesPcDocsLoadMore
          documents=controller.citesPcDocuments.docs
        }}
      </tbody>
    </table>

    {{documents-header
      isVisible=controller.euSrgDocsPresent
      meetingType="EU Scientific Review Group"
      meetingTypeId="eu_srg"
    }}

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          isVisible=controller.euSrgDocsPresent
          eventType="EcSrg"
          dataController=controller
          loadMore=controller.euSrgDocsLoadMore
          documents=controller.euSrgDocuments.docs
        }}
      </tbody>
    </table>

    {{documents-header
      isVisible=controller.otherDocsPresent
      meetingType="Inter-sessional documents"
      meetingTypeId="other"
    }}

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          isVisible=controller.otherDocsPresent
          eventType="Other"
          dataController=controller
          loadMore=controller.otherDocsLoadMore
          documents=controller.otherDocuments.docs
        }}
      </tbody>
    </table>
  </div>
  {{else}}
    <p>There are currently no documents available for your search.</p>
    <p>For further details on specific taxa and to check for CITES listings, please refer to <a href="http://speciesplus.net">speciesplus.net</a>.</p>
  {{/if}}
{{/if}}
</div>
