<div id="documents">
  <div class="block">
    <div id="eu_srg" class="doc-section">
      <h2>EC SRG</h2>
      {{documents-table documents=controllers.taxonConcept.ec_srg_docs}}
    </div>
    <div id="cites_cop" class="doc-section">
      <h2>CITES CoP</h2>
      {{documents-table documents=controllers.taxonConcept.cites_cop_docs}}
    </div>
    <div id="cites_ac" class="doc-section">
      <h2>CITES Animals Committee</h2>
      {{documents-table documents=controllers.taxonConcept.cites_ac_docs}}
    </div>
    <div id="cites_pc" class="doc-section">
      <h2>CITES Plants Committee</h2>
      {{documents-table documents=controllers.taxonConcept.cites_pc_docs}}
    </div>
    <div id="no_event" class="doc-section">
      <h2>Other</h2>
      {{documents-table documents=controllers.taxonConcept.no_event_docs}}
    </div>
  </div>
</div>
