<div id="documents">
  <div class="block">

    <h2 id="cites_cop">CITES CoP Proposals</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesCop"
          dataController=controller
          loadMore=controller.citesCopProposalsDocsLoadMore
          documents=controller.citesCopProposalsDocuments.docs
          proposalOutcome=true
          isLoading=controller.citesCopProposalsDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="cites_rst_animals">CITES Review of Significant Trade (animals)</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesAc,CitesTc"
          dataController=controller
          loadMore=controller.citesAcDocsLoadMore
          documents=controller.citesAcDocuments.docs
          isLoading=controller.citesAcDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="cites_rst_plants">CITES Review of Significant Trade (plants)</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesPc"
          dataController=controller
          loadMore=controller.citesPcDocsLoadMore
          documents=controller.citesPcDocuments.docs
          isLoading=controller.citesPcDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="eu_srg" >EU Scientific Review Group</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="EcSrg"
          dataController=controller
          loadMore=controller.euSrgDocsLoadMore
          documents=controller.euSrgDocuments.docs
          isLoading=controller.euSrgDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="other">Inter-sessional documents</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="Other"
          dataController=controller
          loadMore=controller.otherDocsLoadMore
          documents=controller.otherDocuments.docs
          isLoading=controller.otherDocsIsLoading}}
      </tbody>
    </table>

  </div>
</div>
