<div id="documents">
  <div class="block">

    <h2 id="eu_srg" >EC SRG</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="EcSrg"
          dataController=controller
          loadMore=controller.ecSrgDocsLoadMore
          documents=controller.ecSrgDocuments.docs
          isLoading=controller.ecSrgDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="cites_cop">CITES CoP</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesCop"
          dataController=controller
          loadMore=controller.citesCopDocsLoadMore
          documents=controller.citesCopDocuments.docs
          proposalOutcome=true
          isLoading=controller.citesCopDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="cites_ac">CITES Animals Committee</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesAc"
          dataController=controller
          loadMore=controller.citesAcDocsLoadMore
          documents=controller.citesAcDocuments.docs
          reviewPhase=true
          isLoading=controller.citesAcDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="cites_pc">CITES Plants Committee</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="CitesPc"
          dataController=controller
          loadMore=controller.citesPcDocsLoadMore
          documents=controller.citesPcDocuments.docs
          reviewPhase=true
          isLoading=controller.citesPcDocsIsLoading}}
      </tbody>
    </table>

    <h2 id="other">Other</h2>

    <table class="grouped-results-table">
      <tbody>
        {{documents-results
          eventType="other"
          dataController=controller
          loadMore=controller.otherDocsLoadMore
          documents=controller.otherDocuments.docs
          isLoading=controller.otherDocsIsLoading}}
      </tbody>
    </table>

  </div>
</div>
