<div id="full-note-legal" style="display:none">
  <a href="#" {{action "close"}} class="close">close</a>
  <strong class="title">Full note</strong>
  <div class="content"></div>
</div>
<div id="tab1">
  {{#with controllers.taxonConcept}}
    <div {{bindAttr class=":block anyHistoricCitesListings citesListingsExpanded:active"}} id="cites_listings">
      <h2>CITES</h2>
      {{ partial 'species/taxon_concept/cites_listings' }}
    </div>
	
    <div {{bindAttr class=":block :add anyHistoricCitesQuotas"}} id="cites_quotas">
      <strong class="title" id="cites_restrictions">CITES RESTRICTIONS</strong>
      {{ partial 'species/taxon_concept/cites_quotas' }}
    </div>

    <div {{bindAttr class=":block :add anyHistoricCitesSuspensions"}} id="cites_suspensions">
      {{ partial 'species/taxon_concept/cites_suspensions' }}
    </div>

    <hr />

    <div {{bindAttr class=":block :add anyHistoricEuListings"}} id="eu_listings">
      <h2>EU Wildlife Trade Regulations</h2>
      {{ partial 'species/taxon_concept/eu_listings' }}
    </div>
    <div {{bindAttr class=":block :add anyHistoricEuDecisions"}} id="eu_decisions">
      {{ partial 'species/taxon_concept/eu_decisions' }}
    </div>
  {{/with}}
</div>
