<div id="full-note-legal" style="display:none">
  <a href="#" {{action "close"}} class="close">close</a>
  <strong class="title">Full note</strong>
  <div class="content"></div>
</div>
<div id="tab1">
  {{#with controllers.taxonConcept}}
    <div {{bindAttr class=":block anyHistoricCitesListings"}} id="cites_listings">
      <h2>CITES</h2>
      {{ partial 'species/taxon_concept/cites_listings' }}
    </div>
	
    <div {{bindAttr class=":block :add anyHistoricCitesQuotas"}} id="cites_quotas">
      <strong class="title">CITES RESTRICTIONS</strong>
      {{ partial 'species/taxon_concept/cites_quotas' }}
    </div>

    <div {{bindAttr class=":block :add anyHistoricCitesSuspensions"}} id="cites_suspensions">
      {{ partial 'species/taxon_concept/cites_suspensions' }}
    </div>

    <hr />

    <div {{bindAttr class=":block :add anyHistoricEuListings"}} id="eu_listings">
      <h2>EU Wildlife Trade Regulations</h2>
      {{ partial 'species/taxon_concept/eu_listings' }}
    </div>
  {{/with}}
  <div class="block block01" id="eu_decisions">
    <strong class="title">EU DECISIONS</strong>
    <table summary="data table">
      <thead>
        <tr>
          <th class="col1">&nbsp;</th>
          <th class="col2">DATE</th>
          <th class="col3">COUNTRY<br />OF ORIGIN</th>
          <th class="col8">SRG<br />OPINION</th>
          <th class="col9">SUSPENSIONS</th>
          <th class="col10">NOTES</th>
          <th class="col7">DOCUMENT</th>
          <th class="col1">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="current">
          <td>&nbsp;</td>
          <td>15/07/04</td>
          <td>Namibia</td>
          <td>Negative</td>
          <td>Art. 4.6 b</td>
          <td>Live wild specimens</td>
          <td>Commission Reg. (EC) No 757/2012 of 20 August 2012</td>
          <td class="last">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
