<div id="tab1">
  <div class="block block02">
    <strong class="title">COMMON NAMES</strong>
    <table summary="data table" id="common_names">
      <thead>
        <tr>
          <th class="col11">LANGUAGE</th>
          <th class="col12">NAME</th>
        </tr>
      </thead>
      <tbody>
        {{#each commonName in controllers.taxonConcept.commonNames}}
          <tr {{ bindAttr class="commonName.official_language::historic"}}>
            <td>{{commonName.lang}}</td>
            <td>{{commonName.names}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div {{bindAttr class=":btn-hloder commonNamesExpanded:expanded"}}>
      {{#if controller.commonNamesExpanded}}
        <a href="#" class="link" {{action 'contractCommonNames'}}>HIDE EXTRA LANGUAGES</a>
      {{else}}
        <a href="#" class="link" {{action 'expandCommonNames'}}>SHOW MORE LANGUAGES</a>
      {{/if}}
    </div>
  </div>
  <div class="block04">
    <strong class="title">SYNONYMS</strong>
    <div class="columns-holder">
      <ul class="col">
        {{#eachPart controllers.taxonConcept.synonyms parts=2 page=0}}
        <li>{{full_name}} {{author_year}}</li>
        {{/eachPart}}
      </ul>
      <ul class="col">
        {{#eachPart controllers.taxonConcept.synonyms parts=2 page=1}}
        <li>{{full_name}} {{author_year}}</li>
        {{/eachPart}}
      </ul>
    </div>
  </div>
  <div class="block04 block05">
    <strong class="title">SUBSPECIES</strong>
    <div class="columns-holder">
      <ul class="col">
      </ul>
      <ul class="col">
      </ul>
    </div>
  </div>
</div>
