<thead>
  <th width="20%">Relationship type</th>
  <th>Name</th>
  <th width="10%">Actions</th>
</thead>
<tbody>
  <% collection.each do |geo_relationship| -%>
    <tr>
      <td>
        <a href="#"
          id="geo-relationship-<%= geo_relationship.id %>"
          class="editable editable-click editable-required"
          data-type="select" data-resource="geo_relationship"
          data-name="designation_id" data-placeholder="Required"
          data-original-title="Enter the geo relationship's type"
          data-url="<%= resource_url(geo_relationship) %>"
          data-pk="<%= geo_relationship.id %>">
          <%= geo_relationship.geo_relationship_type.name %>
        </a>
      </td>
      <td>
        <a href="#" class="editable editable-click editable-required"
          data-type="text" data-resource="geo_relationship"
          data-name="other_geo_entity_id" data-placeholder="Required"
          data-original-title="Enter the related entity's name"
          data-source="/api/geo_relationship_types/"
          data-url="<%= resource_url(geo_relationship) %>"
          data-pk="<%= geo_relationship.id %>">
          <%= geo_relationship.related_geo_entity.name %>
        </a>
      </td>
      <td>
        <%= link_to 'Delete', resource_url(geo_relationship), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end -%>
</tbody>