<thead>
  <th>Id</th>
  <th>Class</th>
  <th>Taxon Concept (status)</th>
  <th>Author year</th>
  <th>CMS Name</th>
  <th>CMS Author</th>
  <th width="25%">Details</th>
</thead>
<tbody>
  <% collection.each do |map| -%>
    <% tc = map.taxon_concept %>
    <tr>
      <td><%= tc && tc.id %></td>
      <td><%= tc && tc.data["class_name"] %></td>
      <td><%= tc && link_to("#{tc.full_name} (#{tc.name_status})",
        admin_taxon_concept_names_path(tc)) %></td>
      <td><%= tc && tc.author_year %></td>
      <td><%= map.cms_taxon_name %></td>
      <td><%= map.cms_author %></td>
      <td>
        <ul>
          <li>Distributions:</li>
          <li>S+: <%= map.details['distributions_splus'] %></li>
          <li>CMS: <%= map.details['distributions_cms'] %></li>
          <li>Instruments:</li>
          <li>S+: <%= map.details['instruments_splus'] %></li>
          <li>CMS: <%= map.details['instruments_cms'] %></li>
          <li>Listing:</li>
          <li>S+: <%= map.details['listing_splus'] %></li>
          <li>CMS: <%= map.details['listing_cms'] %></li>
        </ul>
      </td>
    </tr>
  <% end -%>
</tbody>
