<div class="admin-header">
  <h3><%= @designation.name %> Listings</h3>
  <div class="action-buttons">
    <%= admin_add_new_button(
      :resource => 'listing_change',
      :href => new_admin_taxon_concept_designation_listing_change_url(@taxon_concept, @designation),
      :name => "Add a new #{@designation.name} Listing",
      :"data-toggle" => nil,
      :role => nil
    ) %>
  </div>
</div>

<%= admin_new_modal{ '' } %>

<%= admin_table %>

<%= paginate collection %>

