<% if @taxon_concept.current_eu_suspensions.count > 0 %>
  <table class="eu_suspension table table-bordered table-striped">
    <thead>
      <th>Year</th>
      <th>Party</th>
      <th>Comments</th>
      <th>Current</th>
    </thead>

    <tbody>
    <% @taxon_concept.current_eu_suspensions.each do |suspension| %>

      <tr>
        <td><%= suspension.year %></td>
        <td><%= suspension.geo_entity && suspension.geo_entity.iso_code2 %></td>
        <td><%= suspension.comments %></td>
        <td>
          <%= form_for [:admin, @taxon_concept, suspension], :remote => true do |f| %>
            <%= f.check_box :is_current %>
          <% end %>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>
<% else %>
  There are no current EU suspensions for this Taxon Concept.
<% end %>
