<thead>
  <th>Year</th>
  <th>Law</th>
  <th>Party</th>
  <th>Term</th>
  <th>Source</th>
  <th>Restriction</th>
  <th>Restriction Notes</th>
  <th>Comments</th>
  <th>Current</th>
  <th>Conditions Apply</th>
  <th>Actions</th>
</thead>
<tbody>
  <% collection.each do |suspension| -%>
    <tr class="<%= if suspension.is_current? then "current_listing" end %>">
      <td><%= suspension.year %></td>
      <td></td>
      <td><%= suspension.geo_entity && suspension.geo_entity.iso_code2 %></td>
      <td><%= suspension.term && suspension.term.code %></td>
      <td><%= suspension.source && suspension.source.code %></td>
      <td><%= suspension.restriction %></td>
      <td><%= suspension.restriction_text %></td>
      <td><%= suspension.comments %></td>
      <td><%= true_false_icon(suspension.is_current) %></td>
      <td><%= true_false_icon(suspension.conditions_apply) %></td>
      <td>
        <%= link_to edit_icon,
          edit_admin_taxon_concept_eu_suspension_path(@taxon_concept, suspension)
        %>
        <%= link_to delete_icon,
          admin_taxon_concept_eu_suspension_path(@taxon_concept, suspension),
          :confirm => "Are you sure?", :method => :delete
        %>
      </td>
    </tr>
  <% end -%>
</tbody>

