<div class="species-connect">
  <a href="#">
    <span>Species+</span> CONNECT
    <i class="fa fa-caret-<%=flash[:alert] ? 'up' : 'down' %>"></i>
    <%=
      content_tag(:div, content_tag(:p, (flash[:alert] || flash[:notice]), class: "error-message"),
        {id: "flash_alert", class: "error-box"}) if (flash[:alert] || flash[:notice])
    %>
  </a>
</div>
<div class="species-login-form round-text-inputs" style="display: <%= flash[:alert] ? 'block' : 'none' %>">
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <div class="species-login-email">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="species-login-password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'CONNECT', class: "round-button" %><br />
    <div class="species-login-forgot">
      <%= link_to "Forgot password?", new_password_path(:user) %>
    </div>
  <% end %>
</div>
