<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta itemprop="description" content="<%= t('cites_description') %>" />
  <meta name="description" content="<%= t('cites_description') %>" />
  <meta itemprop="name" content="<%= t('cites_title') %>">
  <%= stylesheet_link_tag "cites_trade" %>
  <%= javascript_include_tag "cites_trade" %>
  <script>
    var locale = "<%= I18n.locale %>";
  </script>
  <title><%= t('cites_title') %></title>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49231962-1', 'auto');
      ga('send', 'pageview');

    </script>

    <%= render "cites_trade/hotjar" %>
  <% end %>
</head>

<body class="markeeta">
  <div class="container clearfix">
    <div class="grid_16 cites_header">
      <div style="text-align: center;position:relative;width:'100%'">
        <a href="http://trade.cites.org/" target="_blank">
          <%= image_tag "cites_trade/cites_banner_en.jpg", width: '100%', alt: "CITES" %>
        </a>
      </div>
    </div>

    <div id="language_links" class="linkStyle">
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "Espanol", :locale=>'es'%>
        <%= link_to "Francais", :locale=>'fr'%>
      <%end%>

      <% if I18n.locale == :es %>
        <%= link_to "English", :locale=>'en'%>
        <%= link_to "Francais", :locale=>'fr'%>
      <%end%>

      <% if I18n.locale == :fr %>
        <%= link_to "English", :locale=>'en'%>
        <%= link_to "Espanol", :locale=>'es'%>
      <%end%>
    </div>

    <br><br>
  <%= yield %>
  <div class="container clearfix">
  <div class="grid_16 footer">
  <br />
  <div class='grid_14' align="center">
  <font size="-2" face="Verdana, Arial, Helvetica, sans-serif">
  The CITES Trade Database was developed and is maintained by UNEP-WCMC on behalf of the CITES Secretariat.
  :&nbsp;<br>
  <a href="http://www.cites.org">CITES</a> |
  <a href="http://www.unep-wcmc.org">UNEP-WCMC</a> |
  <a href="https://www.speciesplus.net">Species+</a> |
  <a href="https://tradeview.cites.org/<%= I18n.locale.to_s %>">CITES Wildlife TradeView</a> |
  <a href="mailto:species@unep-wcmc.org" target="_blank"> Contact Us </a>
  </font>
  </div>
  <div class='grid_1' align='right' ><a href="/"><img src="https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+grey.svg" alt="UNEP-WCMC" width="100" height="52" border="0" float='right'></a></div>
  </div>

  <!-- UserVoice JavaScript SDK (only needed once on a page) -->
  <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/uYdwK4zYfiO4lbGJSYu2Vw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

  <!-- A tab to launch the Classic Widget -->
  <script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
      mode: 'feedback',
      primary_color: '#ffffff',
      link_color: '#55a336',
      forum_id: 246762,
      feedback_tab_name: 'Feedback',
      tab_label: 'Feedback',
      tab_color: '#469c56',
      tab_position: 'middle-right',
      tab_inverted: true
    }]);
  </script>
</body>
</html>
