<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>Species+</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag "pages" %>
    <%= javascript_include_tag "pages" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "species/analytics" %>
    <%= render "species/ga" %>
    <%= render "species/hotjar" %>
  </head>
  <body class="inner">
    <a href="#feedback_modal" class="btn-fixed-vertical btn-page-feedback">Feedback</a>
    <%= render "shared/cookie_banner" %>
    <%= render "layouts/logged_header" %>
    <%= render "layouts/feedback_modal" %>
    <%= render "layouts/login_modal" %>
    <div id="wrapper">
      <div class="w1">
        <div id="header">
          <strong class="logo"><a href="/species">Species+</a></strong>
          <ul id="nav">
            <li><a href="/about">About</a></li>
            <li class="add"><a href="#">Related Resources</a>
            <div class="popup-holder">
              <ul>
                <li><a href="http://checklist.cites.org">Checklist of CITES Species</a></li>
                <li><a href="http://trade.cites.org">CITES Trade Database</a></li>
                <li><a href="http://api.speciesplus.net">Species+ / CITES Checklist API</a></li>
                <li><a href="http://captivebreeding.unep-wcmc.org">EU Captive breeding database</a></li>
                <li><a href="/eu_legislation">EU Wildlife Trade Legislation</a></li>
                <li><a href="https://ec.europa.eu/environment/cites/reports_en.htm">EU analysis</a></li>
                <li><a href="https://tradeview.cites.org/">CITES Wildlife TradeView</a></li>
                <li><a href="https://ndfsupport.unep-wcmc.org/">NDF Support Tool</a></li>
              </ul>
            </div>
            </li>
            <li><a href="/terms-of-use">Terms of use</a></li>
          </ul>
        </div>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
