<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>Species+</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "species" %>
    <script type="text/javascript">
      EmberENV = {FEATURES: {'query-params-new' : true}};
    </script>
    <%= javascript_include_tag "species" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "species/analytics" %>
    <%= render "species/ga" %>
    <%= render "species/hotjar" %>
  </head>
  <body class="inner">
    <div class="spinner"><%= image_tag "species/loader.gif" %></div>

    <noscript>
      Javascript must be enabled for the correct page display
    </noscript>
    <%= yield %>

    <div class="top-level-container">
      <a href="#feedback_modal" class="btn-fixed-vertical btn-page-feedback">Feedback</a>

      <%= render "shared/cookie_banner" %>
      <%= render "layouts/logged_header" %>
      <div id="ember_app"></div>
      <%= render "layouts/login_modal" %>
      <%= render "layouts/feedback_modal" %>
      <%= render "layouts/footer" %>
      <div class="skip">
        <a href="#main">skip to content</a>
      </div>
    </div>
  </body>
</html>
