<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trade Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "trade" %>
    <script type="text/javascript">
      EmberENV = {FEATURES: {'query-params-new' : true}};
    </script>
    <%= javascript_include_tag "trade" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
